```
Run vendor/bin/phpunit
  vendor/bin/phpunit
  shell: sh -e {0}
  env:
    DB_CONNECTION: sqlite
    DB_DATABASE: database/database.sqlite
PHPUnit 9.5.11 by Sebastian Bergmann and contributors.

Warning:       Your XML configuration validates against a deprecated schema.
Suggestion:    Migrate your XML configuration using "--migrate-configuration"!

..............                                                    14 / 14 (100%)

Time: 00:01.760, Memory: 36.50 MB

OK (14 tests, 40 assertions)
```
