```
  Determining projects to restore...
  All projects are up-to-date for restore.
  Casper.Network.SDK -> /workspace/casper-net-sdk/Casper.Network.SDK/bin/Debug/net5.0/Casper.Network.SDK.dll
  Casper.Network.SDK.Test -> /workspace/casper-net-sdk/Casper.Network.SDK.Test/bin/Debug/net5.0/Casper.Network.SDK.Test.dll
Test run for /workspace/casper-net-sdk/Casper.Network.SDK.Test/bin/Debug/net5.0/Casper.Network.SDK.Test.dll (.NETCoreApp,Version=v5.0)
Microsoft (R) Test Execution Command Line Tool Version 16.9.4
Copyright (c) Microsoft Corporation.  All rights reserved.

Starting test execution, please wait...
A total of 1 test files matched the specified pattern.

Passed!  - Failed:     0, Passed:   155, Skipped:     0, Total:   155, Duration: 3 s - /workspace/casper-net-sdk/Casper.Network.SDK.Test/bin/Debug/net5.0/Casper.Network.SDK.Test.dll (net5.0)
```

