 ```
 
 PASS  src/components/web/NFTs/CreateNFTs/Index.test.jsx
 PASS  src/app/web-extension/App.test.js
 PASS  src/app/web/App.test.js
 PASS  src/components/Common/SendReceive/index.test.jsx
 PASS  src/components/web-extension/Send/index.test.jsx
 PASS  src/components/Common/Layout/Stake/UnDelegateForm.test.jsx
 PASS  src/components/Common/Layout/HeadingComponent/Heading.test.jsx
 PASS  src/components/Common/Layout/Stake/DelegateForm.test.jsx
 PASS  src/components/Common/Layout/HeadingComponent/Heading.empty.ledgers.test.jsx
 PASS  src/components/Common/Layout/HeadingComponent/LedgerKeysModal.test.jsx
 PASS  src/components/web/KeyManager/index.test.jsx
 PASS  src/components/web-extension/Staking/Confirm.test.jsx
 PASS  src/components/web-extension/ConnectAccount/ConnectDevice.test.jsx
 PASS  src/components/web/Tokens/index.test.jsx
 PASS  src/components/web/Stake/index.test.jsx
 PASS  src/components/web-extension/Send/SendForm.test.jsx
 PASS  src/components/web-extension/ConnectAccount/AddPublicKey.test.jsx
 PASS  src/components/web/Wallets/index.test.jsx
 PASS  src/components/Common/Layout/Stake/SelectField.test.jsx
 PASS  src/components/web/NFTs/index.test.jsx
 PASS  src/components/web-extension/Common/Header/Header.test.jsx
 PASS  src/components/hooks/useCasperSigner.test.js
 PASS  src/components/web-extension/Staking/index.test.jsx
 PASS  src/components/Common/SendReceive/ConfirmModal.test.jsx
 PASS  src/components/web-extension/Staking/Undelegate.test.jsx
 PASS  src/components/web-extension/Common/SearchValidator/index.test.jsx
 PASS  src/components/web/History/index.test.jsx
 PASS  src/components/Common/Layout/HeadingComponent/AddPublicKeyModal.test.jsx
 PASS  src/components/web-extension/Dashboard/index.test.jsx
 PASS  src/components/web-extension/Common/TransactionHistory/index.test.jsx
 PASS  src/components/web-extension/Settings/Index.test.jsx
 PASS  src/components/Common/Layout/Modal/AddTokenModal.test.jsx
 PASS  src/actions/signerActions.test.js
 PASS  src/components/web/NFTs/NFTModal.test.jsx
 PASS  src/components/web-extension/TokenInfo/AddToken.test.jsx
 PASS  src/components/web-extension/Common/Account/index.test.jsx
 PASS  src/components/web-extension/Receive/index.test.jsx
 PASS  src/components/Common/Layout/Stake/Modal.test.jsx
 PASS  src/components/web/KeyManager/EditModal.test.jsx
 PASS  src/components/web-extension/NFTs/NFTDetails/index.test.jsx
 PASS  src/components/Common/Layout/Stake/UnlockSingerWarning.test.jsx
 PASS  src/components/Common/Layout/Modal/MessageModal.test.jsx
 PASS  src/components/web-extension/DeployDetails/index.test.jsx
 PASS  src/services/userServices.test.js
 PASS  src/components/Common/Layout/Stake/ValidatorInfo.test.jsx
 PASS  src/components/Common/Layout/Stake/Table.test.jsx
 PASS  src/components/Common/Button/CommonAction.test.jsx
 PASS  src/components/web-extension/NFTs/index.test.jsx
 PASS  src/components/web/Stake/Button.test.jsx
 PASS  src/components/Common/Layout/TransactionList/AllTransactionList.test.jsx
 PASS  src/components/web/Tokens/TokenInfo.test.jsx
 PASS  src/components/web/KeyManager/AttributeRow.test.jsx
 PASS  src/components/Common/Layout/Stake/ConfirmingTransactionsInfo.test.jsx
 PASS  src/components/web-extension/ConnectAccount/index.test.jsx
 PASS  src/components/web-extension/Staking/StakingGrid/UndelegateButton.test.jsx
 PASS  src/components/Common/Image/ImagePreview.test.jsx
 PASS  src/components/web/KeyManager/KeyList.test.jsx
 PASS  src/components/Common/Configurations/index.test.jsx
 PASS  src/components/web-extension/Send/TokenSelectField.test.jsx
 PASS  src/components/Common/TokenList/index.test.jsx
 PASS  src/components/web-extension/Common/Layout/BottomBar.test.jsx
 PASS  src/components/web-extension/TokenInfo/index.test.jsx
 PASS  src/components/Common/SideBar/index.test.jsx
 PASS  src/components/Common/Auth/WithAccount.test.jsx
 PASS  src/components/web-extension/Common/Layout/index.test.jsx
 PASS  src/components/web-extension/Market/index.test.jsx
 PASS  src/services/nftServices.test.js
 PASS  src/components/hooks/useLedger.test.js
 PASS  src/helpers/validator.test.js
 PASS  src/services/casperServices.test.js
 PASS  src/components/web-extension/Common/SendReceiveButtons/index.test.jsx
 PASS  src/services/ledgerServices.test.js
 PASS  src/components/Common/Layout/Stake/Form.test.jsx
 PASS  src/components/Common/Layout/Modal/CurrencyModalRow.test.jsx
 PASS  src/components/Common/Layout/index.test.jsx
 PASS  src/components/Common/Page404/index.test.jsx
 PASS  src/actions/userActions.test.js
 PASS  src/services/stakeService.test.js
 PASS  src/components/Common/Layout/Modal/Row.test.jsx
 PASS  src/components/Common/Layout/Modal/SuccessRow.test.jsx
 PASS  src/components/Common/Layout/Stake/TableActions.test.jsx
 PASS  src/components/Common/Layout/Stake/EmptyDelegation.test.jsx
 PASS  src/selectors/signer.test.js
 PASS  src/components/web-extension/Common/Header/InnerHeader.test.jsx
 PASS  src/components/hooks/useStakeDeploys.test.js
 PASS  src/components/web-extension/Common/Header/OuterHeader.test.jsx
 PASS  src/services/tokenServices.test.js
 PASS  src/components/web-extension/Common/Layout/OuterLayout.test.jsx
 PASS  src/components/Common/Layout/Modal/SingleCurrencyRow.test.jsx
 PASS  src/components/hooks/useTokensInfo.test.js
 PASS  src/components/hooks/useTransferDeploys.test.js
 PASS  src/components/Common/Layout/Chart/index.test.jsx
 PASS  src/selectors/NFTs.test.js
 PASS  src/selectors/user.test.js
 PASS  src/helpers/currency.test.js
 PASS  src/helpers/format.test.js
 PASS  src/selectors/keyManager.test.js
 PASS  src/actions/priceActions.test.js
 PASS  src/helpers/transaction.test.js
 PASS  src/store/reducers/userReducer.test.js
 PASS  src/components/web/index.test.js
 PASS  src/actions/configurationActions.test.js
 PASS  src/helpers/extension/tab.test.js
 PASS  src/store/reducers/signerReducer.test.js
 PASS  src/selectors/validator.test.js
 PASS  src/selectors/validator.empty.test.js
 PASS  src/actions/deployActions.test.js
 PASS  src/actions/keyManagerActions.test.js
 PASS  src/store/reducers/keysManager.test.js
 PASS  src/selectors/settings.test.js
 PASS  src/actions/tokensActions.test.js
 PASS  src/helpers/identicon.test.js
 PASS  src/store/reducers/request.test.js
 PASS  src/store/reducers/stakes.test.js
 PASS  src/selectors/tokens.test.js
 PASS  src/actions/NFTActions.test.js
 PASS  src/helpers/keyManager.test.js
 PASS  src/selectors/stake.test.js
 PASS  src/actions/settingActions.test.js
 PASS  src/actions/stakeActions.test.js
 PASS  src/services/localStorage.test.js
 PASS  src/selectors/deploy.test.js
 PASS  src/helpers/balance.test.js
 PASS  src/store/reducers/tokens.test.js
 PASS  src/helpers/key.test.js
 PASS  src/actions/fileActions.test.js
 PASS  src/selectors/request.test.js
 PASS  src/helpers/redirect.test.js
 PASS  src/store/reducers/nfts.test.js
 PASS  src/store/reducers/deploy.test.js
 PASS  src/selectors/price.test.js
 PASS  src/helpers/nft.test.js
 PASS  src/store/reducers/settings.test.js
(node:9031) UnhandledPromiseRejectionWarning: Error: Error on build set account weight deploy
(Use `node --trace-warnings ...` to show where the warning was created)
(node:9031) UnhandledPromiseRejectionWarning: Unhandled promise rejection. This error originated either by throwing inside of an async function without a catch block, or by rejecting a promise which was not handled with .catch(). To terminate the node process on unhandled promise rejection, use the CLI flag `--unhandled-rejections=strict` (see https://nodejs.org/api/cli.html#cli_unhandled_rejections_mode). (rejection id: 3)
(node:9031) [DEP0018] DeprecationWarning: Unhandled promise rejections are deprecated. In the future, promise rejections that are not handled will terminate the Node.js process with a non-zero exit code.
(node:9031) UnhandledPromiseRejectionWarning: Error: Error on build set account deployment deploy
(node:9031) UnhandledPromiseRejectionWarning: Unhandled promise rejection. This error originated either by throwing inside of an async function without a catch block, or by rejecting a promise which was not handled with .catch(). To terminate the node process on unhandled promise rejection, use the CLI flag `--unhandled-rejections=strict` (see https://nodejs.org/api/cli.html#cli_unhandled_rejections_mode). (rejection id: 4)
(node:9031) UnhandledPromiseRejectionWarning: Error: Error on build set account threshold deploy
(node:9031) UnhandledPromiseRejectionWarning: Unhandled promise rejection. This error originated either by throwing inside of an async function without a catch block, or by rejecting a promise which was not handled with .catch(). To terminate the node process on unhandled promise rejection, use the CLI flag `--unhandled-rejections=strict` (see https://nodejs.org/api/cli.html#cli_unhandled_rejections_mode). (rejection id: 5)
 PASS  src/services/keyManager.test.js
----------------------------------------------------|---------|----------|---------|---------|------------------------------------------------------------------
File                                                | % Stmts | % Branch | % Funcs | % Lines | Uncovered Line #s                                                
----------------------------------------------------|---------|----------|---------|---------|------------------------------------------------------------------
All files                                           |   84.89 |    74.16 |   78.82 |    85.2 |                                                                  
 actions                                            |     100 |    83.92 |     100 |     100 |                                                                  
  NFTActions.js                                     |     100 |       75 |     100 |     100 | 56-112                                                           
  configurationActions.js                           |     100 |      100 |     100 |     100 |                                                                  
  deployActions.js                                  |     100 |    91.66 |     100 |     100 | 102                                                              
  fileActions.js                                    |     100 |      100 |     100 |     100 |                                                                  
  keyManagerActions.js                              |     100 |      100 |     100 |     100 |                                                                  
  priceActions.js                                   |     100 |      100 |     100 |     100 |                                                                  
  settingActions.js                                 |     100 |      100 |     100 |     100 |                                                                  
  signerActions.js                                  |     100 |      100 |     100 |     100 |                                                                  
  stakeActions.js                                   |     100 |    66.66 |     100 |     100 | 25,31-33,44                                                      
  tokensActions.js                                  |     100 |    83.33 |     100 |     100 | 15                                                               
  userActions.js                                    |     100 |      100 |     100 |     100 |                                                                  
 app/web                                            |   83.33 |      100 |     100 |   83.33 |                                                                  
  App.js                                            |     100 |      100 |     100 |     100 |                                                                  
  index.js                                          |       0 |      100 |     100 |       0 | 5                                                                
 app/web-extension                                  |   81.81 |       75 |      80 |      90 |                                                                  
  App.js                                            |     100 |      100 |     100 |     100 |                                                                  
  index.js                                          |       0 |      100 |     100 |       0 | 5                                                                
  routeConfig.js                                    |   66.66 |       50 |      50 |     100 | 54                                                               
 components/Common/Auth                             |     100 |      100 |     100 |     100 |                                                                  
  WithAccount.jsx                                   |     100 |      100 |     100 |     100 |                                                                  
 components/Common/Button                           |     100 |      100 |     100 |     100 |                                                                  
  CommonAction.jsx                                  |     100 |      100 |     100 |     100 |                                                                  
  Copy.jsx                                          |     100 |      100 |     100 |     100 |                                                                  
  ViewInExplorer.jsx                                |     100 |      100 |     100 |     100 |                                                                  
 components/Common/Configurations                   |      80 |        0 |     100 |      80 |                                                                  
  index.jsx                                         |      80 |        0 |     100 |      80 | 14-15                                                            
 components/Common/Image                            |   84.61 |      100 |   66.66 |   84.61 |                                                                  
  ImagePreview.jsx                                  |   84.61 |      100 |   66.66 |   84.61 | 14-15                                                            
 components/Common/Layout                           |   96.29 |       80 |    87.5 |     100 |                                                                  
  index.jsx                                         |   96.29 |       80 |    87.5 |     100 | 23-40                                                            
 components/Common/Layout/Chart                     |     100 |      100 |     100 |     100 |                                                                  
  index.jsx                                         |     100 |      100 |     100 |     100 |                                                                  
 components/Common/Layout/HeadingComponent          |   89.55 |    89.65 |      75 |   89.55 |                                                                  
  AddPublicKeyModal.jsx                             |   83.33 |      100 |      80 |   83.33 | 18-19                                                            
  Heading.jsx                                       |   97.61 |       92 |      90 |   97.61 | 62                                                               
  LedgerKeysModal.jsx                               |   69.23 |       50 |      40 |   69.23 | 19,24-25,49                                                      
 components/Common/Layout/Modal                     |    90.9 |      100 |      90 |    90.9 |                                                                  
  AddTokenModal.jsx                                 |   83.33 |      100 |      80 |   83.33 | 18-19                                                            
  CurrencyModalRow.jsx                              |     100 |      100 |     100 |     100 |                                                                  
  MessageModal.jsx                                  |     100 |      100 |     100 |     100 |                                                                  
  Row.jsx                                           |     100 |      100 |     100 |     100 |                                                                  
  SingleCurrencyRow.jsx                             |     100 |      100 |     100 |     100 |                                                                  
  SuccessRow.jsx                                    |     100 |      100 |     100 |     100 |                                                                  
 components/Common/Layout/Stake                     |   97.93 |    92.18 |   95.12 |     100 |                                                                  
  ConfirmingTransactionsInfo.jsx                    |     100 |      100 |     100 |     100 |                                                                  
  DelegateForm.jsx                                  |   96.87 |     87.5 |   91.66 |     100 | 51-75                                                            
  EmptyDelegation.jsx                               |     100 |      100 |     100 |     100 |                                                                  
  Form.jsx                                          |     100 |      100 |     100 |     100 |                                                                  
  Modal.jsx                                         |     100 |      100 |     100 |     100 |                                                                  
  OptLabel.jsx                                      |     100 |      100 |     100 |     100 |                                                                  
  SelectField.jsx                                   |     100 |      100 |     100 |     100 |                                                                  
  Table.jsx                                         |     100 |      100 |     100 |     100 |                                                                  
  TableActions.jsx                                  |     100 |      100 |     100 |     100 |                                                                  
  UnDelegateForm.jsx                                |   96.66 |       80 |    90.9 |     100 | 35-118                                                           
  UnlockSingerWarning.jsx                           |     100 |      100 |     100 |     100 |                                                                  
  ValidatorInfo.jsx                                 |     100 |      100 |     100 |     100 |                                                                  
 components/Common/Layout/TransactionList           |     100 |      100 |     100 |     100 |                                                                  
  AllTransactionList.jsx                            |     100 |      100 |     100 |     100 |                                                                  
 components/Common/MiddleTruncatedText              |     100 |      100 |     100 |     100 |                                                                  
  index.jsx                                         |     100 |      100 |     100 |     100 |                                                                  
 components/Common/NoData                           |     100 |      100 |     100 |     100 |                                                                  
  index.jsx                                         |     100 |      100 |     100 |     100 |                                                                  
 components/Common/Page404                          |     100 |      100 |     100 |     100 |                                                                  
  index.jsx                                         |     100 |      100 |     100 |     100 |                                                                  
 components/Common/SendReceive                      |   76.92 |    78.78 |   70.58 |   78.94 |                                                                  
  ConfirmModal.jsx                                  |     100 |     92.3 |     100 |     100 | 85                                                               
  index.jsx                                         |   71.87 |       70 |   64.28 |   74.19 | 44,50,64-73,88                                                   
 components/Common/SideBar                          |   85.71 |      100 |   66.66 |   84.61 |                                                                  
  index.jsx                                         |   85.71 |      100 |   66.66 |   84.61 | 190,206                                                          
 components/Common/Spinner                          |   66.66 |    14.28 |   33.33 |   66.66 |                                                                  
  Bar.jsx                                           |      50 |        0 |       0 |      50 | 4                                                                
  Circle.jsx                                        |      50 |        0 |       0 |      50 | 4                                                                
  TailSpin.jsx                                      |     100 |    33.33 |     100 |     100 | 3                                                                
  index.js                                          |       0 |        0 |       0 |       0 |                                                                  
 components/Common/TokenList                        |     100 |    83.33 |     100 |     100 |                                                                  
  index.jsx                                         |     100 |    83.33 |     100 |     100 | 4,19                                                             
 components/hooks                                   |   70.21 |    56.52 |   54.16 |   71.66 |                                                                  
  useAutoRefreshEffect.js                           |     100 |       75 |     100 |     100 | 15                                                               
  useCasperSigner.js                                |   38.29 |    21.42 |    12.5 |      40 | 43-47,53,57-60,65,70-85,90-95                                    
  useConfirmDeploy.js                               |   67.85 |        0 |   66.66 |   67.85 | 16-20,32-41                                                      
  useLedger.js                                      |     100 |      100 |     100 |     100 |                                                                  
  useSigner.js                                      |      75 |    33.33 |     100 |      75 | 17-23                                                            
  useStakeDeploys.js                                |   79.54 |    70.83 |   76.92 |   84.61 | 78-83                                                            
  useTokensInfo.js                                  |   81.81 |        0 |      50 |   81.81 | 20-21                                                            
  useTransferDeploys.js                             |   66.66 |    72.72 |      50 |   64.28 | 20,24-27                                                         
 components/web                                     |     100 |      100 |     100 |     100 |                                                                  
  index.js                                          |     100 |      100 |     100 |     100 |                                                                  
 components/web-extension/Common/Account            |     100 |      100 |     100 |     100 |                                                                  
  index.jsx                                         |     100 |      100 |     100 |     100 |                                                                  
 components/web-extension/Common/Grid               |     100 |    79.41 |     100 |     100 |                                                                  
  index.jsx                                         |     100 |    79.41 |     100 |     100 | 9,17,27,44,70                                                    
 components/web-extension/Common/Header             |     100 |      100 |     100 |     100 |                                                                  
  Header.jsx                                        |     100 |      100 |     100 |     100 |                                                                  
  InnerHeader.jsx                                   |     100 |      100 |     100 |     100 |                                                                  
  OuterHeader.jsx                                   |     100 |      100 |     100 |     100 |                                                                  
  index.jsx                                         |       0 |        0 |       0 |       0 |                                                                  
 components/web-extension/Common/Layout             |   96.15 |      100 |    90.9 |     100 |                                                                  
  BottomBar.jsx                                     |     100 |      100 |     100 |     100 |                                                                  
  OuterLayout.jsx                                   |     100 |      100 |     100 |     100 |                                                                  
  index.jsx                                         |   95.23 |      100 |    87.5 |     100 |                                                                  
 components/web-extension/Common/SearchValidator    |     100 |      100 |     100 |     100 |                                                                  
  index.jsx                                         |     100 |      100 |     100 |     100 |                                                                  
 components/web-extension/Common/SendReceiveButtons |     100 |      100 |     100 |     100 |                                                                  
  index.jsx                                         |     100 |      100 |     100 |     100 |                                                                  
 components/web-extension/Common/TransactionHistory |     100 |      100 |     100 |     100 |                                                                  
  index.jsx                                         |     100 |      100 |     100 |     100 |                                                                  
 components/web-extension/ConnectAccount            |     100 |      100 |     100 |     100 |                                                                  
  AddPublicKey.jsx                                  |     100 |      100 |     100 |     100 |                                                                  
  ConnectDevice.jsx                                 |     100 |      100 |     100 |     100 |                                                                  
  index.jsx                                         |     100 |      100 |     100 |     100 |                                                                  
 components/web-extension/Dashboard                 |     100 |      100 |     100 |     100 |                                                                  
  index.jsx                                         |     100 |      100 |     100 |     100 |                                                                  
 components/web-extension/DeployDetails             |     100 |      100 |     100 |     100 |                                                                  
  index.jsx                                         |     100 |      100 |     100 |     100 |                                                                  
 components/web-extension/Market                    |     100 |      100 |     100 |     100 |                                                                  
  index.jsx                                         |     100 |      100 |     100 |     100 |                                                                  
 components/web-extension/NFTs                      |   91.89 |    73.68 |   85.71 |   91.89 |                                                                  
  NFTCard.jsx                                       |   66.66 |      100 |   66.66 |   66.66 | 13-14                                                            
  NFTGrid.jsx                                       |     100 |       75 |     100 |     100 | 6,20                                                             
  Sort.jsx                                          |     100 |      100 |     100 |     100 |                                                                  
  index.jsx                                         |   95.45 |    57.14 |   83.33 |   95.45 | 57                                                               
 components/web-extension/NFTs/NFTDetails           |   71.42 |      100 |   66.66 |   71.42 |                                                                  
  index.jsx                                         |   71.42 |      100 |   66.66 |   71.42 | 22-23                                                            
 components/web-extension/Receive                   |   88.88 |      100 |   66.66 |   88.88 |                                                                  
  index.jsx                                         |   88.88 |      100 |   66.66 |   88.88 | 20                                                               
 components/web-extension/Send                      |      74 |    65.51 |   61.11 |   75.51 |                                                                  
  ConfirmSend.jsx                                   |   52.63 |    16.66 |      20 |   55.55 | 25,29,41-67                                                      
  SendForm.jsx                                      |      90 |    76.47 |      75 |      90 | 24,28                                                            
  TokenField.jsx                                    |     100 |       50 |     100 |     100 | 8                                                                
  TokenSelectField.jsx                              |      60 |      100 |   66.66 |      60 | 18-19                                                            
  index.jsx                                         |     100 |      100 |     100 |     100 |                                                                  
 components/web-extension/Settings                  |    62.5 |      100 |      40 |    62.5 |                                                                  
  index.jsx                                         |    62.5 |      100 |      40 |    62.5 | 19-37,49                                                         
 components/web-extension/Staking                   |   94.28 |       80 |   88.88 |   94.28 |                                                                  
  Confirm.jsx                                       |   93.75 |    77.77 |   66.66 |   93.75 | 30                                                               
  Undelegate.jsx                                    |   95.65 |    78.57 |     100 |   95.65 | 50                                                               
  index.jsx                                         |   93.54 |    82.35 |   88.88 |   93.54 | 68,119                                                           
 components/web-extension/Staking/StakingGrid       |   84.61 |       25 |      60 |   84.61 |                                                                  
  StakingInfo.jsx                                   |   83.33 |        0 |      50 |   83.33 | 22                                                               
  UndelegateButton.jsx                              |   85.71 |       50 |   66.66 |   85.71 | 20                                                               
 components/web-extension/TokenInfo                 |   72.22 |    28.57 |      75 |   72.22 |                                                                  
  AddToken.jsx                                      |   64.28 |        0 |   66.66 |   64.28 | 24-31                                                            
  index.jsx                                         |     100 |    66.66 |     100 |     100 | 27                                                               
 components/web/History                             |     100 |      100 |     100 |     100 |                                                                  
  index.jsx                                         |     100 |      100 |     100 |     100 |                                                                  
 components/web/KeyManager                          |   66.27 |    59.18 |      60 |   66.66 |                                                                  
  AttributeRow.jsx                                  |   83.33 |    72.72 |   66.66 |   83.33 | 25                                                               
  ConfirmDeployModal.jsx                            |     100 |      100 |     100 |     100 |                                                                  
  EditModal.jsx                                     |     100 |      100 |     100 |     100 |                                                                  
  KeyList.jsx                                       |     100 |      100 |     100 |     100 |                                                                  
  index.jsx                                         |   58.82 |    46.87 |   43.75 |   59.09 | 63-65,72-73,83-84,88,92-93,98-116,120-132,140-147,155-163,243    
 components/web/NFTs                                |    62.5 |    61.76 |   55.55 |    62.5 |                                                                  
  NFTCard.jsx                                       |   66.66 |      100 |   66.66 |   66.66 | 15-16                                                            
  NFTModal.jsx                                      |      50 |       75 |      50 |      50 | 11-14,31-32                                                      
  NFTTab.jsx                                        |     100 |       40 |     100 |     100 | 4-13                                                             
  index.jsx                                         |   63.15 |    53.33 |      50 |   63.15 | 49-50,59-62,67,71-78,117                                         
 components/web/NFTs/CreateNFTs                     |   49.61 |    28.81 |    32.5 |      50 |                                                                  
  ContractField.jsx                                 |      50 |      100 |       0 |      50 | 4                                                                
  DeployConfirmModal.jsx                            |      40 |    14.28 |      20 |      40 | 21-28,32-33,37-38,43-61,66-67,71-72,156                          
  NFTAttributeRow.jsx                               |      80 |      100 |      50 |      80 | 29                                                               
  NFTHistory.jsx                                    |   66.66 |        0 |      50 |   66.66 | 24                                                               
  NFTMintForm.jsx                                   |   36.84 |        5 |      20 |    37.5 | 34-38,42-55,59-60,65-84,89-92,96-100,104-109,113-114,118-119,172 
  SelectField.jsx                                   |      50 |       50 |   33.33 |      50 | 16-17                                                            
  index.jsx                                         |      84 |       90 |   71.42 |      84 | 50-52,89                                                         
 components/web/Stake                               |   90.47 |     86.2 |   88.88 |   90.24 |                                                                  
  Button.jsx                                        |     100 |      100 |     100 |     100 |                                                                  
  index.jsx                                         |      90 |    85.18 |    87.5 |   89.74 | 41-42,49,112                                                     
 components/web/Tokens                              |   97.43 |      100 |   91.66 |   97.29 |                                                                  
  TokenInfo.jsx                                     |     100 |      100 |     100 |     100 |                                                                  
  index.jsx                                         |   97.29 |      100 |    90.9 |   97.14 | 69                                                               
 components/web/Wallets                             |     100 |      100 |     100 |     100 |                                                                  
  index.jsx                                         |     100 |      100 |     100 |     100 |                                                                  
 config                                             |   81.81 |       50 |     100 |   81.81 |                                                                  
  index.js                                          |   81.81 |       50 |     100 |   81.81 | 44,48                                                            
 constants                                          |     100 |       50 |     100 |     100 |                                                                  
  icon.js                                           |     100 |      100 |     100 |     100 |                                                                  
  key.js                                            |     100 |       50 |     100 |     100 | 12-17                                                            
  keysManager.js                                    |     100 |      100 |     100 |     100 |                                                                  
  ledger.js                                         |     100 |      100 |     100 |     100 |                                                                  
  nft.js                                            |     100 |      100 |     100 |     100 |                                                                  
  settings.js                                       |     100 |      100 |     100 |     100 |                                                                  
  stack.js                                          |     100 |      100 |     100 |     100 |                                                                  
 helpers                                            |   99.34 |       95 |     100 |   99.33 |                                                                  
  balance.js                                        |     100 |      100 |     100 |     100 |                                                                  
  currency.js                                       |     100 |      100 |     100 |     100 |                                                                  
  format.js                                         |   97.29 |    92.59 |     100 |   97.29 | 45                                                               
  identicon.js                                      |     100 |      100 |     100 |     100 |                                                                  
  key.js                                            |     100 |      100 |     100 |     100 |                                                                  
  keyManager.js                                     |     100 |       50 |     100 |     100 | 7                                                                
  nft.js                                            |     100 |      100 |     100 |     100 |                                                                  
  redirect.js                                       |     100 |      100 |     100 |     100 |                                                                  
  transaction.js                                    |     100 |      100 |     100 |     100 |                                                                  
  validator.js                                      |     100 |    98.36 |     100 |     100 | 13                                                               
 helpers/extension                                  |   44.44 |        0 |      50 |   44.44 |                                                                  
  tab.js                                            |   44.44 |        0 |      50 |   44.44 | 8-13                                                             
 selectors                                          |    80.8 |    59.21 |    75.6 |   80.95 |                                                                  
  NFTs.js                                           |   71.62 |    58.92 |      68 |   72.46 | 64,91-93,99-102,117-123,148-155                                  
  deploy.js                                         |     100 |      100 |     100 |     100 |                                                                  
  keyManager.js                                     |   86.95 |       80 |    87.5 |   90.47 | 13,31                                                            
  price.js                                          |     100 |    66.66 |     100 |     100 | 10-14                                                            
  request.js                                        |     100 |      100 |     100 |     100 |                                                                  
  settings.js                                       |     100 |      100 |     100 |     100 |                                                                  
  signer.js                                         |     100 |      100 |     100 |     100 |                                                                  
  stake.js                                          |     100 |       80 |     100 |     100 | 3,32                                                             
  tokens.js                                         |   78.57 |     62.5 |      75 |   78.57 | 9,14,46                                                          
  user.js                                           |   51.51 |    14.81 |   33.33 |      50 | 22,28,42-45,59-83,88-90,97-98                                    
  validator.js                                      |     100 |      100 |     100 |     100 |                                                                  
 services                                           |   88.17 |    70.73 |   88.88 |   88.05 |                                                                  
  casperServices.js                                 |     100 |      100 |     100 |     100 |                                                                  
  configurationServices.js                          |   54.54 |    57.14 |   66.66 |   54.54 | 26-32                                                            
  keyManager.js                                     |   83.72 |    33.33 |   88.88 |   83.72 | 92,108,124,138,149-151                                           
  ledgerServices.js                                 |   94.44 |    70.58 |     100 |   94.28 | 45-46                                                            
  localStorage.js                                   |     100 |      100 |     100 |     100 |                                                                  
  nftServices.js                                    |   69.23 |       50 |      75 |   69.23 | 42-43,51,62-75                                                   
  request.js                                        |   66.66 |      100 |       0 |   66.66 | 19-20                                                            
  stakeServices.js                                  |     100 |      100 |     100 |     100 |                                                                  
  tokenServices.js                                  |     100 |      100 |     100 |     100 |                                                                  
  userServices.js                                   |     100 |      100 |     100 |     100 |                                                                  
 shared                                             |   66.66 |    33.33 |       0 |   66.66 |                                                                  
  constants.js                                      |   66.66 |    33.33 |       0 |   66.66 | 10,26                                                            
 store                                              |   67.85 |      100 |       0 |   67.85 |                                                                  
  actionTypes.js                                    |     100 |      100 |     100 |     100 |                                                                  
  index.js                                          |      40 |      100 |       0 |      40 | 47,51,61-73                                                      
 store/reducers                                     |   97.91 |    93.61 |     100 |   97.91 |                                                                  
  deploys.js                                        |     100 |    85.71 |     100 |     100 | 7                                                                
  keysManager.js                                    |     100 |      100 |     100 |     100 |                                                                  
  nfts.js                              a             |     100 |      100 |     100 |     100 |                                                                  
  request.js                                        |     100 |      100 |     100 |     100 |                                                                  
  settings.js                                       |     100 |      100 |     100 |     100 |                                                                  
  signerReducer.js                                  |     100 |      100 |     100 |     100 |                                                                  
  stakes.js                                         |     100 |    85.71 |     100 |     100 | 7                                                                
  tokens.js                                         |     100 |      100 |     100 |     100 |                                                                  
  userReducer.js                                    |      75 |    83.33 |     100 |      75 | 13                                                               
----------------------------------------------------|---------|----------|---------|---------|------------------------------------------------------------------

Test Suites: 134 passed, 134 total
Tests:       454 passed, 454 total
Snapshots:   0 total
Time:        6.611 s, estimated 9 s
Ran all test suites.

```
