```

Showing All Messages
Test Suite 'All tests' started at 2022-06-19 19:13:52.367
Test Suite 'CasperSDKObjectiveCTests.xctest' started at 2022-06-19 19:13:52.370
Test Suite 'Ed25519CryptoTest' started at 2022-06-19 19:13:52.371
Test Case '-[Ed25519CryptoTest testAll]' started.
Test Case '-[Ed25519CryptoTest testAll]' passed (0.024 seconds).
Test Case '-[Ed25519CryptoTest testKeyGeneration]' started.
Test Case '-[Ed25519CryptoTest testKeyGeneration]' passed (0.004 seconds).
Test Suite 'Ed25519CryptoTest' passed at 2022-06-19 19:13:52.401.
	 Executed 2 tests, with 0 failures (0 unexpected) in 0.028 (0.030) seconds
Test Suite 'GetAuctionInfoTest' started at 2022-06-19 19:13:52.402
Test Case '-[GetAuctionInfoTest testGetAuctionInfo]' started.
2022-06-19 19:13:53.647814+0300 xctest[14183:238254] [boringssl] boringssl_metrics_log_metric_block_invoke(153) Failed to log metrics
2022-06-19 19:13:57.494357+0300 xctest[14183:238251] [boringssl] boringssl_metrics_log_metric_block_invoke(153) Failed to log metrics
2022-06-19 19:14:05.425107+0300 xctest[14183:238252] [boringssl] boringssl_metrics_log_metric_block_invoke(153) Failed to log metrics
2022-06-19 19:14:06.653089+0300 xctest[14183:238252] [boringssl] boringssl_metrics_log_metric_block_invoke(153) Failed to log metrics
2022-06-19 19:14:06.805706+0300 xctest[14183:237709] Error get block with error message:get-auction-info failed to get specified block and error code:-32001
2022-06-19 19:14:07.275966+0300 xctest[14183:238426] [boringssl] boringssl_metrics_log_metric_block_invoke(153) Failed to log metrics
2022-06-19 19:14:07.431220+0300 xctest[14183:237709] Error get block with error message:get-auction-info failed to get specified block and error code:-32001
Test Case '-[GetAuctionInfoTest testGetAuctionInfo]' passed (15.030 seconds).
Test Suite 'GetAuctionInfoTest' passed at 2022-06-19 19:14:07.434.
	 Executed 1 test, with 0 failures (0 unexpected) in 15.030 (15.032) seconds
Test Suite 'GetBalanceTest' started at 2022-06-19 19:14:07.435
Test Case '-[GetBalanceTest testGetBalance]' started.
2022-06-19 19:14:07.966273+0300 xctest[14183:238251] [boringssl] boringssl_metrics_log_metric_block_invoke(153) Failed to log metrics
Test Case '-[GetBalanceTest testGetBalance]' passed (0.876 seconds).
Test Suite 'GetBalanceTest' passed at 2022-06-19 19:14:08.312.
	 Executed 1 test, with 0 failures (0 unexpected) in 0.876 (0.878) seconds
Test Suite 'GetBlockTest' started at 2022-06-19 19:14:08.314
Test Case '-[GetBlockTest testGetBlock]' started.
2022-06-19 19:14:08.844819+0300 xctest[14183:238426] [boringssl] boringssl_metrics_log_metric_block_invoke(153) Failed to log metrics
2022-06-19 19:14:09.657718+0300 xctest[14183:238251] [boringssl] boringssl_metrics_log_metric_block_invoke(153) Failed to log metrics
2022-06-19 19:14:10.423462+0300 xctest[14183:238426] [boringssl] boringssl_metrics_log_metric_block_invoke(153) Failed to log metrics
2022-06-19 19:14:11.252906+0300 xctest[14183:238443] [boringssl] boringssl_metrics_log_metric_block_invoke(153) Failed to log metrics
2022-06-19 19:14:11.429260+0300 xctest[14183:237709] Error get block with error message:block not known and error code:-32001
2022-06-19 19:14:11.958701+0300 xctest[14183:238254] [boringssl] boringssl_metrics_log_metric_block_invoke(153) Failed to log metrics
2022-06-19 19:14:12.133555+0300 xctest[14183:237709] Error get block with error message:block not known and error code:-32001
Test Case '-[GetBlockTest testGetBlock]' passed (3.822 seconds).
Test Suite 'GetBlockTest' passed at 2022-06-19 19:14:12.136.
	 Executed 1 test, with 0 failures (0 unexpected) in 3.822 (3.823) seconds
Test Suite 'GetBlockTransfersResultTest' started at 2022-06-19 19:14:12.138
Test Case '-[GetBlockTransfersResultTest testGetBlockTransfersResult]' started.
2022-06-19 19:14:12.666272+0300 xctest[14183:238252] [boringssl] boringssl_metrics_log_metric_block_invoke(153) Failed to log metrics
2022-06-19 19:14:13.322706+0300 xctest[14183:238426] [boringssl] boringssl_metrics_log_metric_block_invoke(153) Failed to log metrics
2022-06-19 19:14:13.957836+0300 xctest[14183:238443] [boringssl] boringssl_metrics_log_metric_block_invoke(153) Failed to log metrics
2022-06-19 19:14:14.596903+0300 xctest[14183:238252] [boringssl] boringssl_metrics_log_metric_block_invoke(153) Failed to log metrics
2022-06-19 19:14:14.774942+0300 xctest[14183:237709] Error get block transfer with error message:block not known and error code:-32001
2022-06-19 19:14:15.248832+0300 xctest[14183:238472] [boringssl] boringssl_metrics_log_metric_block_invoke(153) Failed to log metrics
2022-06-19 19:14:15.404497+0300 xctest[14183:237709] Error get block transfer with error message:block not known and error code:-32001
Test Case '-[GetBlockTransfersResultTest testGetBlockTransfersResult]' passed (3.272 seconds).
Test Suite 'GetBlockTransfersResultTest' passed at 2022-06-19 19:14:15.411.
	 Executed 1 test, with 0 failures (0 unexpected) in 3.272 (3.273) seconds
Test Suite 'GetDeployTest' started at 2022-06-19 19:14:15.412
Test Case '-[GetDeployTest testGetDeploy]' started.
2022-06-19 19:14:15.949925+0300 xctest[14183:238252] [boringssl] boringssl_metrics_log_metric_block_invoke(153) Failed to log metrics
2022-06-19 19:14:16.664886+0300 xctest[14183:238254] [boringssl] boringssl_metrics_log_metric_block_invoke(153) Failed to log metrics
2022-06-19 19:14:17.518299+0300 xctest[14183:237709] Total parse:2
2022-06-19 19:14:18.011571+0300 xctest[14183:238251] [boringssl] boringssl_metrics_log_metric_block_invoke(153) Failed to log metrics
Test Case '-[GetDeployTest testGetDeploy]' passed (2.760 seconds).
Test Suite 'GetDeployTest' passed at 2022-06-19 19:14:18.173.
	 Executed 1 test, with 0 failures (0 unexpected) in 2.760 (2.761) seconds
Test Suite 'GetDictionaryItemTest' started at 2022-06-19 19:14:18.174
Test Case '-[GetDictionaryItemTest testGetDictionaryItem]' started.
2022-06-19 19:14:18.655147+0300 xctest[14183:238252] [boringssl] boringssl_metrics_log_metric_block_invoke(153) Failed to log metrics
2022-06-19 19:14:19.447950+0300 xctest[14183:238251] [boringssl] boringssl_metrics_log_metric_block_invoke(153) Failed to log metrics
2022-06-19 19:14:20.240199+0300 xctest[14183:238252] [boringssl] boringssl_metrics_log_metric_block_invoke(153) Failed to log metrics
2022-06-19 19:14:21.091300+0300 xctest[14183:238443] [boringssl] boringssl_metrics_log_metric_block_invoke(153) Failed to log metrics
2022-06-19 19:14:21.909978+0300 xctest[14183:238254] [boringssl] boringssl_metrics_log_metric_block_invoke(153) Failed to log metrics
2022-06-19 19:14:22.602363+0300 xctest[14183:238443] [boringssl] boringssl_metrics_log_metric_block_invoke(153) Failed to log metrics
Test Case '-[GetDictionaryItemTest testGetDictionaryItem]' passed (4.608 seconds).
Test Suite 'GetDictionaryItemTest' passed at 2022-06-19 19:14:22.783.
	 Executed 1 test, with 0 failures (0 unexpected) in 4.608 (4.609) seconds
Test Suite 'GetEraInfoBySwitchBlockTest' started at 2022-06-19 19:14:22.784
Test Case '-[GetEraInfoBySwitchBlockTest testGetEraInfoBySwitchBlock]' started.
2022-06-19 19:14:24.030158+0300 xctest[14183:238252] [boringssl] boringssl_metrics_log_metric_block_invoke(153) Failed to log metrics
2022-06-19 19:14:24.702344+0300 xctest[14183:238472] [boringssl] boringssl_metrics_log_metric_block_invoke(153) Failed to log metrics
2022-06-19 19:14:25.328845+0300 xctest[14183:238472] [boringssl] boringssl_metrics_log_metric_block_invoke(153) Failed to log metrics
2022-06-19 19:14:26.249857+0300 xctest[14183:238254] [boringssl] boringssl_metrics_log_metric_block_invoke(153) Failed to log metrics
2022-06-19 19:14:26.904745+0300 xctest[14183:238251] [boringssl] boringssl_metrics_log_metric_block_invoke(153) Failed to log metrics
Test Case '-[GetEraInfoBySwitchBlockTest testGetEraInfoBySwitchBlock]' passed (4.270 seconds).
Test Suite 'GetEraInfoBySwitchBlockTest' passed at 2022-06-19 19:14:27.055.
	 Executed 1 test, with 0 failures (0 unexpected) in 4.270 (4.271) seconds
Test Suite 'GetItemTest' started at 2022-06-19 19:14:27.056
Test Case '-[GetItemTest testGetItem]' started.
2022-06-19 19:14:27.528272+0300 xctest[14183:238252] [boringssl] boringssl_metrics_log_metric_block_invoke(153) Failed to log metrics
2022-06-19 19:14:28.165142+0300 xctest[14183:238252] [boringssl] boringssl_metrics_log_metric_block_invoke(153) Failed to log metrics
2022-06-19 19:14:28.323547+0300 xctest[14183:237709] Error get item with error message:Invalid params and error code:-32602
2022-06-19 19:14:28.859478+0300 xctest[14183:238472] [boringssl] boringssl_metrics_log_metric_block_invoke(153) Failed to log metrics
2022-06-19 19:14:29.037560+0300 xctest[14183:237709] Error get item with error message:failed to parse key: withdraw-key from string error: Invalid byte `b'f'`, at index 1. and error code:-32002
2022-06-19 19:14:29.524497+0300 xctest[14183:238251] [boringssl] boringssl_metrics_log_metric_block_invoke(153) Failed to log metrics
2022-06-19 19:14:29.683923+0300 xctest[14183:237709] Error get item with error message:state query failed: RootNotFound and error code:-32003
Test Case '-[GetItemTest testGetItem]' passed (2.628 seconds).
Test Suite 'GetItemTest' passed at 2022-06-19 19:14:29.686.
	 Executed 1 test, with 0 failures (0 unexpected) in 2.628 (2.630) seconds
Test Suite 'GetPeerResultTest' started at 2022-06-19 19:14:29.687
Test Case '-[GetPeerResultTest testGetPeerList]' started.
2022-06-19 19:14:30.216914+0300 xctest[14183:238472] [boringssl] boringssl_metrics_log_metric_block_invoke(153) Failed to log metrics
Test Case '-[GetPeerResultTest testGetPeerList]' passed (0.876 seconds).
Test Suite 'GetPeerResultTest' passed at 2022-06-19 19:14:30.565.
	 Executed 1 test, with 0 failures (0 unexpected) in 0.876 (0.878) seconds
Test Suite 'GetStateRootHashTest' started at 2022-06-19 19:14:30.566
Test Case '-[GetStateRootHashTest testGetStateRootHash]' started.
2022-06-19 19:14:31.050294+0300 xctest[14183:238252] [boringssl] boringssl_metrics_log_metric_block_invoke(153) Failed to log metrics
2022-06-19 19:14:31.747682+0300 xctest[14183:238472] [boringssl] boringssl_metrics_log_metric_block_invoke(153) Failed to log metrics
2022-06-19 19:14:32.471840+0300 xctest[14183:238443] [boringssl] boringssl_metrics_log_metric_block_invoke(153) Failed to log metrics
2022-06-19 19:14:33.127604+0300 xctest[14183:238443] [boringssl] boringssl_metrics_log_metric_block_invoke(153) Failed to log metrics
2022-06-19 19:14:33.283734+0300 xctest[14183:237709] Error get state root hash with error message:block not known and error code:-32001
2022-06-19 19:14:33.772425+0300 xctest[14183:238443] [boringssl] boringssl_metrics_log_metric_block_invoke(153) Failed to log metrics
2022-06-19 19:14:33.934425+0300 xctest[14183:237709] Error get state root hash with error message:block not known and error code:-32001
Test Case '-[GetStateRootHashTest testGetStateRootHash]' passed (3.370 seconds).
Test Suite 'GetStateRootHashTest' passed at 2022-06-19 19:14:33.937.
	 Executed 1 test, with 0 failures (0 unexpected) in 3.370 (3.371) seconds
Test Suite 'GetStatusTest' started at 2022-06-19 19:14:33.939
Test Case '-[GetStatusTest testGetStatus]' started.
2022-06-19 19:14:34.524193+0300 xctest[14183:238251] [boringssl] boringssl_metrics_log_metric_block_invoke(153) Failed to log metrics
Test Case '-[GetStatusTest testGetStatus]' passed (0.947 seconds).
Test Suite 'GetStatusTest' passed at 2022-06-19 19:14:34.887.
	 Executed 1 test, with 0 failures (0 unexpected) in 0.947 (0.948) seconds
Test Suite 'PutDeployTest' started at 2022-06-19 19:14:34.888
Test Case '-[PutDeployTest testNegative]' started.
2022-06-19 19:14:39.225278+0300 xctest[14183:238443] [boringssl] boringssl_metrics_log_metric_block_invoke(153) Failed to log metrics
2022-06-19 19:14:39.380272+0300 xctest[14183:237709] Error back is code:-32602 and message:Invalid params
2022-06-19 19:14:44.146287+0300 xctest[14183:238472] [boringssl] boringssl_metrics_log_metric_block_invoke(153) Failed to log metrics
2022-06-19 19:14:48.695160+0300 xctest[14183:238254] [boringssl] boringssl_metrics_log_metric_block_invoke(153) Failed to log metrics
2022-06-19 19:14:48.853360+0300 xctest[14183:237709] Error back is code:-32602 and message:Invalid params
Test Case '-[PutDeployTest testNegative]' passed (13.966 seconds).
Test Case '-[PutDeployTest testPutDeployEd25519]' started.
2022-06-19 19:14:49.329903+0300 xctest[14183:238426] [boringssl] boringssl_metrics_log_metric_block_invoke(153) Failed to log metrics
Test Case '-[PutDeployTest testPutDeployEd25519]' passed (0.635 seconds).
Test Case '-[PutDeployTest testPutDeploySecp256k1]' started.
2022-06-19 19:14:53.906881+0300 xctest[14183:238254] [boringssl] boringssl_metrics_log_metric_block_invoke(153) Failed to log metrics
2022-06-19 19:14:57.497890+0300 xctest[14183:238472] [boringssl] boringssl_metrics_log_metric_block_invoke(153) Failed to log metrics
Test Case '-[PutDeployTest testPutDeploySecp256k1]' passed (8.187 seconds).
Test Suite 'PutDeployTest' passed at 2022-06-19 19:14:57.679.
	 Executed 3 tests, with 0 failures (0 unexpected) in 22.789 (22.791) seconds
Test Suite 'Secp256k1CryptoTest' started at 2022-06-19 19:14:57.680
Test Case '-[Secp256k1CryptoTest testAll]' started.
Test Case '-[Secp256k1CryptoTest testAll]' passed (29.909 seconds).
Test Case '-[Secp256k1CryptoTest testKeyGeneration]' started.
Test Case '-[Secp256k1CryptoTest testKeyGeneration]' passed (3.126 seconds).
Test Suite 'Secp256k1CryptoTest' passed at 2022-06-19 19:15:30.718.
	 Executed 2 tests, with 0 failures (0 unexpected) in 33.035 (33.038) seconds
Test Suite 'Serialization_CLTypeTest' started at 2022-06-19 19:15:30.719
Test Case '-[Serialization_CLTypeTest testCLTypeSerialization]' started.
Test Case '-[Serialization_CLTypeTest testCLTypeSerialization]' passed (0.004 seconds).
Test Suite 'Serialization_CLTypeTest' passed at 2022-06-19 19:15:30.725.
	 Executed 1 test, with 0 failures (0 unexpected) in 0.004 (0.006) seconds
Test Suite 'Serialization_CLValueTest' started at 2022-06-19 19:15:30.726
Test Case '-[Serialization_CLValueTest testCLValueSerialization]' started.
Test Case '-[Serialization_CLValueTest testCLValueSerialization]' passed (0.028 seconds).
Test Suite 'Serialization_CLValueTest' passed at 2022-06-19 19:15:30.757.
	 Executed 1 test, with 0 failures (0 unexpected) in 0.028 (0.031) seconds
Test Suite 'Serialization_DeployTest' started at 2022-06-19 19:15:30.758
Test Case '-[Serialization_DeployTest testDeployApprovalSerialization]' started.
Test Case '-[Serialization_DeployTest testDeployApprovalSerialization]' passed (0.005 seconds).
Test Case '-[Serialization_DeployTest testDeployHeaderSerialization]' started.
Test Case '-[Serialization_DeployTest testDeployHeaderSerialization]' passed (0.004 seconds).
Test Case '-[Serialization_DeployTest testDeploySerialization]' started.
Test Case '-[Serialization_DeployTest testDeploySerialization]' passed (0.003 seconds).
Test Suite 'Serialization_DeployTest' passed at 2022-06-19 19:15:30.776.
	 Executed 3 tests, with 0 failures (0 unexpected) in 0.012 (0.018) seconds
Test Suite 'Serialization_ExecutableDeployItemTest' started at 2022-06-19 19:15:30.778
Test Case '-[Serialization_ExecutableDeployItemTest testExecutableDeployItemSerialization]' started.
Test Case '-[Serialization_ExecutableDeployItemTest testExecutableDeployItemSerialization]' passed (0.019 seconds).
Test Suite 'Serialization_ExecutableDeployItemTest' passed at 2022-06-19 19:15:30.800.
	 Executed 1 test, with 0 failures (0 unexpected) in 0.019 (0.021) seconds
Test Suite 'CasperSDKObjectiveCTests.xctest' passed at 2022-06-19 19:15:30.801.
	 Executed 24 tests, with 0 failures (0 unexpected) in 98.373 (98.431) seconds
Test Suite 'All tests' passed at 2022-06-19 19:15:30.803.
	 Executed 24 tests, with 0 failures (0 unexpected) in 98.373 (98.436) seconds
/Users/yusuf/Library/Developer/Xcode/DerivedData/Casper-ObjectiveC-sdk-dovbcjzdtmpogoeiuytklyeopaqx/Logs/Test/Test-CasperSDKObjectiveC-Package-2022.06.19_19-11-38-+0300.xcresult/Staging/1_Test/Diagnostics/CasperSDKObjectiveCTests-ECD39664-9877-4D94-80D7-3681BA9C6DFA-Configuration-Test Scheme Action-Iteration-1/CasperSDKObjectiveCTests-2FC0179A-55EA-4AD7-9AD0-5062C3A05FEB/Session-CasperSDKObjectiveCTests-2022-06-19_191139-ns7LAH.log

Test Suite 'All tests' started at 2022-06-19 19:13:52.367
Test Suite 'CasperSDKObjectiveCTests.xctest' started at 2022-06-19 19:13:52.370
Test Suite 'Ed25519CryptoTest' started at 2022-06-19 19:13:52.371
Test Case '-[Ed25519CryptoTest testAll]' started.
Test Case '-[Ed25519CryptoTest testAll]' passed (0.024 seconds).
Test Case '-[Ed25519CryptoTest testKeyGeneration]' started.
Test Case '-[Ed25519CryptoTest testKeyGeneration]' passed (0.004 seconds).
Test Suite 'Ed25519CryptoTest' passed at 2022-06-19 19:13:52.401.
	 Executed 2 tests, with 0 failures (0 unexpected) in 0.028 (0.030) seconds
Test Suite 'GetAuctionInfoTest' started at 2022-06-19 19:13:52.402
Test Case '-[GetAuctionInfoTest testGetAuctionInfo]' started.
2022-06-19 19:13:53.647814+0300 xctest[14183:238254] [boringssl] boringssl_metrics_log_metric_block_invoke(153) Failed to log metrics
2022-06-19 19:13:57.494357+0300 xctest[14183:238251] [boringssl] boringssl_metrics_log_metric_block_invoke(153) Failed to log metrics
2022-06-19 19:14:05.425107+0300 xctest[14183:238252] [boringssl] boringssl_metrics_log_metric_block_invoke(153) Failed to log metrics
2022-06-19 19:14:06.653089+0300 xctest[14183:238252] [boringssl] boringssl_metrics_log_metric_block_invoke(153) Failed to log metrics
2022-06-19 19:14:06.805706+0300 xctest[14183:237709] Error get block with error message:get-auction-info failed to get specified block and error code:-32001
2022-06-19 19:14:07.275966+0300 xctest[14183:238426] [boringssl] boringssl_metrics_log_metric_block_invoke(153) Failed to log metrics
2022-06-19 19:14:07.431220+0300 xctest[14183:237709] Error get block with error message:get-auction-info failed to get specified block and error code:-32001
Test Case '-[GetAuctionInfoTest testGetAuctionInfo]' passed (15.030 seconds).
Test Suite 'GetAuctionInfoTest' passed at 2022-06-19 19:14:07.434.
	 Executed 1 test, with 0 failures (0 unexpected) in 15.030 (15.032) seconds
Test Suite 'GetBalanceTest' started at 2022-06-19 19:14:07.435
Test Case '-[GetBalanceTest testGetBalance]' started.
2022-06-19 19:14:07.966273+0300 xctest[14183:238251] [boringssl] boringssl_metrics_log_metric_block_invoke(153) Failed to log metrics
Test Case '-[GetBalanceTest testGetBalance]' passed (0.876 seconds).
Test Suite 'GetBalanceTest' passed at 2022-06-19 19:14:08.312.
	 Executed 1 test, with 0 failures (0 unexpected) in 0.876 (0.878) seconds
Test Suite 'GetBlockTest' started at 2022-06-19 19:14:08.314
Test Case '-[GetBlockTest testGetBlock]' started.
2022-06-19 19:14:08.844819+0300 xctest[14183:238426] [boringssl] boringssl_metrics_log_metric_block_invoke(153) Failed to log metrics
2022-06-19 19:14:09.657718+0300 xctest[14183:238251] [boringssl] boringssl_metrics_log_metric_block_invoke(153) Failed to log metrics
2022-06-19 19:14:10.423462+0300 xctest[14183:238426] [boringssl] boringssl_metrics_log_metric_block_invoke(153) Failed to log metrics
2022-06-19 19:14:11.252906+0300 xctest[14183:238443] [boringssl] boringssl_metrics_log_metric_block_invoke(153) Failed to log metrics
2022-06-19 19:14:11.429260+0300 xctest[14183:237709] Error get block with error message:block not known and error code:-32001
2022-06-19 19:14:11.958701+0300 xctest[14183:238254] [boringssl] boringssl_metrics_log_metric_block_invoke(153) Failed to log metrics
2022-06-19 19:14:12.133555+0300 xctest[14183:237709] Error get block with error message:block not known and error code:-32001
Test Case '-[GetBlockTest testGetBlock]' passed (3.822 seconds).
Test Suite 'GetBlockTest' passed at 2022-06-19 19:14:12.136.
	 Executed 1 test, with 0 failures (0 unexpected) in 3.822 (3.823) seconds
Test Suite 'GetBlockTransfersResultTest' started at 2022-06-19 19:14:12.138
Test Case '-[GetBlockTransfersResultTest testGetBlockTransfersResult]' started.
2022-06-19 19:14:12.666272+0300 xctest[14183:238252] [boringssl] boringssl_metrics_log_metric_block_invoke(153) Failed to log metrics
2022-06-19 19:14:13.322706+0300 xctest[14183:238426] [boringssl] boringssl_metrics_log_metric_block_invoke(153) Failed to log metrics
2022-06-19 19:14:13.957836+0300 xctest[14183:238443] [boringssl] boringssl_metrics_log_metric_block_invoke(153) Failed to log metrics
2022-06-19 19:14:14.596903+0300 xctest[14183:238252] [boringssl] boringssl_metrics_log_metric_block_invoke(153) Failed to log metrics
2022-06-19 19:14:14.774942+0300 xctest[14183:237709] Error get block transfer with error message:block not known and error code:-32001
2022-06-19 19:14:15.248832+0300 xctest[14183:238472] [boringssl] boringssl_metrics_log_metric_block_invoke(153) Failed to log metrics
2022-06-19 19:14:15.404497+0300 xctest[14183:237709] Error get block transfer with error message:block not known and error code:-32001
Test Case '-[GetBlockTransfersResultTest testGetBlockTransfersResult]' passed (3.272 seconds).
Test Suite 'GetBlockTransfersResultTest' passed at 2022-06-19 19:14:15.411.
	 Executed 1 test, with 0 failures (0 unexpected) in 3.272 (3.273) seconds
Test Suite 'GetDeployTest' started at 2022-06-19 19:14:15.412
Test Case '-[GetDeployTest testGetDeploy]' started.
2022-06-19 19:14:15.949925+0300 xctest[14183:238252] [boringssl] boringssl_metrics_log_metric_block_invoke(153) Failed to log metrics
2022-06-19 19:14:16.664886+0300 xctest[14183:238254] [boringssl] boringssl_metrics_log_metric_block_invoke(153) Failed to log metrics
2022-06-19 19:14:17.518299+0300 xctest[14183:237709] Total parse:2
2022-06-19 19:14:18.011571+0300 xctest[14183:238251] [boringssl] boringssl_metrics_log_metric_block_invoke(153) Failed to log metrics
Test Case '-[GetDeployTest testGetDeploy]' passed (2.760 seconds).
Test Suite 'GetDeployTest' passed at 2022-06-19 19:14:18.173.
	 Executed 1 test, with 0 failures (0 unexpected) in 2.760 (2.761) seconds
Test Suite 'GetDictionaryItemTest' started at 2022-06-19 19:14:18.174
Test Case '-[GetDictionaryItemTest testGetDictionaryItem]' started.
2022-06-19 19:14:18.655147+0300 xctest[14183:238252] [boringssl] boringssl_metrics_log_metric_block_invoke(153) Failed to log metrics
2022-06-19 19:14:19.447950+0300 xctest[14183:238251] [boringssl] boringssl_metrics_log_metric_block_invoke(153) Failed to log metrics
2022-06-19 19:14:20.240199+0300 xctest[14183:238252] [boringssl] boringssl_metrics_log_metric_block_invoke(153) Failed to log metrics
2022-06-19 19:14:21.091300+0300 xctest[14183:238443] [boringssl] boringssl_metrics_log_metric_block_invoke(153) Failed to log metrics
2022-06-19 19:14:21.909978+0300 xctest[14183:238254] [boringssl] boringssl_metrics_log_metric_block_invoke(153) Failed to log metrics
2022-06-19 19:14:22.602363+0300 xctest[14183:238443] [boringssl] boringssl_metrics_log_metric_block_invoke(153) Failed to log metrics
Test Case '-[GetDictionaryItemTest testGetDictionaryItem]' passed (4.608 seconds).
Test Suite 'GetDictionaryItemTest' passed at 2022-06-19 19:14:22.783.
	 Executed 1 test, with 0 failures (0 unexpected) in 4.608 (4.609) seconds
Test Suite 'GetEraInfoBySwitchBlockTest' started at 2022-06-19 19:14:22.784
Test Case '-[GetEraInfoBySwitchBlockTest testGetEraInfoBySwitchBlock]' started.
2022-06-19 19:14:24.030158+0300 xctest[14183:238252] [boringssl] boringssl_metrics_log_metric_block_invoke(153) Failed to log metrics
2022-06-19 19:14:24.702344+0300 xctest[14183:238472] [boringssl] boringssl_metrics_log_metric_block_invoke(153) Failed to log metrics
2022-06-19 19:14:25.328845+0300 xctest[14183:238472] [boringssl] boringssl_metrics_log_metric_block_invoke(153) Failed to log metrics
2022-06-19 19:14:26.249857+0300 xctest[14183:238254] [boringssl] boringssl_metrics_log_metric_block_invoke(153) Failed to log metrics
2022-06-19 19:14:26.904745+0300 xctest[14183:238251] [boringssl] boringssl_metrics_log_metric_block_invoke(153) Failed to log metrics
Test Case '-[GetEraInfoBySwitchBlockTest testGetEraInfoBySwitchBlock]' passed (4.270 seconds).
Test Suite 'GetEraInfoBySwitchBlockTest' passed at 2022-06-19 19:14:27.055.
	 Executed 1 test, with 0 failures (0 unexpected) in 4.270 (4.271) seconds
Test Suite 'GetItemTest' started at 2022-06-19 19:14:27.056
Test Case '-[GetItemTest testGetItem]' started.
2022-06-19 19:14:27.528272+0300 xctest[14183:238252] [boringssl] boringssl_metrics_log_metric_block_invoke(153) Failed to log metrics
2022-06-19 19:14:28.165142+0300 xctest[14183:238252] [boringssl] boringssl_metrics_log_metric_block_invoke(153) Failed to log metrics
2022-06-19 19:14:28.323547+0300 xctest[14183:237709] Error get item with error message:Invalid params and error code:-32602
2022-06-19 19:14:28.859478+0300 xctest[14183:238472] [boringssl] boringssl_metrics_log_metric_block_invoke(153) Failed to log metrics
2022-06-19 19:14:29.037560+0300 xctest[14183:237709] Error get item with error message:failed to parse key: withdraw-key from string error: Invalid byte `b'f'`, at index 1. and error code:-32002
2022-06-19 19:14:29.524497+0300 xctest[14183:238251] [boringssl] boringssl_metrics_log_metric_block_invoke(153) Failed to log metrics
2022-06-19 19:14:29.683923+0300 xctest[14183:237709] Error get item with error message:state query failed: RootNotFound and error code:-32003
Test Case '-[GetItemTest testGetItem]' passed (2.628 seconds).
Test Suite 'GetItemTest' passed at 2022-06-19 19:14:29.686.
	 Executed 1 test, with 0 failures (0 unexpected) in 2.628 (2.630) seconds
Test Suite 'GetPeerResultTest' started at 2022-06-19 19:14:29.687
Test Case '-[GetPeerResultTest testGetPeerList]' started.
2022-06-19 19:14:30.216914+0300 xctest[14183:238472] [boringssl] boringssl_metrics_log_metric_block_invoke(153) Failed to log metrics
Test Case '-[GetPeerResultTest testGetPeerList]' passed (0.876 seconds).
Test Suite 'GetPeerResultTest' passed at 2022-06-19 19:14:30.565.
	 Executed 1 test, with 0 failures (0 unexpected) in 0.876 (0.878) seconds
Test Suite 'GetStateRootHashTest' started at 2022-06-19 19:14:30.566
Test Case '-[GetStateRootHashTest testGetStateRootHash]' started.
2022-06-19 19:14:31.050294+0300 xctest[14183:238252] [boringssl] boringssl_metrics_log_metric_block_invoke(153) Failed to log metrics
2022-06-19 19:14:31.747682+0300 xctest[14183:238472] [boringssl] boringssl_metrics_log_metric_block_invoke(153) Failed to log metrics
2022-06-19 19:14:32.471840+0300 xctest[14183:238443] [boringssl] boringssl_metrics_log_metric_block_invoke(153) Failed to log metrics
2022-06-19 19:14:33.127604+0300 xctest[14183:238443] [boringssl] boringssl_metrics_log_metric_block_invoke(153) Failed to log metrics
2022-06-19 19:14:33.283734+0300 xctest[14183:237709] Error get state root hash with error message:block not known and error code:-32001
2022-06-19 19:14:33.772425+0300 xctest[14183:238443] [boringssl] boringssl_metrics_log_metric_block_invoke(153) Failed to log metrics
2022-06-19 19:14:33.934425+0300 xctest[14183:237709] Error get state root hash with error message:block not known and error code:-32001
Test Case '-[GetStateRootHashTest testGetStateRootHash]' passed (3.370 seconds).
Test Suite 'GetStateRootHashTest' passed at 2022-06-19 19:14:33.937.
	 Executed 1 test, with 0 failures (0 unexpected) in 3.370 (3.371) seconds
Test Suite 'GetStatusTest' started at 2022-06-19 19:14:33.939
Test Case '-[GetStatusTest testGetStatus]' started.
2022-06-19 19:14:34.524193+0300 xctest[14183:238251] [boringssl] boringssl_metrics_log_metric_block_invoke(153) Failed to log metrics
Test Case '-[GetStatusTest testGetStatus]' passed (0.947 seconds).
Test Suite 'GetStatusTest' passed at 2022-06-19 19:14:34.887.
	 Executed 1 test, with 0 failures (0 unexpected) in 0.947 (0.948) seconds
Test Suite 'PutDeployTest' started at 2022-06-19 19:14:34.888
Test Case '-[PutDeployTest testNegative]' started.
2022-06-19 19:14:39.225278+0300 xctest[14183:238443] [boringssl] boringssl_metrics_log_metric_block_invoke(153) Failed to log metrics
2022-06-19 19:14:39.380272+0300 xctest[14183:237709] Error back is code:-32602 and message:Invalid params
2022-06-19 19:14:44.146287+0300 xctest[14183:238472] [boringssl] boringssl_metrics_log_metric_block_invoke(153) Failed to log metrics
2022-06-19 19:14:48.695160+0300 xctest[14183:238254] [boringssl] boringssl_metrics_log_metric_block_invoke(153) Failed to log metrics
2022-06-19 19:14:48.853360+0300 xctest[14183:237709] Error back is code:-32602 and message:Invalid params
Test Case '-[PutDeployTest testNegative]' passed (13.966 seconds).
Test Case '-[PutDeployTest testPutDeployEd25519]' started.
2022-06-19 19:14:49.329903+0300 xctest[14183:238426] [boringssl] boringssl_metrics_log_metric_block_invoke(153) Failed to log metrics
Test Case '-[PutDeployTest testPutDeployEd25519]' passed (0.635 seconds).
Test Case '-[PutDeployTest testPutDeploySecp256k1]' started.
2022-06-19 19:14:53.906881+0300 xctest[14183:238254] [boringssl] boringssl_metrics_log_metric_block_invoke(153) Failed to log metrics
2022-06-19 19:14:57.497890+0300 xctest[14183:238472] [boringssl] boringssl_metrics_log_metric_block_invoke(153) Failed to log metrics
Test Case '-[PutDeployTest testPutDeploySecp256k1]' passed (8.187 seconds).
Test Suite 'PutDeployTest' passed at 2022-06-19 19:14:57.679.
	 Executed 3 tests, with 0 failures (0 unexpected) in 22.789 (22.791) seconds
Test Suite 'Secp256k1CryptoTest' started at 2022-06-19 19:14:57.680
Test Case '-[Secp256k1CryptoTest testAll]' started.
Test Case '-[Secp256k1CryptoTest testAll]' passed (29.909 seconds).
Test Case '-[Secp256k1CryptoTest testKeyGeneration]' started.
Test Case '-[Secp256k1CryptoTest testKeyGeneration]' passed (3.126 seconds).
Test Suite 'Secp256k1CryptoTest' passed at 2022-06-19 19:15:30.718.
	 Executed 2 tests, with 0 failures (0 unexpected) in 33.035 (33.038) seconds
Test Suite 'Serialization_CLTypeTest' started at 2022-06-19 19:15:30.719
Test Case '-[Serialization_CLTypeTest testCLTypeSerialization]' started.
Test Case '-[Serialization_CLTypeTest testCLTypeSerialization]' passed (0.004 seconds).
Test Suite 'Serialization_CLTypeTest' passed at 2022-06-19 19:15:30.725.
	 Executed 1 test, with 0 failures (0 unexpected) in 0.004 (0.006) seconds
Test Suite 'Serialization_CLValueTest' started at 2022-06-19 19:15:30.726
Test Case '-[Serialization_CLValueTest testCLValueSerialization]' started.
Test Case '-[Serialization_CLValueTest testCLValueSerialization]' passed (0.028 seconds).
Test Suite 'Serialization_CLValueTest' passed at 2022-06-19 19:15:30.757.
	 Executed 1 test, with 0 failures (0 unexpected) in 0.028 (0.031) seconds
Test Suite 'Serialization_DeployTest' started at 2022-06-19 19:15:30.758
Test Case '-[Serialization_DeployTest testDeployApprovalSerialization]' started.
Test Case '-[Serialization_DeployTest testDeployApprovalSerialization]' passed (0.005 seconds).
Test Case '-[Serialization_DeployTest testDeployHeaderSerialization]' started.
Test Case '-[Serialization_DeployTest testDeployHeaderSerialization]' passed (0.004 seconds).
Test Case '-[Serialization_DeployTest testDeploySerialization]' started.
Test Case '-[Serialization_DeployTest testDeploySerialization]' passed (0.003 seconds).
Test Suite 'Serialization_DeployTest' passed at 2022-06-19 19:15:30.776.
	 Executed 3 tests, with 0 failures (0 unexpected) in 0.012 (0.018) seconds
Test Suite 'Serialization_ExecutableDeployItemTest' started at 2022-06-19 19:15:30.778
Test Case '-[Serialization_ExecutableDeployItemTest testExecutableDeployItemSerialization]' started.
Test Case '-[Serialization_ExecutableDeployItemTest testExecutableDeployItemSerialization]' passed (0.019 seconds).
Test Suite 'Serialization_ExecutableDeployItemTest' passed at 2022-06-19 19:15:30.800.
	 Executed 1 test, with 0 failures (0 unexpected) in 0.019 (0.021) seconds
Test Suite 'CasperSDKObjectiveCTests.xctest' passed at 2022-06-19 19:15:30.801.
	 Executed 24 tests, with 0 failures (0 unexpected) in 98.373 (98.431) seconds
Test Suite 'All tests' passed at 2022-06-19 19:15:30.803.
	 Executed 24 tests, with 0 failures (0 unexpected) in 98.373 (98.436) seconds


Testing Complete    19.06.2022 19:15    232.5 seconds

```
