```

Showing All Messages
Test Suite 'All tests' started at 2022-04-04 23:29:25.990
Test Suite 'CasperSDKObjectiveCTests.xctest' started at 2022-04-04 23:29:25.992
Test Suite 'GetAuctionInfoTest' started at 2022-04-04 23:29:25.993
Test Case '-[GetAuctionInfoTest testGetAuctionInfo]' started.
2022-04-04 23:29:35.539311+0300 xctest[56153:547788] [logging] volume does not support data protection, stripping SQLITE_OPEN_FILEPROTECTION_* flags
2022-04-04 23:29:35.540141+0300 xctest[56153:547788] [logging] volume does not support data protection, stripping SQLITE_OPEN_FILEPROTECTION_* flags
2022-04-04 23:29:40.118448+0300 xctest[56153:547369] GetAuctionInfoResult, api_version:1.4.5
2022-04-04 23:29:40.118569+0300 xctest[56153:547369] AuctionState, state_root_hash :88ebcefd9db130269408ff164ac3c27bf87549e624535fbe7a50dcb9ca938a3d
2022-04-04 23:29:40.118632+0300 xctest[56153:547369] AuctionState, block_height :667053
2022-04-04 23:29:40.118708+0300 xctest[56153:547369] AuctionState, total era_validators:2
2022-04-04 23:29:40.118753+0300 xctest[56153:547369] AuctionState, era_validators item 0 information
2022-04-04 23:29:40.118796+0300 xctest[56153:547369] JsonEraValidators, era_id:4321
2022-04-04 23:29:40.118837+0300 xctest[56153:547369] JsonEraValidators, total JsonValidatorWeights:100
2022-04-04 23:29:40.118879+0300 xctest[56153:547369] Information for the first JsonValidatorWeight:
2022-04-04 23:29:40.118942+0300 xctest[56153:547369] JsonValidatorWeights, public_key:0101f5170c996cc02b581d8200f0d95a737840234f31bf1fa21cca35137f8507b0
2022-04-04 23:29:40.119023+0300 xctest[56153:547369] JsonValidatorWeights, weight:1280809914467
2022-04-04 23:29:40.119166+0300 xctest[56153:547369] AuctionState, era_validators item 1 information
2022-04-04 23:29:40.119213+0300 xctest[56153:547369] JsonEraValidators, era_id:4322
2022-04-04 23:29:40.119257+0300 xctest[56153:547369] JsonEraValidators, total JsonValidatorWeights:100
2022-04-04 23:29:40.119299+0300 xctest[56153:547369] Information for the first JsonValidatorWeight:
2022-04-04 23:29:40.119341+0300 xctest[56153:547369] JsonValidatorWeights, public_key:0101f5170c996cc02b581d8200f0d95a737840234f31bf1fa21cca35137f8507b0
2022-04-04 23:29:40.119386+0300 xctest[56153:547369] JsonValidatorWeights, weight:1280996973181
2022-04-04 23:29:50.078618+0300 xctest[56153:547369] GetAuctionInfoResult, api_version:1.4.5
2022-04-04 23:29:50.078719+0300 xctest[56153:547369] AuctionState, state_root_hash :6da6cb8ff1e35656fba9a71868af803abef40dd6fce6161d2a18fe339a0525cb
2022-04-04 23:29:50.078775+0300 xctest[56153:547369] AuctionState, block_height :602343
2022-04-04 23:29:50.078858+0300 xctest[56153:547369] AuctionState, total era_validators:2
2022-04-04 23:29:50.078912+0300 xctest[56153:547369] AuctionState, era_validators item 0 information
2022-04-04 23:29:50.078958+0300 xctest[56153:547369] JsonEraValidators, era_id:4026
2022-04-04 23:29:50.079003+0300 xctest[56153:547369] JsonEraValidators, total JsonValidatorWeights:100
2022-04-04 23:29:50.079047+0300 xctest[56153:547369] Information for the first JsonValidatorWeight:
2022-04-04 23:29:50.079094+0300 xctest[56153:547369] JsonValidatorWeights, public_key:0101f5170c996cc02b581d8200f0d95a737840234f31bf1fa21cca35137f8507b0
2022-04-04 23:29:50.079148+0300 xctest[56153:547369] JsonValidatorWeights, weight:1226198285443
2022-04-04 23:29:50.079195+0300 xctest[56153:547369] AuctionState, era_validators item 1 information
2022-04-04 23:29:50.079238+0300 xctest[56153:547369] JsonEraValidators, era_id:4027
2022-04-04 23:29:50.079282+0300 xctest[56153:547369] JsonEraValidators, total JsonValidatorWeights:100
2022-04-04 23:29:50.079326+0300 xctest[56153:547369] Information for the first JsonValidatorWeight:
2022-04-04 23:29:50.079394+0300 xctest[56153:547369] JsonValidatorWeights, public_key:0101f5170c996cc02b581d8200f0d95a737840234f31bf1fa21cca35137f8507b0
2022-04-04 23:29:50.079471+0300 xctest[56153:547369] JsonValidatorWeights, weight:1226373797637
2022-04-04 23:29:51.292059+0300 xctest[56153:547369] GetAuctionInfoResult, api_version:1.4.5
2022-04-04 23:29:51.292156+0300 xctest[56153:547369] AuctionState, state_root_hash :a42c238d2d850b4d9c3efac6104bbfad6b91ce1ca38733c332e35a3459166a58
2022-04-04 23:29:51.292216+0300 xctest[56153:547369] AuctionState, block_height :12345
2022-04-04 23:29:51.292305+0300 xctest[56153:547369] AuctionState, total era_validators:2
2022-04-04 23:29:51.292380+0300 xctest[56153:547369] AuctionState, era_validators item 0 information
2022-04-04 23:29:51.292435+0300 xctest[56153:547369] JsonEraValidators, era_id:177
2022-04-04 23:29:51.292485+0300 xctest[56153:547369] JsonEraValidators, total JsonValidatorWeights:100
2022-04-04 23:29:51.292534+0300 xctest[56153:547369] Information for the first JsonValidatorWeight:
2022-04-04 23:29:51.292618+0300 xctest[56153:547369] JsonValidatorWeights, public_key:0105220d6629f6ef4484e2da5f58b6222832af8cabba4fbd7f1ad55e84a06ab319
2022-04-04 23:29:51.292727+0300 xctest[56153:547369] JsonValidatorWeights, weight:21250662917014
2022-04-04 23:29:51.292787+0300 xctest[56153:547369] AuctionState, era_validators item 1 information
2022-04-04 23:29:51.292839+0300 xctest[56153:547369] JsonEraValidators, era_id:178
2022-04-04 23:29:51.292889+0300 xctest[56153:547369] JsonEraValidators, total JsonValidatorWeights:100
2022-04-04 23:29:51.292940+0300 xctest[56153:547369] Information for the first JsonValidatorWeight:
2022-04-04 23:29:51.292997+0300 xctest[56153:547369] JsonValidatorWeights, public_key:0105220d6629f6ef4484e2da5f58b6222832af8cabba4fbd7f1ad55e84a06ab319
2022-04-04 23:29:51.293075+0300 xctest[56153:547369] JsonValidatorWeights, weight:21399698759675
2022-04-04 23:29:51.987108+0300 xctest[56153:547369] Error get block with error message:get-auction-info failed to get specified block and error code:-32001
2022-04-04 23:29:52.599772+0300 xctest[56153:547369] Error get block with error message:get-auction-info failed to get specified block and error code:-32001
Test Case '-[GetAuctionInfoTest testGetAuctionInfo]' passed (26.607 seconds).
Test Suite 'GetAuctionInfoTest' passed at 2022-04-04 23:29:52.602.
	 Executed 1 test, with 0 failures (0 unexpected) in 26.607 (26.609) seconds
Test Suite 'GetBalanceTest' started at 2022-04-04 23:29:52.603
Test Case '-[GetBalanceTest testGetBalance]' started.
2022-04-04 23:29:53.382967+0300 xctest[56153:547369] GetBalanceResult, api_version:1.4.5
2022-04-04 23:29:53.383047+0300 xctest[56153:547369] GetBalanceResult, balance_value:522693296224
2022-04-04 23:29:53.383140+0300 xctest[56153:547369] GetBalanceResult, merkle_proof length:31766
Test Case '-[GetBalanceTest testGetBalance]' passed (0.780 seconds).
Test Suite 'GetBalanceTest' passed at 2022-04-04 23:29:53.384.
	 Executed 1 test, with 0 failures (0 unexpected) in 0.780 (0.781) seconds
Test Suite 'GetBlockTest' started at 2022-04-04 23:29:53.385
Test Case '-[GetBlockTest testGetBlock]' started.
2022-04-04 23:29:54.136211+0300 xctest[56153:547369] GetBlockResult, api_version:1.4.5
2022-04-04 23:29:54.136291+0300 xctest[56153:547369] GetBlockResult, block info:
2022-04-04 23:29:54.136347+0300 xctest[56153:547369] JsonBlock, block_hash:480c0f3d072d6b278e2f6fc3672912740405a486fe9af59665bc1f5f2b8ba669
2022-04-04 23:29:54.136458+0300 xctest[56153:547369] JsonBlockHeader, parent_hash:6ea007965743242de51ed75e7f66e8f3fb9b8ef80890aedb451827b9bda755e3
2022-04-04 23:29:54.136523+0300 xctest[56153:547369] JsonBlockHeader, state_root_hash:88ebcefd9db130269408ff164ac3c27bf87549e624535fbe7a50dcb9ca938a3d
2022-04-04 23:29:54.136822+0300 xctest[56153:547369] JsonBlockHeader,body_hash:51fce4a5f583a63b30fc25199fe8a573e5e82779f996caec01894d92e8cf0f3b
2022-04-04 23:29:54.136898+0300 xctest[56153:547369] JsonBlockHeader, random_bit:0
2022-04-04 23:29:54.136958+0300 xctest[56153:547369] JsonBlockHeader,accumulated_seed:bcd78180597aa98eda3b5c81f68a77d92f080ca1a2a3139fa3cf3a7378c86c38
2022-04-04 23:29:54.137028+0300 xctest[56153:547369] JsonBlockHeader,timestamp:2022-04-04T20:29:18.720Z
2022-04-04 23:29:54.137084+0300 xctest[56153:547369] JsonBlockHeader,era_id:4321
2022-04-04 23:29:54.137135+0300 xctest[56153:547369] JsonBlockHeader,height:667054
2022-04-04 23:29:54.137189+0300 xctest[56153:547369] JsonBlockHeader,protocol_version:1.4.5
2022-04-04 23:29:54.137240+0300 xctest[56153:547369] JsonBlockHeader,era_end: <null>
2022-04-04 23:29:54.137292+0300 xctest[56153:547369] JsonBlockBody, proposer:0106ca7c39cd272dbf21a86eeb3b36b7c26e2e9b94af64292419f7862936bca2ca
2022-04-04 23:29:54.137346+0300 xctest[56153:547369] JsonBlockBody, total deploy_hashes:0
2022-04-04 23:29:54.141573+0300 xctest[56153:547369] JsonBlockBody, total transfer_hashes:0
2022-04-04 23:29:54.142001+0300 xctest[56153:547369] JsonBlock,Total proof:100
2022-04-04 23:29:54.142105+0300 xctest[56153:547369] JsonBlock, firstJsonProof public_key:0101f5170c996cc02b581d8200f0d95a737840234f31bf1fa21cca35137f8507b0
2022-04-04 23:29:54.143016+0300 xctest[56153:547369] JsonBlock, firstJsonProof signature:01a690088255a6a70a06a59962426125aeb52f1d400cee6e802c60dd5679870699c8a40e03a1cf3fefa170ede90aab0d4c6079a93f1d904ae9902dfb3906f0d309
2022-04-04 23:29:55.006417+0300 xctest[56153:547369] GetBlockResult, api_version:1.4.5
2022-04-04 23:29:55.006507+0300 xctest[56153:547369] GetBlockResult, block info:
2022-04-04 23:29:55.006567+0300 xctest[56153:547369] JsonBlock, block_hash:d16cb633eea197fec519aee2cfe050fe9a3b7e390642ccae8366455cc91c822e
2022-04-04 23:29:55.006623+0300 xctest[56153:547369] JsonBlockHeader, parent_hash:ec18afdd3df5c1b0f3caf7f564105f3329cd7b2ef59391c4ce13f1e9173b39b4
2022-04-04 23:29:55.006674+0300 xctest[56153:547369] JsonBlockHeader, state_root_hash:6da6cb8ff1e35656fba9a71868af803abef40dd6fce6161d2a18fe339a0525cb
2022-04-04 23:29:55.006724+0300 xctest[56153:547369] JsonBlockHeader,body_hash:cde00a26358a0ac039b730e4ee8f70d95fba48ee4be0690142b32fa5e898f2e3
2022-04-04 23:29:55.006770+0300 xctest[56153:547369] JsonBlockHeader, random_bit:1
2022-04-04 23:29:55.006815+0300 xctest[56153:547369] JsonBlockHeader,accumulated_seed:8186dd2710cb3eaa5554bf7a6f6cad789877cfad3a9d151b6769e8a0feaba5bd
2022-04-04 23:29:55.006864+0300 xctest[56153:547369] JsonBlockHeader,timestamp:2022-03-11T04:57:11.936Z
2022-04-04 23:29:55.006991+0300 xctest[56153:547369] JsonBlockHeader,era_id:4026
2022-04-04 23:29:55.007124+0300 xctest[56153:547369] JsonBlockHeader,height:602343
2022-04-04 23:29:55.007196+0300 xctest[56153:547369] JsonBlockHeader,protocol_version:1.4.4
2022-04-04 23:29:55.007248+0300 xctest[56153:547369] JsonBlockHeader,era_end: <null>
2022-04-04 23:29:55.007413+0300 xctest[56153:547369] JsonBlockBody, proposer:01ace6578907bfe6eba3a618e863bbe7274284c88e405e2857be80dd094726a223
2022-04-04 23:29:55.007489+0300 xctest[56153:547369] JsonBlockBody, total deploy_hashes:0
2022-04-04 23:29:55.007539+0300 xctest[56153:547369] JsonBlockBody, total transfer_hashes:0
2022-04-04 23:29:55.007600+0300 xctest[56153:547369] JsonBlock,Total proof:97
2022-04-04 23:29:55.007670+0300 xctest[56153:547369] JsonBlock, firstJsonProof public_key:0101f5170c996cc02b581d8200f0d95a737840234f31bf1fa21cca35137f8507b0
2022-04-04 23:29:55.007725+0300 xctest[56153:547369] JsonBlock, firstJsonProof signature:0193f060cfb9e6bb7f6d26d3f525e74ea4015ea21b1398891193e6d1d4c1c8e2f6832a7131d1847fc57045151e211ff34f7b4f4657c29d336bc6cdaf114333c201
2022-04-04 23:29:55.864221+0300 xctest[56153:547369] GetBlockResult, api_version:1.4.5
2022-04-04 23:29:55.864388+0300 xctest[56153:547369] GetBlockResult, block info:
2022-04-04 23:29:55.864595+0300 xctest[56153:547369] JsonBlock, block_hash:bbf21fe52a97c64e6b95098b1f2e098337efc9f9b63ae2ba0de37ef5a0da4b6f
2022-04-04 23:29:55.864712+0300 xctest[56153:547369] JsonBlockHeader, parent_hash:3a9e5db55a8c5a2e07fb1526d80fbf4c64745ab5303e56a684334e08a6ade2e0
2022-04-04 23:29:55.864808+0300 xctest[56153:547369] JsonBlockHeader, state_root_hash:a42c238d2d850b4d9c3efac6104bbfad6b91ce1ca38733c332e35a3459166a58
2022-04-04 23:29:55.864898+0300 xctest[56153:547369] JsonBlockHeader,body_hash:1086c5c5f3d04e3729fd9832e646a053d81b207ae9202af57a4f1d6a55c9303a
2022-04-04 23:29:55.864986+0300 xctest[56153:547369] JsonBlockHeader, random_bit:1
2022-04-04 23:29:55.865074+0300 xctest[56153:547369] JsonBlockHeader,accumulated_seed:ddff74b667ff1337aba501dde16f9a98e014dbb3daca89829852db7ddfc91f2b
2022-04-04 23:29:55.865162+0300 xctest[56153:547369] JsonBlockHeader,timestamp:2021-04-23T23:15:09.952Z
2022-04-04 23:29:55.865249+0300 xctest[56153:547369] JsonBlockHeader,era_id:177
2022-04-04 23:29:55.865800+0300 xctest[56153:547369] JsonBlockHeader,height:12345
2022-04-04 23:29:55.865892+0300 xctest[56153:547369] JsonBlockHeader,protocol_version:1.1.0
2022-04-04 23:29:55.866018+0300 xctest[56153:547369] JsonBlockHeader,era_end: <null>
2022-04-04 23:29:55.866310+0300 xctest[56153:547369] JsonBlockBody, proposer:0152b2b3cc1de020e0cfb5887d0fda5d99da5decaf98af90f13144e97d0e35eeaa
2022-04-04 23:29:55.866376+0300 xctest[56153:547369] JsonBlockBody, total deploy_hashes:0
2022-04-04 23:29:55.866430+0300 xctest[56153:547369] JsonBlockBody, total transfer_hashes:0
2022-04-04 23:29:55.866481+0300 xctest[56153:547369] JsonBlock,Total proof:100
2022-04-04 23:29:55.866533+0300 xctest[56153:547369] JsonBlock, firstJsonProof public_key:0105220d6629f6ef4484e2da5f58b6222832af8cabba4fbd7f1ad55e84a06ab319
2022-04-04 23:29:55.873300+0300 xctest[56153:547369] JsonBlock, firstJsonProof signature:015a6da1fcf0284d91ef79920d9c820e2fe98147c0f2ec72d9c9ab14b82a514de1c38a08c2341e95dd1858be95e6c3f8ee5d635cae8fb36d37191d918fa049c006
2022-04-04 23:29:56.487951+0300 xctest[56153:547369] Error get block with error message:block not known and error code:-32001
2022-04-04 23:29:57.104902+0300 xctest[56153:547369] Error get block with error message:block not known and error code:-32001
Test Case '-[GetBlockTest testGetBlock]' passed (3.721 seconds).
Test Suite 'GetBlockTest' passed at 2022-04-04 23:29:57.107.
	 Executed 1 test, with 0 failures (0 unexpected) in 3.721 (3.722) seconds
Test Suite 'GetBlockTransfersResultTest' started at 2022-04-04 23:29:57.108
Test Case '-[GetBlockTransfersResultTest testGetBlockTransfersResult]' started.
2022-04-04 23:29:57.809820+0300 xctest[56153:547369] api_version:1.4.5
2022-04-04 23:29:57.809967+0300 xctest[56153:547369] block hash:480c0f3d072d6b278e2f6fc3672912740405a486fe9af59665bc1f5f2b8ba669
2022-04-04 23:29:57.810113+0300 xctest[56153:547369] total transfer:0
2022-04-04 23:29:58.524564+0300 xctest[56153:547369] api_version:1.4.5
2022-04-04 23:29:58.524708+0300 xctest[56153:547369] block hash:d16cb633eea197fec519aee2cfe050fe9a3b7e390642ccae8366455cc91c822e
2022-04-04 23:29:58.524810+0300 xctest[56153:547369] total transfer:0
2022-04-04 23:29:59.135289+0300 xctest[56153:547369] api_version:1.4.5
2022-04-04 23:29:59.135366+0300 xctest[56153:547369] block hash:04c4328b7fa536b71adff3837560384eee44e157791d042f0dba252d6fa8b097
2022-04-04 23:29:59.135429+0300 xctest[56153:547369] total transfer:1
2022-04-04 23:29:59.135481+0300 xctest[56153:547369] Transfer amount: 9000000000000
2022-04-04 23:29:59.135526+0300 xctest[56153:547369] Transfer deploy hash: 84783d9dd336e541628dfe09e63e9cc2ed376e42c71d25ceaf19b6d3ac8e0560
2022-04-04 23:29:59.135609+0300 xctest[56153:547369] Transfer from: account-hash-e70b850efb68c64e2443da2386452b0d8e4e799362edef0ff56eea8efb114815
2022-04-04 23:29:59.135859+0300 xctest[56153:547369] Transfer gas: 0
2022-04-04 23:29:59.135914+0300 xctest[56153:547369] Transfer id: <null>
2022-04-04 23:29:59.135957+0300 xctest[56153:547369] Transfer source: uref-0a24ef56971d46bfefbd5590afe20e5f3482299aba74e1a0fc33a55008cf9453-007
2022-04-04 23:29:59.136005+0300 xctest[56153:547369] Transfer target: uref-a9a82dd4ee57802a38ccb7f8600940101d7cd9bbf1fd6665d9f7317b5c0e3a15-007
2022-04-04 23:29:59.136051+0300 xctest[56153:547369] Transfer to: <null>
2022-04-04 23:29:59.794746+0300 xctest[56153:547369] Error get block transfer with error message:block not known and error code:-32001
2022-04-04 23:30:00.647095+0300 xctest[56153:547369] Error get block transfer with error message:block not known and error code:-32001
Test Case '-[GetBlockTransfersResultTest testGetBlockTransfersResult]' passed (3.540 seconds).
Test Suite 'GetBlockTransfersResultTest' passed at 2022-04-04 23:30:00.650.
	 Executed 1 test, with 0 failures (0 unexpected) in 3.540 (3.541) seconds
Test Suite 'GetDeployTest' started at 2022-04-04 23:30:00.650
Test Case '-[GetDeployTest testGetDeploy]' started.
2022-04-04 23:30:01.393445+0300 xctest[56153:547369] GetDeployResult, api_version:1.4.5
2022-04-04 23:30:01.393635+0300 xctest[56153:547369] Deploy, hash:a91d468e2ddc8936f7866bc594794b322f747508c2192fd4eca90ef8a121d45e
2022-04-04 23:30:01.393799+0300 xctest[56153:547369] Deploy header log:
2022-04-04 23:30:01.393920+0300 xctest[56153:547369] Deploy header, account:014caf1ce908f9ef3d427dceac17e5c47950becf15d1def0810c235e0d58a9efad
2022-04-04 23:30:01.394024+0300 xctest[56153:547369] Deploy header, body_hash:d7ffe9fa44f5958d18923630576302903f12ebee3e7516834d93b44ebf0454f9
2022-04-04 23:30:01.394477+0300 xctest[56153:547369] Deploy header, chain_name:casper-test
2022-04-04 23:30:01.394582+0300 xctest[56153:547369] Deploy header, dependencies size:0
2022-04-04 23:30:01.394676+0300 xctest[56153:547369] Deploy header, gas_price:1
2022-04-04 23:30:01.394765+0300 xctest[56153:547369] Deploy header, timestamp:2022-01-17T11:11:08.508Z
2022-04-04 23:30:01.394860+0300 xctest[56153:547369] Deploy header, ttl:30m
2022-04-04 23:30:01.394911+0300 xctest[56153:547369] Deploy payment log:
2022-04-04 23:30:01.394963+0300 xctest[56153:547369] ExecutableDeployItem, type:ModuleBytes
2022-04-04 23:30:01.395020+0300 xctest[56153:547369] RuntimeArgs, total args:1
2022-04-04 23:30:01.395069+0300 xctest[56153:547369] RuntimeArgs, Args item index 0 detail
2022-04-04 23:30:01.395296+0300 xctest[56153:547369] NamedArg, name:amount
2022-04-04 23:30:01.395597+0300 xctest[56153:547369] NamedArg, CLValue:
2022-04-04 23:30:01.395753+0300 xctest[56153:547369] CLValue bytes:0400ca9a3b
2022-04-04 23:30:01.395828+0300 xctest[56153:547369] -----CLType info-------
2022-04-04 23:30:01.400908+0300 xctest[56153:547369] CLType:U512
2022-04-04 23:30:01.400973+0300 xctest[56153:547369] -----CLParsed info-------
2022-04-04 23:30:01.401269+0300 xctest[56153:547369] Value of parsed:1000000000
2022-04-04 23:30:01.401331+0300 xctest[56153:547369] Deploy session log:
2022-04-04 23:30:01.401398+0300 xctest[56153:547369] ExecutableDeployItem, type:StoredContractByHash
2022-04-04 23:30:01.401455+0300 xctest[56153:547369] ExecutableDeployItem_StoredContractByHash, hash:07eaeb63bc4b406cd83351a1217ebfa4a89f13ae55dd309811e99a042fb3919a
2022-04-04 23:30:01.401511+0300 xctest[56153:547369] ExecutableDeployItem_StoredContractByHash, entry_point:mint
2022-04-04 23:30:01.401563+0300 xctest[56153:547369] RuntimeArgs, total args:4
2022-04-04 23:30:01.401612+0300 xctest[56153:547369] RuntimeArgs, Args item index 0 detail
2022-04-04 23:30:01.401664+0300 xctest[56153:547369] NamedArg, name:recipient
2022-04-04 23:30:01.401712+0300 xctest[56153:547369] NamedArg, CLValue:
2022-04-04 23:30:01.401759+0300 xctest[56153:547369] CLValue bytes:00c6d93dd827202f3b37297382b1cb9269c07d71a79a49824bb1a008c650a04473
2022-04-04 23:30:01.401877+0300 xctest[56153:547369] -----CLType info-------
2022-04-04 23:30:01.402067+0300 xctest[56153:547369] CLType:Key
2022-04-04 23:30:01.402133+0300 xctest[56153:547369] -----CLParsed info-------
2022-04-04 23:30:01.402414+0300 xctest[56153:547369] Value of parsed:{
    Account = "account-hash-c6d93dd827202f3b37297382b1cb9269c07d71a79a49824bb1a008c650a04473";
}
2022-04-04 23:30:01.403150+0300 xctest[56153:547369] RuntimeArgs, Args item index 1 detail
2022-04-04 23:30:01.403273+0300 xctest[56153:547369] NamedArg, name:token_ids
2022-04-04 23:30:01.403332+0300 xctest[56153:547369] NamedArg, CLValue:
2022-04-04 23:30:01.403384+0300 xctest[56153:547369] CLValue bytes:010100000018000000363165353465636231656366653538376561663963636530
2022-04-04 23:30:01.403438+0300 xctest[56153:547369] -----CLType info-------
2022-04-04 23:30:01.403506+0300 xctest[56153:547369] CLType:Option{List{String}}
2022-04-04 23:30:01.403570+0300 xctest[56153:547369] -----CLParsed info-------
2022-04-04 23:30:01.403630+0300 xctest[56153:547369] Total element in list:1
2022-04-04 23:30:01.403682+0300 xctest[56153:547369] Value of parsed:61e54ecb1ecfe587eaf9cce0
2022-04-04 23:30:01.403732+0300 xctest[56153:547369] RuntimeArgs, Args item index 2 detail
2022-04-04 23:30:01.403781+0300 xctest[56153:547369] NamedArg, name:token_metas
2022-04-04 23:30:01.403831+0300 xctest[56153:547369] NamedArg, CLValue:
2022-04-04 23:30:01.403877+0300 xctest[56153:547369] CLValue bytes:0100000004000000040000006e616d650f000000546573742050726f642041646d696e0b0000006465736372697074696f6e0700000054657374696e6708000000697066735f75726c5000000068747470733a2f2f676174657761792e70696e6174612e636c6f75642f697066732f516d6175505535726338676868795a465178423952356a43626161664777324d6e65514a524d44574c567a6a615511000000697066735f6d657461646174615f75726c5000000068747470733a2f2f676174657761792e70696e6174612e636c6f75642f697066732f516d627279797641795664426d355a346e774133613738316d6d717563366e476165754541504b393661334c506e
2022-04-04 23:30:01.404536+0300 xctest[56153:547369] -----CLType info-------
2022-04-04 23:30:01.404633+0300 xctest[56153:547369] CLType:List{Map{key:String,value:String}}
2022-04-04 23:30:01.404714+0300 xctest[56153:547369] -----CLParsed info-------
2022-04-04 23:30:01.404956+0300 xctest[56153:547369] Total element in list:1
2022-04-04 23:30:01.405139+0300 xctest[56153:547369] CLParsed Map, Key information:
2022-04-04 23:30:01.406299+0300 xctest[56153:547369] Total element in list:4
2022-04-04 23:30:01.406379+0300 xctest[56153:547369] Value of parsed:name
2022-04-04 23:30:01.406431+0300 xctest[56153:547369] Value of parsed:description
2022-04-04 23:30:01.406481+0300 xctest[56153:547369] Value of parsed:ipfs_url
2022-04-04 23:30:01.406662+0300 xctest[56153:547369] Value of parsed:ipfs_metadata_url
2022-04-04 23:30:01.406726+0300 xctest[56153:547369] CLParsed Map, Value information:
2022-04-04 23:30:01.407091+0300 xctest[56153:547369] Total element in list:4
2022-04-04 23:30:01.407158+0300 xctest[56153:547369] Value of parsed:Test Prod Admin
2022-04-04 23:30:01.407213+0300 xctest[56153:547369] Value of parsed:Testing
2022-04-04 23:30:01.407260+0300 xctest[56153:547369] Value of parsed:https://gateway.pinata.cloud/ipfs/QmauPU5rc8ghhyZFQxB9R5jCbaafGw2MneQJRMDWLVzjaU
2022-04-04 23:30:01.407311+0300 xctest[56153:547369] Value of parsed:https://gateway.pinata.cloud/ipfs/QmbryyvAyVdBm5Z4nwA3a781mmquc6nGaeuEAPK96a3LPn
2022-04-04 23:30:01.407377+0300 xctest[56153:547369] RuntimeArgs, Args item index 3 detail
2022-04-04 23:30:01.407425+0300 xctest[56153:547369] NamedArg, name:token_commissions
2022-04-04 23:30:01.407472+0300 xctest[56153:547369] NamedArg, CLValue:
2022-04-04 23:30:01.408019+0300 xctest[56153:547369] CLValue bytes:0100000000000000
2022-04-04 23:30:01.408086+0300 xctest[56153:547369] -----CLType info-------
2022-04-04 23:30:01.408236+0300 xctest[56153:547369] CLType:List{Map{key:String,value:String}}
2022-04-04 23:30:01.408305+0300 xctest[56153:547369] -----CLParsed info-------
2022-04-04 23:30:01.408463+0300 xctest[56153:547369] Total element in list:1
2022-04-04 23:30:01.408543+0300 xctest[56153:547369] CLParsed Map, Key information:
2022-04-04 23:30:01.408594+0300 xctest[56153:547369] Total element in list:0
2022-04-04 23:30:01.408638+0300 xctest[56153:547369] CLParsed Map, Value information:
2022-04-04 23:30:01.408682+0300 xctest[56153:547369] Total element in list:0
2022-04-04 23:30:01.408847+0300 xctest[56153:547369] EXECUTION_RESULT, Total execution_results:1
2022-04-04 23:30:01.408903+0300 xctest[56153:547369] JsonExecutionResult item 1, information
2022-04-04 23:30:01.409152+0300 xctest[56153:547369] JsonExecutionResult, block_hash:74e01e51fea725dd6d8fc9442629f15b2691c1d6dcf9044fe0c39f0e49c49a4a
2022-04-04 23:30:01.409213+0300 xctest[56153:547369] JsonExecutionResult of type Success
2022-04-04 23:30:01.409454+0300 xctest[56153:547369] JsonExecutionResult cost:874779170
2022-04-04 23:30:01.409513+0300 xctest[56153:547369] JsonExecutionResult effect information
2022-04-04 23:30:01.409562+0300 xctest[56153:547369] Operation:[]
2022-04-04 23:30:01.409605+0300 xctest[56153:547369] Total transform:29
2022-04-04 23:30:01.409651+0300 xctest[56153:547369] First transform information
2022-04-04 23:30:01.409699+0300 xctest[56153:547369] TransformEntry, key:hash-8cf5e4acf51f54eb59291599187838dc3bc234089c46fc6ca8ad17e762ae4401
2022-04-04 23:30:01.409748+0300 xctest[56153:547369] TransformEntry,type:Identity
2022-04-04 23:30:01.409796+0300 xctest[56153:547369] JsonExecutionResult,Total transfer:0
Test Case '-[GetDeployTest testGetDeploy]' passed (0.760 seconds).
Test Suite 'GetDeployTest' passed at 2022-04-04 23:30:01.412.
	 Executed 1 test, with 0 failures (0 unexpected) in 0.760 (0.761) seconds
Test Suite 'GetDictionaryItemTest' started at 2022-04-04 23:30:01.412
Test Case '-[GetDictionaryItemTest testGetDictionaryItem]' started.
2022-04-04 23:30:02.297740+0300 xctest[56153:547369] GetDictionaryItemResult, api_version:1.4.5
2022-04-04 23:30:02.297839+0300 xctest[56153:547369] GetDictionaryItemResult, dictionary_key:dictionary-5d3e90f064798d54e5e53643c4fce0cbb1024aadcad1586cc4b7c1358a530373
2022-04-04 23:30:02.297934+0300 xctest[56153:547369] GetDictionaryItemResult, merkle_proof length:30330
2022-04-04 23:30:02.297988+0300 xctest[56153:547369] GetDictionaryItemResult,StoredValue information
2022-04-04 23:30:02.298040+0300 xctest[56153:547369] StoredValue log info, type:CLValue
2022-04-04 23:30:02.298092+0300 xctest[56153:547369] CLValue bytes:090000006162635f76616c7565
2022-04-04 23:30:02.298141+0300 xctest[56153:547369] -----CLType info-------
2022-04-04 23:30:02.298394+0300 xctest[56153:547369] CLType:String
2022-04-04 23:30:02.298476+0300 xctest[56153:547369] -----CLParsed info-------
2022-04-04 23:30:02.298535+0300 xctest[56153:547369] Value of parsed:abc_value
2022-04-04 23:30:03.187025+0300 xctest[56153:547369] GetDictionaryItemResult, api_version:1.4.5
2022-04-04 23:30:03.187165+0300 xctest[56153:547369] GetDictionaryItemResult, dictionary_key:dictionary-ac34673fa957fa8083306892815496b8fdee0aa1509f0080823979d869176060
2022-04-04 23:30:03.187274+0300 xctest[56153:547369] GetDictionaryItemResult, merkle_proof length:30178
2022-04-04 23:30:03.187365+0300 xctest[56153:547369] GetDictionaryItemResult,StoredValue information
2022-04-04 23:30:03.187453+0300 xctest[56153:547369] StoredValue log info, type:CLValue
2022-04-04 23:30:03.187545+0300 xctest[56153:547369] CLValue bytes:0800000061626376616c7565
2022-04-04 23:30:03.187631+0300 xctest[56153:547369] -----CLType info-------
2022-04-04 23:30:03.187961+0300 xctest[56153:547369] CLType:String
2022-04-04 23:30:03.188074+0300 xctest[56153:547369] -----CLParsed info-------
2022-04-04 23:30:03.188171+0300 xctest[56153:547369] Value of parsed:abcvalue
2022-04-04 23:30:04.040696+0300 xctest[56153:547369] GetDictionaryItemResult, api_version:1.4.5
2022-04-04 23:30:04.040821+0300 xctest[56153:547369] GetDictionaryItemResult, dictionary_key:dictionary-5d3e90f064798d54e5e53643c4fce0cbb1024aadcad1586cc4b7c1358a530373
2022-04-04 23:30:04.041234+0300 xctest[56153:547369] GetDictionaryItemResult, merkle_proof length:30330
2022-04-04 23:30:04.041380+0300 xctest[56153:547369] GetDictionaryItemResult,StoredValue information
2022-04-04 23:30:04.041676+0300 xctest[56153:547369] StoredValue log info, type:CLValue
2022-04-04 23:30:04.041796+0300 xctest[56153:547369] CLValue bytes:090000006162635f76616c7565
2022-04-04 23:30:04.041894+0300 xctest[56153:547369] -----CLType info-------
2022-04-04 23:30:04.041995+0300 xctest[56153:547369] CLType:String
2022-04-04 23:30:04.042083+0300 xctest[56153:547369] -----CLParsed info-------
2022-04-04 23:30:04.042178+0300 xctest[56153:547369] Value of parsed:abc_value
2022-04-04 23:30:04.962533+0300 xctest[56153:547369] GetDictionaryItemResult, api_version:1.4.5
2022-04-04 23:30:04.962627+0300 xctest[56153:547369] GetDictionaryItemResult, dictionary_key:dictionary-5d3e90f064798d54e5e53643c4fce0cbb1024aadcad1586cc4b7c1358a530373
2022-04-04 23:30:04.962692+0300 xctest[56153:547369] GetDictionaryItemResult, merkle_proof length:30330
2022-04-04 23:30:04.962745+0300 xctest[56153:547369] GetDictionaryItemResult,StoredValue information
2022-04-04 23:30:04.962795+0300 xctest[56153:547369] StoredValue log info, type:CLValue
2022-04-04 23:30:04.962848+0300 xctest[56153:547369] CLValue bytes:090000006162635f76616c7565
2022-04-04 23:30:04.962898+0300 xctest[56153:547369] -----CLType info-------
2022-04-04 23:30:04.962953+0300 xctest[56153:547369] CLType:String
2022-04-04 23:30:04.963004+0300 xctest[56153:547369] -----CLParsed info-------
2022-04-04 23:30:04.963097+0300 xctest[56153:547369] Value of parsed:abc_value
2022-04-04 23:30:05.565868+0300 xctest[56153:547369] Error get dictionary item with error message:Invalid params and error code:-32602
2022-04-04 23:30:06.204785+0300 xctest[56153:547369] Error get dictionary item with error message:Failed to parse Dictionary key and error code:-32010
Test Case '-[GetDictionaryItemTest testGetDictionaryItem]' passed (4.794 seconds).
Test Suite 'GetDictionaryItemTest' passed at 2022-04-04 23:30:06.207.
	 Executed 1 test, with 0 failures (0 unexpected) in 4.794 (4.795) seconds
Test Suite 'GetEraInfoBySwitchBlockTest' started at 2022-04-04 23:30:06.208
Test Case '-[GetEraInfoBySwitchBlockTest testGetEraInfoBySwitchBlock]' started.
2022-04-04 23:30:07.150002+0300 xctest[56153:547369] GetEraInfoResult, api_version:1.4.5
2022-04-04 23:30:07.150091+0300 xctest[56153:547369] GetEraInfoResult, era_summary does not exists
2022-04-04 23:30:07.761076+0300 xctest[56153:547369] Error get era info with error message:block not known and error code:-32001
2022-04-04 23:30:08.795282+0300 xctest[56153:547369] GetEraInfoResult, api_version:1.4.5
2022-04-04 23:30:08.795522+0300 xctest[56153:547369] EraSummary, block_hash:f028506fb8add2edd3f9f3713e5acd7441a5d0cd433b863c627ff6542e8c0860
2022-04-04 23:30:08.795625+0300 xctest[56153:547369] EraSummary, era_id:2
2022-04-04 23:30:08.795701+0300 xctest[56153:547369] EraSummary, state_root_hash:112bc563aae7ed8a55ff0e7cfc95929ab5b48d69bf11be124542eec40085ae16
2022-04-04 23:30:08.795757+0300 xctest[56153:547369] EraSummary, merkle_proof length:26336
2022-04-04 23:30:08.795808+0300 xctest[56153:547369] StoredValue log info, type:EraInfo
2022-04-04 23:30:08.795893+0300 xctest[56153:547369] EraInfo, total SeigniorageAllocation:199
2022-04-04 23:30:08.795993+0300 xctest[56153:547369] EraInfo, information for first SeigniorageAllocation item
2022-04-04 23:30:08.796065+0300 xctest[56153:547369] -----SeigniorageAllocation of type Delegator
2022-04-04 23:30:08.796448+0300 xctest[56153:547369] SeigniorageAllocation Delegator, validator_public_key:01026ca707c348ed8012ac6a1f28db031fadd6eb67203501a353b867a08c8b9a80
2022-04-04 23:30:08.796551+0300 xctest[56153:547369] SeigniorageAllocation Delegator, delegator_public_key:01128ddb51119f1df535cf3a763996344ab0cc79038faaee0aaaf098a078031ce6
2022-04-04 23:30:08.796611+0300 xctest[56153:547369] SeigniorageAllocation Delegator, amount:87735183835
2022-04-04 23:30:09.413599+0300 xctest[56153:547369] Error get era info with error message:block not known and error code:-32001
2022-04-04 23:30:10.026567+0300 xctest[56153:547369] Error get era info with error message:block not known and error code:-32001
Test Case '-[GetEraInfoBySwitchBlockTest testGetEraInfoBySwitchBlock]' passed (3.819 seconds).
Test Suite 'GetEraInfoBySwitchBlockTest' passed at 2022-04-04 23:30:10.029.
	 Executed 1 test, with 0 failures (0 unexpected) in 3.819 (3.820) seconds
Test Suite 'GetItemTest' started at 2022-04-04 23:30:10.030
Test Case '-[GetItemTest testGetItem]' started.
2022-04-04 23:30:10.685325+0300 xctest[56153:547369] GetItemResult, api_version:1.4.5
2022-04-04 23:30:10.685451+0300 xctest[56153:547369] GetItemResult, merkle_proof length:6876
2022-04-04 23:30:10.685549+0300 xctest[56153:547369] GetItemResult, stored_value information
2022-04-04 23:30:10.685734+0300 xctest[56153:547369] StoredValue log info, type:Withdraw
2022-04-04 23:30:10.685849+0300 xctest[56153:547369] Transform_WriteWithdraw,total UnbondingPurse 1
2022-04-04 23:30:10.686275+0300 xctest[56153:547369] Transform_WriteWithdraw, item number 1 information
2022-04-04 23:30:10.686398+0300 xctest[56153:547369] UnbondingPurse, bounding_purse:uref-5fcc3031ea2572f9929e0cfcfc84c6c3131bfe1e78bce8cb61f99f59eace7795-007
2022-04-04 23:30:10.686504+0300 xctest[56153:547369] UnbondingPurse, validator_public_key:01d949a3a1963db686607a00862f79b76ceb185fc134d0aeedb686f1c151f4ae54
2022-04-04 23:30:10.686599+0300 xctest[56153:547369] UnbondingPurse, unbonder_public_key:01d949a3a1963db686607a00862f79b76ceb185fc134d0aeedb686f1c151f4ae54
2022-04-04 23:30:10.686689+0300 xctest[56153:547369] UnbondingPurse, era_of_creation:3319
2022-04-04 23:30:10.686764+0300 xctest[56153:547369] UnbondingPurse, amount:500
2022-04-04 23:30:11.295160+0300 xctest[56153:547369] Error get item with error message:Invalid params and error code:-32602
2022-04-04 23:30:12.000876+0300 xctest[56153:547369] Error get item with error message:failed to parse key: withdraw-key from string error: Invalid byte `b'f'`, at index 1. and error code:-32002
2022-04-04 23:30:12.753776+0300 xctest[56153:547369] Error get item with error message:state query failed: RootNotFound and error code:-32003
Test Case '-[GetItemTest testGetItem]' passed (2.725 seconds).
Test Suite 'GetItemTest' passed at 2022-04-04 23:30:12.756.
	 Executed 1 test, with 0 failures (0 unexpected) in 2.725 (2.727) seconds
Test Suite 'GetPeerResultTest' started at 2022-04-04 23:30:12.757
Test Case '-[GetPeerResultTest testGetPeerList]' started.
2022-04-04 23:30:13.541869+0300 xctest[56153:547369] M1: info_get_peers test cases
2022-04-04 23:30:13.542041+0300 xctest[56153:547369] Get peer result api_version:1.4.5
2022-04-04 23:30:13.542158+0300 xctest[56153:547369] Get peer result, total peer entry:397
2022-04-04 23:30:13.542253+0300 xctest[56153:547369] List of peer printed out:
2022-04-04 23:30:13.542354+0300 xctest[56153:547369] Peer number 1 address:18.163.249.168:35000 and node id:tls:0097..b253
2022-04-04 23:30:13.542621+0300 xctest[56153:547369] Peer number 2 address:162.55.63.245:35000 and node id:tls:00ae..d6e1
2022-04-04 23:30:13.542741+0300 xctest[56153:547369] Peer number 3 address:44.238.152.37:50740 and node id:tls:00ba..ca37
2022-04-04 23:30:13.542842+0300 xctest[56153:547369] Peer number 4 address:95.216.67.162:35000 and node id:tls:00e5..6748
2022-04-04 23:30:13.542947+0300 xctest[56153:547369] Peer number 5 address:65.108.4.126:48848 and node id:tls:01ae..7b8a
2022-04-04 23:30:13.543050+0300 xctest[56153:547369] Peer number 6 address:89.58.25.11:35000 and node id:tls:029f..74fd
2022-04-04 23:30:13.543213+0300 xctest[56153:547369] Peer number 7 address:65.21.235.219:35000 and node id:tls:0309..59c7
2022-04-04 23:30:13.543428+0300 xctest[56153:547369] Peer number 8 address:88.99.69.157:49168 and node id:tls:0371..0dba
2022-04-04 23:30:13.543544+0300 xctest[56153:547369] Peer number 9 address:65.21.227.181:35000 and node id:tls:03e4..1caa
2022-04-04 23:30:13.543662+0300 xctest[56153:547369] Peer number 10 address:162.55.6.177:35000 and node id:tls:03ed..0609
2022-04-04 23:30:13.548130+0300 xctest[56153:547369] Peer number 11 address:88.99.89.209:35000 and node id:tls:03f5..21ff
2022-04-04 23:30:13.548324+0300 xctest[56153:547369] Peer number 12 address:54.72.219.182:36488 and node id:tls:0508..940c
2022-04-04 23:30:13.548435+0300 xctest[56153:547369] Peer number 13 address:164.68.98.13:35000 and node id:tls:054f..adbe
2022-04-04 23:30:13.548532+0300 xctest[56153:547369] Peer number 14 address:118.200.90.72:51362 and node id:tls:05a0..b1cb
2022-04-04 23:30:13.548629+0300 xctest[56153:547369] Peer number 15 address:103.114.224.150:52192 and node id:tls:0663..5ff7
2022-04-04 23:30:13.548717+0300 xctest[56153:547369] Peer number 16 address:65.108.7.50:35000 and node id:tls:0706..8353
2022-04-04 23:30:13.548793+0300 xctest[56153:547369] Peer number 17 address:65.108.42.61:35000 and node id:tls:0718..0f50
2022-04-04 23:30:13.548884+0300 xctest[56153:547369] Peer number 18 address:94.130.33.181:35000 and node id:tls:07f5..9eb0
2022-04-04 23:30:13.548977+0300 xctest[56153:547369] Peer number 19 address:65.21.75.94:35000 and node id:tls:0845..5786
2022-04-04 23:30:13.549067+0300 xctest[56153:547369] Peer number 20 address:142.4.208.204:35000 and node id:tls:084f..3e45
2022-04-04 23:30:13.549156+0300 xctest[56153:547369] Peer number 21 address:138.201.133.150:35000 and node id:tls:089a..d19a
2022-04-04 23:30:13.549250+0300 xctest[56153:547369] Peer number 22 address:23.88.71.231:59330 and node id:tls:08b9..0139
2022-04-04 23:30:13.549341+0300 xctest[56153:547369] Peer number 23 address:93.186.201.14:35000 and node id:tls:097c..e44f
2022-04-04 23:30:13.549480+0300 xctest[56153:547369] Peer number 24 address:118.200.90.72:33966 and node id:tls:0bda..bfa2
2022-04-04 23:30:13.549579+0300 xctest[56153:547369] Peer number 25 address:118.200.90.72:33984 and node id:tls:0be5..6aab
2022-04-04 23:30:13.549725+0300 xctest[56153:547369] Peer number 26 address:65.21.231.23:35000 and node id:tls:0c48..06b3
2022-04-04 23:30:13.549819+0300 xctest[56153:547369] Peer number 27 address:207.180.199.157:35000 and node id:tls:0d48..b1f0
2022-04-04 23:30:13.549985+0300 xctest[56153:547369] Peer number 28 address:88.99.146.74:35000 and node id:tls:0fb7..a22b
2022-04-04 23:30:13.550271+0300 xctest[56153:547369] Peer number 29 address:54.72.219.182:54956 and node id:tls:108a..ae4f
2022-04-04 23:30:13.550481+0300 xctest[56153:547369] Peer number 30 address:65.21.231.29:35000 and node id:tls:10ca..f6d1
2022-04-04 23:30:13.550646+0300 xctest[56153:547369] Peer number 31 address:94.130.10.55:35000 and node id:tls:1265..3319
2022-04-04 23:30:13.550796+0300 xctest[56153:547369] Peer number 32 address:198.245.51.193:35000 and node id:tls:12ae..75d5
2022-04-04 23:30:13.551100+0300 xctest[56153:547369] Peer number 33 address:95.216.38.174:35000 and node id:tls:1318..70f9
2022-04-04 23:30:13.551371+0300 xctest[56153:547369] Peer number 34 address:65.108.0.107:35000 and node id:tls:1346..d363
2022-04-04 23:30:13.551464+0300 xctest[56153:547369] Peer number 35 address:5.9.2.171:35000 and node id:tls:13ef..48cf
2022-04-04 23:30:13.551561+0300 xctest[56153:547369] Peer number 36 address:136.243.137.238:35000 and node id:tls:14ae..3720
2022-04-04 23:30:13.551655+0300 xctest[56153:547369] Peer number 37 address:88.99.57.74:35000 and node id:tls:14af..8c69
2022-04-04 23:30:13.551746+0300 xctest[56153:547369] Peer number 38 address:144.91.68.55:35000 and node id:tls:14d4..f459
2022-04-04 23:30:13.551839+0300 xctest[56153:547369] Peer number 39 address:139.180.189.141:35000 and node id:tls:1509..7e85
2022-04-04 23:30:13.551934+0300 xctest[56153:547369] Peer number 40 address:65.108.73.148:35000 and node id:tls:155e..f5eb
2022-04-04 23:30:13.552026+0300 xctest[56153:547369] Peer number 41 address:65.108.41.39:35000 and node id:tls:1600..ca7a
2022-04-04 23:30:13.552128+0300 xctest[56153:547369] Peer number 42 address:88.99.0.42:35000 and node id:tls:172b..ac8e
2022-04-04 23:30:13.552214+0300 xctest[56153:547369] Peer number 43 address:135.181.214.157:35000 and node id:tls:17d1..5b8e
2022-04-04 23:30:13.552300+0300 xctest[56153:547369] Peer number 44 address:176.9.70.102:35000 and node id:tls:1929..caa0
2022-04-04 23:30:13.552360+0300 xctest[56153:547369] Peer number 45 address:118.200.90.72:33982 and node id:tls:19b3..75aa
2022-04-04 23:30:13.552422+0300 xctest[56153:547369] Peer number 46 address:103.146.240.245:35200 and node id:tls:19b3..a1a5
2022-04-04 23:30:13.552516+0300 xctest[56153:547369] Peer number 47 address:5.9.21.115:35000 and node id:tls:1a86..1c5a
2022-04-04 23:30:13.552608+0300 xctest[56153:547369] Peer number 48 address:167.99.210.123:35000 and node id:tls:1b59..b60b
2022-04-04 23:30:13.552718+0300 xctest[56153:547369] Peer number 49 address:185.215.165.34:35000 and node id:tls:1c82..37a3
2022-04-04 23:30:13.552819+0300 xctest[56153:547369] Peer number 50 address:172.114.130.252:32898 and node id:tls:1cd2..961c
2022-04-04 23:30:13.552955+0300 xctest[56153:547369] Peer number 51 address:138.201.54.44:35000 and node id:tls:1cdc..d81b
2022-04-04 23:30:13.553063+0300 xctest[56153:547369] Peer number 52 address:65.108.12.160:35000 and node id:tls:1ce7..7381
2022-04-04 23:30:13.553336+0300 xctest[56153:547369] Peer number 53 address:103.146.240.245:58880 and node id:tls:1d8c..4817
2022-04-04 23:30:13.553762+0300 xctest[56153:547369] Peer number 54 address:46.4.32.165:35000 and node id:tls:1e4e..fb9b
2022-04-04 23:30:13.553893+0300 xctest[56153:547369] Peer number 55 address:54.186.192.89:56160 and node id:tls:1ec8..15a9
2022-04-04 23:30:13.554024+0300 xctest[56153:547369] Peer number 56 address:65.108.0.22:35000 and node id:tls:1eea..80d1
2022-04-04 23:30:13.554263+0300 xctest[56153:547369] Peer number 57 address:65.108.43.219:35000 and node id:tls:1fb7..837c
2022-04-04 23:30:13.554413+0300 xctest[56153:547369] Peer number 58 address:65.108.10.126:35000 and node id:tls:205b..f5b2
2022-04-04 23:30:13.554631+0300 xctest[56153:547369] Peer number 59 address:35.169.205.205:35000 and node id:tls:20de..79ee
2022-04-04 23:30:13.554754+0300 xctest[56153:547369] Peer number 60 address:65.21.237.153:35000 and node id:tls:21b4..076b
2022-04-04 23:30:13.554859+0300 xctest[56153:547369] Peer number 61 address:65.108.2.45:35000 and node id:tls:23f0..e235
2022-04-04 23:30:13.554952+0300 xctest[56153:547369] Peer number 62 address:155.138.175.136:35000 and node id:tls:2427..1e52
2022-04-04 23:30:13.555041+0300 xctest[56153:547369] Peer number 63 address:23.88.0.163:35000 and node id:tls:258a..1819
2022-04-04 23:30:13.555313+0300 xctest[56153:547369] Peer number 64 address:138.201.48.72:35000 and node id:tls:25c3..4c4a
2022-04-04 23:30:13.555507+0300 xctest[56153:547369] Peer number 65 address:118.200.90.72:33978 and node id:tls:2602..c802
2022-04-04 23:30:13.555606+0300 xctest[56153:547369] Peer number 66 address:103.146.240.245:59186 and node id:tls:276c..e0c8
2022-04-04 23:30:13.555712+0300 xctest[56153:547369] Peer number 67 address:135.181.20.91:35000 and node id:tls:27cf..bb5a
2022-04-04 23:30:13.555856+0300 xctest[56153:547369] Peer number 68 address:148.251.195.32:35000 and node id:tls:289b..83d5
2022-04-04 23:30:13.556049+0300 xctest[56153:547369] Peer number 69 address:3.23.146.54:35000 and node id:tls:289d..2628
2022-04-04 23:30:13.556202+0300 xctest[56153:547369] Peer number 70 address:35.83.75.217:45456 and node id:tls:292a..5d54
2022-04-04 23:30:13.556333+0300 xctest[56153:547369] Peer number 71 address:65.21.239.31:35000 and node id:tls:2b04..ba7c
2022-04-04 23:30:13.556436+0300 xctest[56153:547369] Peer number 72 address:5.9.20.162:35000 and node id:tls:2b70..92da
2022-04-04 23:30:13.556530+0300 xctest[56153:547369] Peer number 73 address:118.200.90.72:33988 and node id:tls:2bc0..c0a4
2022-04-04 23:30:13.556619+0300 xctest[56153:547369] Peer number 74 address:47.106.100.25:45922 and node id:tls:2cb0..81cc
2022-04-04 23:30:13.556709+0300 xctest[56153:547369] Peer number 75 address:54.72.219.182:49620 and node id:tls:2ce3..84ae
2022-04-04 23:30:13.556796+0300 xctest[56153:547369] Peer number 76 address:198.100.148.19:35000 and node id:tls:2d48..4546
2022-04-04 23:30:13.556885+0300 xctest[56153:547369] Peer number 77 address:87.233.77.35:35000 and node id:tls:2d5a..d6dc
2022-04-04 23:30:13.556973+0300 xctest[56153:547369] Peer number 78 address:88.99.100.240:51302 and node id:tls:2e69..7715
2022-04-04 23:30:13.557059+0300 xctest[56153:547369] Peer number 79 address:103.146.240.245:43164 and node id:tls:2eb8..f6ed
2022-04-04 23:30:13.557145+0300 xctest[56153:547369] Peer number 80 address:65.21.237.113:35000 and node id:tls:2ef8..b63d
2022-04-04 23:30:13.557232+0300 xctest[56153:547369] Peer number 81 address:142.132.192.37:35000 and node id:tls:2fff..3809
2022-04-04 23:30:13.557351+0300 xctest[56153:547369] Peer number 82 address:54.72.219.182:59462 and node id:tls:30e3..2638
2022-04-04 23:30:13.557453+0300 xctest[56153:547369] Peer number 83 address:148.251.81.170:35000 and node id:tls:30ea..1ec4
2022-04-04 23:30:13.557561+0300 xctest[56153:547369] Peer number 84 address:135.181.140.236:35000 and node id:tls:3209..fc3b
2022-04-04 23:30:13.557745+0300 xctest[56153:547369] Peer number 85 address:95.216.247.164:35000 and node id:tls:3388..eda2
2022-04-04 23:30:13.557850+0300 xctest[56153:547369] Peer number 86 address:65.108.2.50:38354 and node id:tls:34e1..b0e0
2022-04-04 23:30:13.558043+0300 xctest[56153:547369] Peer number 87 address:65.21.239.114:35000 and node id:tls:34fd..ad70
2022-04-04 23:30:13.558143+0300 xctest[56153:547369] Peer number 88 address:54.203.120.71:59100 and node id:tls:353e..5594
2022-04-04 23:30:13.558297+0300 xctest[56153:547369] Peer number 89 address:88.99.141.148:35000 and node id:tls:360f..c243
2022-04-04 23:30:13.558741+0300 xctest[56153:547369] Peer number 90 address:103.114.224.150:46326 and node id:tls:36db..37ba
2022-04-04 23:30:13.559296+0300 xctest[56153:547369] Peer number 91 address:46.4.119.228:35000 and node id:tls:370a..a441
2022-04-04 23:30:13.559424+0300 xctest[56153:547369] Peer number 92 address:13.36.48.32:35000 and node id:tls:37a0..5dfa
2022-04-04 23:30:13.559528+0300 xctest[56153:547369] Peer number 93 address:65.21.201.245:35000 and node id:tls:3800..ea23
2022-04-04 23:30:13.559622+0300 xctest[56153:547369] Peer number 94 address:65.21.229.213:35000 and node id:tls:3899..2d9c
2022-04-04 23:30:13.559720+0300 xctest[56153:547369] Peer number 95 address:35.81.75.47:42308 and node id:tls:38bb..58c8
2022-04-04 23:30:13.559814+0300 xctest[56153:547369] Peer number 96 address:65.21.235.239:35000 and node id:tls:3943..673c
2022-04-04 23:30:13.559907+0300 xctest[56153:547369] Peer number 97 address:95.216.72.156:35000 and node id:tls:39d9..c68b
2022-04-04 23:30:13.559997+0300 xctest[56153:547369] Peer number 98 address:65.21.132.206:35000 and node id:tls:3a24..cb01
2022-04-04 23:30:13.560089+0300 xctest[56153:547369] Peer number 99 address:65.108.4.121:54654 and node id:tls:3a8a..58d1
2022-04-04 23:30:13.560173+0300 xctest[56153:547369] Peer number 100 address:138.201.17.176:35000 and node id:tls:3ac4..74d2
2022-04-04 23:30:13.561777+0300 xctest[56153:547369] Peer number 101 address:118.189.191.191:35000 and node id:tls:3ac6..0023
2022-04-04 23:30:13.562012+0300 xctest[56153:547369] Peer number 102 address:54.72.219.182:38950 and node id:tls:3b2f..5fb1
2022-04-04 23:30:13.562123+0300 xctest[56153:547369] Peer number 103 address:18.141.10.216:35000 and node id:tls:3b34..d985
2022-04-04 23:30:13.562294+0300 xctest[56153:547369] Peer number 104 address:89.58.30.220:35000 and node id:tls:3e43..cfaa
2022-04-04 23:30:13.562450+0300 xctest[56153:547369] Peer number 105 address:54.193.230.87:35000 and node id:tls:3e94..a4b1
2022-04-04 23:30:13.562553+0300 xctest[56153:547369] Peer number 106 address:135.181.113.209:35000 and node id:tls:3ebb..42eb
2022-04-04 23:30:13.562644+0300 xctest[56153:547369] Peer number 107 address:23.88.71.227:41488 and node id:tls:408c..74fa
2022-04-04 23:30:13.562731+0300 xctest[56153:547369] Peer number 108 address:5.9.23.55:35000 and node id:tls:4154..9855
2022-04-04 23:30:13.562821+0300 xctest[56153:547369] Peer number 109 address:210.245.49.112:49784 and node id:tls:41dd..e41e
2022-04-04 23:30:13.562905+0300 xctest[56153:547369] Peer number 110 address:54.190.157.127:58756 and node id:tls:41de..f32c
2022-04-04 23:30:13.563351+0300 xctest[56153:547369] Peer number 111 address:195.201.107.240:35000 and node id:tls:4231..d5b3
2022-04-04 23:30:13.563453+0300 xctest[56153:547369] Peer number 112 address:85.114.132.129:35000 and node id:tls:429e..a475
2022-04-04 23:30:13.563704+0300 xctest[56153:547369] Peer number 113 address:135.181.74.237:35000 and node id:tls:432a..6952
2022-04-04 23:30:13.563781+0300 xctest[56153:547369] Peer number 114 address:65.108.5.253:35000 and node id:tls:436d..313a
2022-04-04 23:30:13.563930+0300 xctest[56153:547369] Peer number 115 address:65.108.4.27:35000 and node id:tls:43ad..0ed4
2022-04-04 23:30:13.564029+0300 xctest[56153:547369] Peer number 116 address:178.170.42.149:35000 and node id:tls:43c5..72ab
2022-04-04 23:30:13.564119+0300 xctest[56153:547369] Peer number 117 address:194.163.159.72:35000 and node id:tls:43dc..36e0
2022-04-04 23:30:13.564211+0300 xctest[56153:547369] Peer number 118 address:103.114.224.150:54194 and node id:tls:46d5..b617
2022-04-04 23:30:13.564299+0300 xctest[56153:547369] Peer number 119 address:142.132.155.188:35000 and node id:tls:471f..7bef
2022-04-04 23:30:13.564387+0300 xctest[56153:547369] Peer number 120 address:135.181.216.142:35000 and node id:tls:480c..d92c
2022-04-04 23:30:13.564598+0300 xctest[56153:547369] Peer number 121 address:65.108.1.61:35000 and node id:tls:488f..52c3
2022-04-04 23:30:13.564699+0300 xctest[56153:547369] Peer number 122 address:89.163.224.120:35000 and node id:tls:49a5..5cc7
2022-04-04 23:30:13.564872+0300 xctest[56153:547369] Peer number 123 address:210.245.49.112:53830 and node id:tls:49d5..0142
2022-04-04 23:30:13.564994+0300 xctest[56153:547369] Peer number 124 address:167.71.14.48:52468 and node id:tls:4b1c..f9df
2022-04-04 23:30:13.565089+0300 xctest[56153:547369] Peer number 125 address:148.251.22.148:35000 and node id:tls:4b67..acb2
2022-04-04 23:30:13.565179+0300 xctest[56153:547369] Peer number 126 address:109.238.14.37:35000 and node id:tls:4d2f..36ef
2022-04-04 23:30:13.565267+0300 xctest[56153:547369] Peer number 127 address:3.208.91.63:35000 and node id:tls:4d4c..dca4
2022-04-04 23:30:13.565356+0300 xctest[56153:547369] Peer number 128 address:116.202.221.216:35480 and node id:tls:4d98..f698
2022-04-04 23:30:13.565446+0300 xctest[56153:547369] Peer number 129 address:65.108.10.150:35000 and node id:tls:4ed4..1783
2022-04-04 23:30:13.565536+0300 xctest[56153:547369] Peer number 130 address:5.9.154.76:35000 and node id:tls:502f..9d46
2022-04-04 23:30:13.565622+0300 xctest[56153:547369] Peer number 131 address:207.180.214.56:35000 and node id:tls:5122..f476
2022-04-04 23:30:13.565711+0300 xctest[56153:547369] Peer number 132 address:157.90.130.143:35000 and node id:tls:515b..5465
2022-04-04 23:30:13.565797+0300 xctest[56153:547369] Peer number 133 address:95.216.45.210:35000 and node id:tls:5189..24d9
2022-04-04 23:30:13.565885+0300 xctest[56153:547369] Peer number 134 address:65.21.125.235:35000 and node id:tls:5276..a216
2022-04-04 23:30:13.565970+0300 xctest[56153:547369] Peer number 135 address:103.146.240.245:40962 and node id:tls:52bd..b737
2022-04-04 23:30:13.566053+0300 xctest[56153:547369] Peer number 136 address:135.181.116.109:35000 and node id:tls:5320..1a63
2022-04-04 23:30:13.566142+0300 xctest[56153:547369] Peer number 137 address:185.237.252.128:35000 and node id:tls:5331..33ec
2022-04-04 23:30:13.566327+0300 xctest[56153:547369] Peer number 138 address:65.21.227.86:35000 and node id:tls:541d..f920
2022-04-04 23:30:13.566547+0300 xctest[56153:547369] Peer number 139 address:65.21.194.138:35000 and node id:tls:5422..921a
2022-04-04 23:30:13.566851+0300 xctest[56153:547369] Peer number 140 address:65.21.132.234:35000 and node id:tls:54d0..c10b
2022-04-04 23:30:13.567038+0300 xctest[56153:547369] Peer number 141 address:118.200.90.72:33990 and node id:tls:5523..f8c1
2022-04-04 23:30:13.567149+0300 xctest[56153:547369] Peer number 142 address:128.199.188.182:35000 and node id:tls:5601..4385
2022-04-04 23:30:13.567294+0300 xctest[56153:547369] Peer number 143 address:94.130.14.186:35000 and node id:tls:5720..b8a5
2022-04-04 23:30:13.567437+0300 xctest[56153:547369] Peer number 144 address:3.136.154.249:35000 and node id:tls:5804..9e3f
2022-04-04 23:30:13.567579+0300 xctest[56153:547369] Peer number 145 address:136.243.48.239:54002 and node id:tls:581e..c97d
2022-04-04 23:30:13.567726+0300 xctest[56153:547369] Peer number 146 address:135.181.165.233:35000 and node id:tls:5a22..742d
2022-04-04 23:30:13.567823+0300 xctest[56153:547369] Peer number 147 address:85.114.132.133:35000 and node id:tls:5b61..2b16
2022-04-04 23:30:13.568009+0300 xctest[56153:547369] Peer number 148 address:95.216.42.190:35000 and node id:tls:5bb8..bed0
2022-04-04 23:30:13.568143+0300 xctest[56153:547369] Peer number 149 address:138.201.206.195:35000 and node id:tls:5d39..22d2
2022-04-04 23:30:13.568344+0300 xctest[56153:547369] Peer number 150 address:35.166.244.188:51568 and node id:tls:5d7b..4890
2022-04-04 23:30:13.568452+0300 xctest[56153:547369] Peer number 151 address:65.21.236.44:35000 and node id:tls:5e71..756b
2022-04-04 23:30:13.568682+0300 xctest[56153:547369] Peer number 152 address:138.201.53.13:35000 and node id:tls:5e82..3c6b
2022-04-04 23:30:13.568965+0300 xctest[56153:547369] Peer number 153 address:65.108.101.71:35000 and node id:tls:5eb3..4dc3
2022-04-04 23:30:13.569079+0300 xctest[56153:547369] Peer number 154 address:65.21.194.140:35000 and node id:tls:5ec9..4463
2022-04-04 23:30:13.569193+0300 xctest[56153:547369] Peer number 155 address:103.146.240.245:43262 and node id:tls:600b..e67a
2022-04-04 23:30:13.569288+0300 xctest[56153:547369] Peer number 156 address:157.90.34.213:35000 and node id:tls:614e..8d60
2022-04-04 23:30:13.569546+0300 xctest[56153:547369] Peer number 157 address:167.99.217.85:35000 and node id:tls:61c5..2859
2022-04-04 23:30:13.569666+0300 xctest[56153:547369] Peer number 158 address:135.181.207.1:35000 and node id:tls:6218..4baa
2022-04-04 23:30:13.569869+0300 xctest[56153:547369] Peer number 159 address:65.21.231.40:35000 and node id:tls:629a..32ff
2022-04-04 23:30:13.569976+0300 xctest[56153:547369] Peer number 160 address:103.114.224.150:51274 and node id:tls:62e2..271f
2022-04-04 23:30:13.570131+0300 xctest[56153:547369] Peer number 161 address:65.108.8.30:35000 and node id:tls:66c1..8c01
2022-04-04 23:30:13.570252+0300 xctest[56153:547369] Peer number 162 address:81.30.157.85:35000 and node id:tls:66cf..f454
2022-04-04 23:30:13.570563+0300 xctest[56153:547369] Peer number 163 address:103.114.224.150:47918 and node id:tls:6726..0db1
2022-04-04 23:30:13.570792+0300 xctest[56153:547369] Peer number 164 address:144.76.110.71:35000 and node id:tls:67cd..2a2a
2022-04-04 23:30:13.570899+0300 xctest[56153:547369] Peer number 165 address:3.129.252.116:35000 and node id:tls:6804..6d09
2022-04-04 23:30:13.571065+0300 xctest[56153:547369] Peer number 166 address:103.114.224.150:53718 and node id:tls:6938..c578
2022-04-04 23:30:13.571170+0300 xctest[56153:547369] Peer number 167 address:88.198.2.214:35000 and node id:tls:69a4..6e7b
2022-04-04 23:30:13.571390+0300 xctest[56153:547369] Peer number 168 address:65.108.46.187:35000 and node id:tls:6cb9..cbb4
2022-04-04 23:30:13.571487+0300 xctest[56153:547369] Peer number 169 address:65.21.227.35:35000 and node id:tls:6ea7..59c9
2022-04-04 23:30:13.571597+0300 xctest[56153:547369] Peer number 170 address:5.9.21.141:35000 and node id:tls:6f87..d639
2022-04-04 23:30:13.571709+0300 xctest[56153:547369] Peer number 171 address:148.251.78.90:45454 and node id:tls:7062..d255
2022-04-04 23:30:13.571805+0300 xctest[56153:547369] Peer number 172 address:18.167.47.162:35000 and node id:tls:70cf..b957
2022-04-04 23:30:13.571974+0300 xctest[56153:547369] Peer number 173 address:162.55.242.24:35000 and node id:tls:7171..c648
2022-04-04 23:30:13.572070+0300 xctest[56153:547369] Peer number 174 address:65.108.41.164:35000 and node id:tls:7288..2ee7
2022-04-04 23:30:13.572254+0300 xctest[56153:547369] Peer number 175 address:195.201.167.179:35000 and node id:tls:72fc..7444
2022-04-04 23:30:13.572394+0300 xctest[56153:547369] Peer number 176 address:103.114.224.150:45130 and node id:tls:7337..5fa5
2022-04-04 23:30:13.572593+0300 xctest[56153:547369] Peer number 177 address:65.108.11.103:35000 and node id:tls:738d..fa71
2022-04-04 23:30:13.572780+0300 xctest[56153:547369] Peer number 178 address:65.108.3.108:35000 and node id:tls:73ee..af58
2022-04-04 23:30:13.572892+0300 xctest[56153:547369] Peer number 179 address:195.88.87.26:35000 and node id:tls:7450..3f14
2022-04-04 23:30:13.572993+0300 xctest[56153:547369] Peer number 180 address:136.243.147.249:35000 and node id:tls:74e2..f300
2022-04-04 23:30:13.573086+0300 xctest[56153:547369] Peer number 181 address:103.146.240.245:35012 and node id:tls:7523..cd93
2022-04-04 23:30:13.573177+0300 xctest[56153:547369] Peer number 182 address:13.52.2.182:35000 and node id:tls:76c5..8553
2022-04-04 23:30:13.573315+0300 xctest[56153:547369] Peer number 183 address:54.72.219.182:37846 and node id:tls:76cf..7e20
2022-04-04 23:30:13.573505+0300 xctest[56153:547369] Peer number 184 address:188.40.47.161:35000 and node id:tls:7731..d2eb
2022-04-04 23:30:13.573679+0300 xctest[56153:547369] Peer number 185 address:178.170.46.167:35000 and node id:tls:780a..6ca2
2022-04-04 23:30:13.573799+0300 xctest[56153:547369] Peer number 186 address:95.216.71.88:35000 and node id:tls:78ee..ee62
2022-04-04 23:30:13.574046+0300 xctest[56153:547369] Peer number 187 address:65.21.95.180:35000 and node id:tls:7957..7cea
2022-04-04 23:30:13.574279+0300 xctest[56153:547369] Peer number 188 address:65.108.11.90:35000 and node id:tls:7a2f..fdec
2022-04-04 23:30:13.574392+0300 xctest[56153:547369] Peer number 189 address:118.200.90.72:33980 and node id:tls:7a8e..8409
2022-04-04 23:30:13.574516+0300 xctest[56153:547369] Peer number 190 address:148.251.90.119:35000 and node id:tls:7b05..68ad
2022-04-04 23:30:13.574615+0300 xctest[56153:547369] Peer number 191 address:54.72.219.182:44294 and node id:tls:7b56..125d
2022-04-04 23:30:13.574924+0300 xctest[56153:547369] Peer number 192 address:95.217.206.250:35000 and node id:tls:7c60..f9a5
2022-04-04 23:30:13.575205+0300 xctest[56153:547369] Peer number 193 address:95.216.246.31:35000 and node id:tls:7c62..e3d2
2022-04-04 23:30:13.575312+0300 xctest[56153:547369] Peer number 194 address:65.21.92.145:35000 and node id:tls:7cab..a75f
2022-04-04 23:30:13.575401+0300 xctest[56153:547369] Peer number 195 address:94.130.140.91:35000 and node id:tls:7cad..a1d0
2022-04-04 23:30:13.575494+0300 xctest[56153:547369] Peer number 196 address:195.201.174.222:35000 and node id:tls:7d63..3426
2022-04-04 23:30:13.575588+0300 xctest[56153:547369] Peer number 197 address:162.55.245.143:35000 and node id:tls:7e90..9a4d
2022-04-04 23:30:13.575692+0300 xctest[56153:547369] Peer number 198 address:149.28.148.172:35000 and node id:tls:7f3d..3e23
2022-04-04 23:30:13.575786+0300 xctest[56153:547369] Peer number 199 address:103.146.240.245:58888 and node id:tls:805e..2fea
2022-04-04 23:30:13.575870+0300 xctest[56153:547369] Peer number 200 address:116.202.158.93:35000 and node id:tls:8098..01c3
2022-04-04 23:30:13.575950+0300 xctest[56153:547369] Peer number 201 address:45.76.150.22:35000 and node id:tls:80c6..8a6b
2022-04-04 23:30:13.576321+0300 xctest[56153:547369] Peer number 202 address:148.251.10.212:35000 and node id:tls:80ff..ce19
2022-04-04 23:30:13.576433+0300 xctest[56153:547369] Peer number 203 address:103.114.224.150:43610 and node id:tls:825f..154b
2022-04-04 23:30:13.576521+0300 xctest[56153:547369] Peer number 204 address:142.4.208.184:35000 and node id:tls:8316..a39e
2022-04-04 23:30:13.576608+0300 xctest[56153:547369] Peer number 205 address:5.9.21.244:35000 and node id:tls:8320..b3a9
2022-04-04 23:30:13.576781+0300 xctest[56153:547369] Peer number 206 address:49.12.51.214:35000 and node id:tls:8321..7a95
2022-04-04 23:30:13.576881+0300 xctest[56153:547369] Peer number 207 address:167.99.209.179:35000 and node id:tls:8343..3b4f
2022-04-04 23:30:13.576965+0300 xctest[56153:547369] Peer number 208 address:52.70.214.247:35000 and node id:tls:83cb..53da
2022-04-04 23:30:13.577050+0300 xctest[56153:547369] Peer number 209 address:207.148.121.215:35000 and node id:tls:853f..1e2d
2022-04-04 23:30:13.577325+0300 xctest[56153:547369] Peer number 210 address:35.163.152.22:43660 and node id:tls:8568..1422
2022-04-04 23:30:13.577429+0300 xctest[56153:547369] Peer number 211 address:65.108.8.45:35000 and node id:tls:85ba..9376
2022-04-04 23:30:13.577523+0300 xctest[56153:547369] Peer number 212 address:65.21.88.221:35000 and node id:tls:85c9..a9e1
2022-04-04 23:30:13.577650+0300 xctest[56153:547369] Peer number 213 address:45.83.106.29:35000 and node id:tls:8688..59e0
2022-04-04 23:30:13.577743+0300 xctest[56153:547369] Peer number 214 address:65.108.0.79:35000 and node id:tls:86ca..2231
2022-04-04 23:30:13.577834+0300 xctest[56153:547369] Peer number 215 address:65.108.101.20:35000 and node id:tls:86f6..2f07
2022-04-04 23:30:13.577924+0300 xctest[56153:547369] Peer number 216 address:138.201.224.174:35000 and node id:tls:8799..b911
2022-04-04 23:30:13.578011+0300 xctest[56153:547369] Peer number 217 address:159.65.118.250:35000 and node id:tls:8a1d..292e
2022-04-04 23:30:13.578100+0300 xctest[56153:547369] Peer number 218 address:142.132.208.215:35000 and node id:tls:8a20..d4e0
2022-04-04 23:30:13.578187+0300 xctest[56153:547369] Peer number 219 address:65.108.5.248:35000 and node id:tls:8bec..00ac
2022-04-04 23:30:13.578276+0300 xctest[56153:547369] Peer number 220 address:103.114.224.150:47874 and node id:tls:8c1a..e0bf
2022-04-04 23:30:13.578365+0300 xctest[56153:547369] Peer number 221 address:54.72.219.182:55390 and node id:tls:8c43..e03f
2022-04-04 23:30:13.578453+0300 xctest[56153:547369] Peer number 222 address:103.114.224.150:53748 and node id:tls:8d6b..7ea3
2022-04-04 23:30:13.578540+0300 xctest[56153:547369] Peer number 223 address:135.181.114.196:35000 and node id:tls:8e1b..85af
2022-04-04 23:30:13.578628+0300 xctest[56153:547369] Peer number 224 address:65.21.133.2:35000 and node id:tls:9027..56a6
2022-04-04 23:30:13.578713+0300 xctest[56153:547369] Peer number 225 address:88.99.60.204:35000 and node id:tls:90ac..6529
2022-04-04 23:30:13.578799+0300 xctest[56153:547369] Peer number 226 address:141.94.194.38:35000 and node id:tls:9150..cd50
2022-04-04 23:30:13.578884+0300 xctest[56153:547369] Peer number 227 address:65.108.2.46:35000 and node id:tls:91a5..704a
2022-04-04 23:30:13.579071+0300 xctest[56153:547369] Peer number 228 address:172.114.130.252:35000 and node id:tls:92dc..8c74
2022-04-04 23:30:13.579310+0300 xctest[56153:547369] Peer number 229 address:65.108.2.223:35000 and node id:tls:9486..103a
2022-04-04 23:30:13.579568+0300 xctest[56153:547369] Peer number 230 address:95.216.10.102:35000 and node id:tls:949a..f88a
2022-04-04 23:30:13.579680+0300 xctest[56153:547369] Peer number 231 address:35.238.105.248:35000 and node id:tls:94b3..90a8
2022-04-04 23:30:13.579931+0300 xctest[56153:547369] Peer number 232 address:65.108.42.60:35000 and node id:tls:9521..1f97
2022-04-04 23:30:13.580051+0300 xctest[56153:547369] Peer number 233 address:65.108.140.73:35000 and node id:tls:95a3..8525
2022-04-04 23:30:13.580228+0300 xctest[56153:547369] Peer number 234 address:5.9.50.59:35000 and node id:tls:95a5..ea3a
2022-04-04 23:30:13.580338+0300 xctest[56153:547369] Peer number 235 address:121.6.33.237:32090 and node id:tls:96ce..3b57
2022-04-04 23:30:13.580527+0300 xctest[56153:547369] Peer number 236 address:103.146.240.245:35054 and node id:tls:9707..3d2a
2022-04-04 23:30:13.580634+0300 xctest[56153:547369] Peer number 237 address:3.128.192.255:35000 and node id:tls:9781..9580
2022-04-04 23:30:13.580741+0300 xctest[56153:547369] Peer number 238 address:128.199.53.68:35000 and node id:tls:9859..c629
2022-04-04 23:30:13.580854+0300 xctest[56153:547369] Peer number 239 address:207.180.199.157:49158 and node id:tls:98b5..c830
2022-04-04 23:30:13.580949+0300 xctest[56153:547369] Peer number 240 address:16.162.124.124:35000 and node id:tls:9a65..3f65
2022-04-04 23:30:13.581220+0300 xctest[56153:547369] Peer number 241 address:157.90.7.48:35000 and node id:tls:9b34..6cac
2022-04-04 23:30:13.581335+0300 xctest[56153:547369] Peer number 242 address:103.146.240.245:58864 and node id:tls:9bb7..bb09
2022-04-04 23:30:13.581550+0300 xctest[56153:547369] Peer number 243 address:5.9.77.72:35000 and node id:tls:9c08..1d2f
2022-04-04 23:30:13.581859+0300 xctest[56153:547369] Peer number 244 address:193.48.40.70:1742 and node id:tls:9c20..9fa9
2022-04-04 23:30:13.582214+0300 xctest[56153:547369] Peer number 245 address:65.21.77.17:35000 and node id:tls:9f03..2f74
2022-04-04 23:30:13.582431+0300 xctest[56153:547369] Peer number 246 address:18.221.200.21:39412 and node id:tls:a0f7..c5e0
2022-04-04 23:30:13.582553+0300 xctest[56153:547369] Peer number 247 address:65.108.2.43:35000 and node id:tls:a35d..3eb6
2022-04-04 23:30:13.582745+0300 xctest[56153:547369] Peer number 248 address:118.200.90.72:33964 and node id:tls:a396..6730
2022-04-04 23:30:13.582876+0300 xctest[56153:547369] Peer number 249 address:213.202.212.222:35000 and node id:tls:a3bb..7817
2022-04-04 23:30:13.583035+0300 xctest[56153:547369] Peer number 250 address:93.91.131.124:35000 and node id:tls:a477..37e8
2022-04-04 23:30:13.583140+0300 xctest[56153:547369] Peer number 251 address:136.243.167.62:35000 and node id:tls:a4d1..5413
2022-04-04 23:30:13.583265+0300 xctest[56153:547369] Peer number 252 address:95.217.115.123:35000 and node id:tls:a55a..4ab0
2022-04-04 23:30:13.583394+0300 xctest[56153:547369] Peer number 253 address:207.180.198.31:47762 and node id:tls:a5c2..a4dc
2022-04-04 23:30:13.583497+0300 xctest[56153:547369] Peer number 254 address:178.63.75.44:35000 and node id:tls:a672..6a36
2022-04-04 23:30:13.583682+0300 xctest[56153:547369] Peer number 255 address:194.163.159.62:35000 and node id:tls:a707..b7bf
2022-04-04 23:30:13.583783+0300 xctest[56153:547369] Peer number 256 address:54.146.85.72:35000 and node id:tls:a79e..b217
2022-04-04 23:30:13.583889+0300 xctest[56153:547369] Peer number 257 address:95.216.45.4:35000 and node id:tls:a83b..ad67
2022-04-04 23:30:13.584035+0300 xctest[56153:547369] Peer number 258 address:136.243.187.84:35000 and node id:tls:a887..64e0
2022-04-04 23:30:13.584225+0300 xctest[56153:547369] Peer number 259 address:65.21.194.174:35000 and node id:tls:a92c..93a4
2022-04-04 23:30:13.584372+0300 xctest[56153:547369] Peer number 260 address:135.181.4.34:35000 and node id:tls:a974..460c
2022-04-04 23:30:13.584529+0300 xctest[56153:547369] Peer number 261 address:138.201.36.95:35000 and node id:tls:a97f..ccf3
2022-04-04 23:30:13.584669+0300 xctest[56153:547369] Peer number 262 address:118.200.90.72:33992 and node id:tls:a99a..3544
2022-04-04 23:30:13.584900+0300 xctest[56153:547369] Peer number 263 address:54.185.243.161:48590 and node id:tls:aa36..e2b4
2022-04-04 23:30:13.585013+0300 xctest[56153:547369] Peer number 264 address:65.108.69.56:35000 and node id:tls:aa67..e91d
2022-04-04 23:30:13.585200+0300 xctest[56153:547369] Peer number 265 address:65.21.235.145:35000 and node id:tls:aabe..f526
2022-04-04 23:30:13.585324+0300 xctest[56153:547369] Peer number 266 address:118.200.90.72:33994 and node id:tls:aaed..c534
2022-04-04 23:30:13.585589+0300 xctest[56153:547369] Peer number 267 address:65.108.3.230:35000 and node id:tls:ab3a..9675
2022-04-04 23:30:13.585794+0300 xctest[56153:547369] Peer number 268 address:65.108.0.43:35000 and node id:tls:ab63..db69
2022-04-04 23:30:13.585898+0300 xctest[56153:547369] Peer number 269 address:144.126.152.28:58792 and node id:tls:acd6..47f3
2022-04-04 23:30:13.585993+0300 xctest[56153:547369] Peer number 270 address:95.216.1.154:35000 and node id:tls:ad90..efd3
2022-04-04 23:30:13.586086+0300 xctest[56153:547369] Peer number 271 address:3.35.9.254:35000 and node id:tls:ada3..3472
2022-04-04 23:30:13.586175+0300 xctest[56153:547369] Peer number 272 address:65.108.0.105:35000 and node id:tls:ae27..6988
2022-04-04 23:30:13.586261+0300 xctest[56153:547369] Peer number 273 address:168.119.138.106:35000 and node id:tls:ae53..9e05
2022-04-04 23:30:13.586437+0300 xctest[56153:547369] Peer number 274 address:178.170.48.54:35000 and node id:tls:ae5d..79e5
2022-04-04 23:30:13.586724+0300 xctest[56153:547369] Peer number 275 address:146.59.68.3:35000 and node id:tls:ae62..9eb3
2022-04-04 23:30:13.586840+0300 xctest[56153:547369] Peer number 276 address:121.6.33.237:37736 and node id:tls:aed3..f8e7
2022-04-04 23:30:13.587031+0300 xctest[56153:547369] Peer number 277 address:95.216.246.20:35000 and node id:tls:af71..dd82
2022-04-04 23:30:13.587164+0300 xctest[56153:547369] Peer number 278 address:195.201.13.135:35000 and node id:tls:af82..a952
2022-04-04 23:30:13.587360+0300 xctest[56153:547369] Peer number 279 address:178.216.202.150:35000 and node id:tls:b0ad..293b
2022-04-04 23:30:13.587469+0300 xctest[56153:547369] Peer number 280 address:65.108.9.249:35000 and node id:tls:b114..5fc9
2022-04-04 23:30:13.587708+0300 xctest[56153:547369] Peer number 281 address:103.114.224.150:46452 and node id:tls:b131..9d02
2022-04-04 23:30:13.587818+0300 xctest[56153:547369] Peer number 282 address:65.108.41.42:35000 and node id:tls:b1c3..1fa6
2022-04-04 23:30:13.587913+0300 xctest[56153:547369] Peer number 283 address:65.21.88.62:35000 and node id:tls:b214..b061
2022-04-04 23:30:13.588096+0300 xctest[56153:547369] Peer number 284 address:95.216.37.50:35000 and node id:tls:b2db..9927
2022-04-04 23:30:13.588312+0300 xctest[56153:547369] Peer number 285 address:103.146.240.245:59962 and node id:tls:b304..874a
2022-04-04 23:30:13.588428+0300 xctest[56153:547369] Peer number 286 address:94.130.143.151:35000 and node id:tls:b345..ede4
2022-04-04 23:30:13.588524+0300 xctest[56153:547369] Peer number 287 address:95.216.36.177:35000 and node id:tls:b3e4..5f4e
2022-04-04 23:30:13.588645+0300 xctest[56153:547369] Peer number 288 address:89.58.31.92:35000 and node id:tls:b494..f623
2022-04-04 23:30:13.588880+0300 xctest[56153:547369] Peer number 289 address:95.216.96.62:35000 and node id:tls:b50c..56ba
2022-04-04 23:30:13.588989+0300 xctest[56153:547369] Peer number 290 address:88.198.2.214:34966 and node id:tls:b524..4c93
2022-04-04 23:30:13.589085+0300 xctest[56153:547369] Peer number 291 address:65.21.120.160:35000 and node id:tls:b5f3..4e00
2022-04-04 23:30:13.589178+0300 xctest[56153:547369] Peer number 292 address:95.216.116.53:35000 and node id:tls:b928..5335
2022-04-04 23:30:13.589268+0300 xctest[56153:547369] Peer number 293 address:162.55.132.188:48986 and node id:tls:ba6b..06d3
2022-04-04 23:30:13.589357+0300 xctest[56153:547369] Peer number 294 address:135.181.60.145:35000 and node id:tls:ba8a..72ba
2022-04-04 23:30:13.589447+0300 xctest[56153:547369] Peer number 295 address:94.130.236.189:35000 and node id:tls:bb39..3588
2022-04-04 23:30:13.589536+0300 xctest[56153:547369] Peer number 296 address:65.21.238.180:35000 and node id:tls:bb77..bde4
2022-04-04 23:30:13.589623+0300 xctest[56153:547369] Peer number 297 address:65.108.2.35:35000 and node id:tls:bb9b..71e5
2022-04-04 23:30:13.589710+0300 xctest[56153:547369] Peer number 298 address:65.21.231.103:35000 and node id:tls:bc49..a24a
2022-04-04 23:30:13.589898+0300 xctest[56153:547369] Peer number 299 address:65.108.67.104:35000 and node id:tls:be7b..84e3
2022-04-04 23:30:13.590206+0300 xctest[56153:547369] Peer number 300 address:118.200.90.72:33976 and node id:tls:bece..3b3c
2022-04-04 23:30:13.590324+0300 xctest[56153:547369] Peer number 301 address:195.201.198.188:35000 and node id:tls:bf3d..81a9
2022-04-04 23:30:13.590548+0300 xctest[56153:547369] Peer number 302 address:103.114.224.150:53670 and node id:tls:c17f..df1f
2022-04-04 23:30:13.590659+0300 xctest[56153:547369] Peer number 303 address:103.146.240.245:46724 and node id:tls:c29b..2447
2022-04-04 23:30:13.590971+0300 xctest[56153:547369] Peer number 304 address:95.216.11.106:35000 and node id:tls:c3e8..a564
2022-04-04 23:30:13.591143+0300 xctest[56153:547369] Peer number 305 address:103.114.224.150:52256 and node id:tls:c509..0c25
2022-04-04 23:30:13.591280+0300 xctest[56153:547369] Peer number 306 address:65.108.73.113:35000 and node id:tls:c5eb..b506
2022-04-04 23:30:13.591434+0300 xctest[56153:547369] Peer number 307 address:118.200.90.72:33986 and node id:tls:c643..2d42
2022-04-04 23:30:13.591541+0300 xctest[56153:547369] Peer number 308 address:172.114.130.252:59012 and node id:tls:c6cb..9986
2022-04-04 23:30:13.591651+0300 xctest[56153:547369] Peer number 309 address:172.114.130.252:35688 and node id:tls:c727..671e
2022-04-04 23:30:13.591854+0300 xctest[56153:547369] Peer number 310 address:65.21.140.57:35000 and node id:tls:c7f6..d96f
2022-04-04 23:30:13.591963+0300 xctest[56153:547369] Peer number 311 address:65.108.11.104:35000 and node id:tls:c988..efe7
2022-04-04 23:30:13.592197+0300 xctest[56153:547369] Peer number 312 address:162.55.83.183:35000 and node id:tls:c9d2..4df0
2022-04-04 23:30:13.592492+0300 xctest[56153:547369] Peer number 313 address:65.21.134.245:35000 and node id:tls:ca0e..0537
2022-04-04 23:30:13.592712+0300 xctest[56153:547369] Peer number 314 address:78.46.32.13:35000 and node id:tls:ca14..5362
2022-04-04 23:30:13.592834+0300 xctest[56153:547369] Peer number 315 address:13.36.53.201:35000 and node id:tls:cb92..5ab7
2022-04-04 23:30:13.592942+0300 xctest[56153:547369] Peer number 316 address:65.21.227.101:35000 and node id:tls:cbbb..6bef
2022-04-04 23:30:13.593181+0300 xctest[56153:547369] Peer number 317 address:65.108.0.59:35000 and node id:tls:cc74..173c
2022-04-04 23:30:13.593370+0300 xctest[56153:547369] Peer number 318 address:3.21.55.59:35000 and node id:tls:ce02..e761
2022-04-04 23:30:13.593480+0300 xctest[56153:547369] Peer number 319 address:138.201.199.100:35000 and node id:tls:d043..8a7a
2022-04-04 23:30:13.593575+0300 xctest[56153:547369] Peer number 320 address:54.72.219.182:58536 and node id:tls:d0e3..b2ae
2022-04-04 23:30:13.593665+0300 xctest[56153:547369] Peer number 321 address:51.124.238.59:35000 and node id:tls:d110..fb55
2022-04-04 23:30:13.593756+0300 xctest[56153:547369] Peer number 322 address:104.243.40.167:35000 and node id:tls:d12c..9612
2022-04-04 23:30:13.593845+0300 xctest[56153:547369] Peer number 323 address:62.171.156.235:35000 and node id:tls:d157..cd15
2022-04-04 23:30:13.593932+0300 xctest[56153:547369] Peer number 324 address:135.181.57.13:35000 and node id:tls:d16e..3b35
2022-04-04 23:30:13.594086+0300 xctest[56153:547369] Peer number 325 address:65.21.197.27:35000 and node id:tls:d1ca..7838
2022-04-04 23:30:13.594227+0300 xctest[56153:547369] Peer number 326 address:88.99.94.214:35000 and node id:tls:d241..7422
2022-04-04 23:30:13.594539+0300 xctest[56153:547369] Peer number 327 address:168.119.147.38:35000 and node id:tls:d3d9..2eae
2022-04-04 23:30:13.594742+0300 xctest[56153:547369] Peer number 328 address:135.181.114.117:35000 and node id:tls:d3e7..3110
2022-04-04 23:30:13.594855+0300 xctest[56153:547369] Peer number 329 address:5.9.93.122:35000 and node id:tls:d466..de8e
2022-04-04 23:30:13.595090+0300 xctest[56153:547369] Peer number 330 address:95.216.112.17:35000 and node id:tls:d4e0..67fe
2022-04-04 23:30:13.595196+0300 xctest[56153:547369] Peer number 331 address:88.99.4.9:35000 and node id:tls:d4e3..b50a
2022-04-04 23:30:13.595481+0300 xctest[56153:547369] Peer number 332 address:95.217.62.236:35000 and node id:tls:d563..b5c2
2022-04-04 23:30:13.595670+0300 xctest[56153:547369] Peer number 333 address:65.21.233.95:35000 and node id:tls:d678..172c
2022-04-04 23:30:13.595800+0300 xctest[56153:547369] Peer number 334 address:65.21.204.190:35000 and node id:tls:d6cb..2482
2022-04-04 23:30:13.595958+0300 xctest[56153:547369] Peer number 335 address:207.231.104.186:35000 and node id:tls:d6ec..f002
2022-04-04 23:30:13.596129+0300 xctest[56153:547369] Peer number 336 address:65.108.10.187:35000 and node id:tls:d719..4284
2022-04-04 23:30:13.596230+0300 xctest[56153:547369] Peer number 337 address:159.69.77.28:35000 and node id:tls:d71c..5323
2022-04-04 23:30:13.596324+0300 xctest[56153:547369] Peer number 338 address:103.146.240.245:58882 and node id:tls:d74c..c499
2022-04-04 23:30:13.596429+0300 xctest[56153:547369] Peer number 339 address:162.55.245.219:35000 and node id:tls:d75d..0dbc
2022-04-04 23:30:13.596529+0300 xctest[56153:547369] Peer number 340 address:95.217.34.115:35000 and node id:tls:d795..6648
2022-04-04 23:30:13.596616+0300 xctest[56153:547369] Peer number 341 address:95.216.44.9:35000 and node id:tls:d977..3243
2022-04-04 23:30:13.596695+0300 xctest[56153:547369] Peer number 342 address:159.148.35.182:35000 and node id:tls:da06..3fcb
2022-04-04 23:30:13.596775+0300 xctest[56153:547369] Peer number 343 address:103.146.240.245:40276 and node id:tls:da9c..0337
2022-04-04 23:30:13.596859+0300 xctest[56153:547369] Peer number 344 address:3.137.206.147:35000 and node id:tls:dad0..6d3f
2022-04-04 23:30:13.597156+0300 xctest[56153:547369] Peer number 345 address:3.136.227.9:35000 and node id:tls:db17..2777
2022-04-04 23:30:13.597266+0300 xctest[56153:547369] Peer number 346 address:65.108.72.159:35000 and node id:tls:dbd4..dff4
2022-04-04 23:30:13.597383+0300 xctest[56153:547369] Peer number 347 address:65.21.237.160:35000 and node id:tls:dc97..bdab
2022-04-04 23:30:13.597484+0300 xctest[56153:547369] Peer number 348 address:46.4.115.20:35000 and node id:tls:de30..e879
2022-04-04 23:30:13.597573+0300 xctest[56153:547369] Peer number 349 address:65.108.1.10:35000 and node id:tls:de87..d140
2022-04-04 23:30:13.597670+0300 xctest[56153:547369] Peer number 350 address:5.9.21.244:52312 and node id:tls:df09..790b
2022-04-04 23:30:13.597823+0300 xctest[56153:547369] Peer number 351 address:118.200.90.72:33968 and node id:tls:df4c..bc20
2022-04-04 23:30:13.598018+0300 xctest[56153:547369] Peer number 352 address:52.32.198.136:46326 and node id:tls:df81..d0bf
2022-04-04 23:30:13.598309+0300 xctest[56153:547369] Peer number 353 address:65.21.79.236:35000 and node id:tls:dfb8..4361
2022-04-04 23:30:13.598424+0300 xctest[56153:547369] Peer number 354 address:5.9.6.115:35000 and node id:tls:e1c8..197e
2022-04-04 23:30:13.598609+0300 xctest[56153:547369] Peer number 355 address:95.216.20.4:35000 and node id:tls:e26e..7ea1
2022-04-04 23:30:13.598722+0300 xctest[56153:547369] Peer number 356 address:135.181.208.231:35000 and node id:tls:e2b1..ca8a
2022-04-04 23:30:13.598858+0300 xctest[56153:547369] Peer number 357 address:109.238.11.77:35000 and node id:tls:e302..4345
2022-04-04 23:30:13.598961+0300 xctest[56153:547369] Peer number 358 address:161.97.160.138:57438 and node id:tls:e303..c094
2022-04-04 23:30:13.599053+0300 xctest[56153:547369] Peer number 359 address:54.72.219.182:57892 and node id:tls:e358..6b24
2022-04-04 23:30:13.599248+0300 xctest[56153:547369] Peer number 360 address:35.160.147.124:36234 and node id:tls:e3cd..2855
2022-04-04 23:30:13.599353+0300 xctest[56153:547369] Peer number 361 address:65.21.132.171:49352 and node id:tls:e497..424a
2022-04-04 23:30:13.599616+0300 xctest[56153:547369] Peer number 362 address:89.58.31.153:35000 and node id:tls:e49c..dd4c
2022-04-04 23:30:13.599734+0300 xctest[56153:547369] Peer number 363 address:66.42.55.195:35000 and node id:tls:e553..a844
2022-04-04 23:30:13.599948+0300 xctest[56153:547369] Peer number 364 address:65.108.77.45:35000 and node id:tls:e5b8..e525
2022-04-04 23:30:13.600230+0300 xctest[56153:547369] Peer number 365 address:89.58.2.198:35000 and node id:tls:e610..33d4
2022-04-04 23:30:13.600349+0300 xctest[56153:547369] Peer number 366 address:95.217.78.26:35000 and node id:tls:e6ad..335f
2022-04-04 23:30:13.600449+0300 xctest[56153:547369] Peer number 367 address:65.108.0.148:35000 and node id:tls:e8d1..c79b
2022-04-04 23:30:13.600631+0300 xctest[56153:547369] Peer number 368 address:65.21.236.40:35000 and node id:tls:ead7..0eaf
2022-04-04 23:30:13.600763+0300 xctest[56153:547369] Peer number 369 address:65.21.231.40:59752 and node id:tls:eade..ba57
2022-04-04 23:30:13.600918+0300 xctest[56153:547369] Peer number 370 address:89.58.30.252:35000 and node id:tls:ec1f..f89d
2022-04-04 23:30:13.601074+0300 xctest[56153:547369] Peer number 371 address:5.9.50.135:35000 and node id:tls:ec59..f568
2022-04-04 23:30:13.601198+0300 xctest[56153:547369] Peer number 372 address:23.88.74.82:35000 and node id:tls:ecde..65a6
2022-04-04 23:30:13.601295+0300 xctest[56153:547369] Peer number 373 address:65.21.79.189:35000 and node id:tls:ed98..da40
2022-04-04 23:30:13.601494+0300 xctest[56153:547369] Peer number 374 address:65.108.0.189:35000 and node id:tls:efad..3839
2022-04-04 23:30:13.601686+0300 xctest[56153:547369] Peer number 375 address:103.146.240.245:59212 and node id:tls:f021..f41a
2022-04-04 23:30:13.601812+0300 xctest[56153:547369] Peer number 376 address:88.99.100.42:35000 and node id:tls:f090..835b
2022-04-04 23:30:13.601917+0300 xctest[56153:547369] Peer number 377 address:176.9.119.49:35000 and node id:tls:f0f6..379e
2022-04-04 23:30:13.602107+0300 xctest[56153:547369] Peer number 378 address:65.21.204.180:35000 and node id:tls:f376..0a84
2022-04-04 23:30:13.602235+0300 xctest[56153:547369] Peer number 379 address:103.114.224.150:34678 and node id:tls:f432..c7f2
2022-04-04 23:30:13.602399+0300 xctest[56153:547369] Peer number 380 address:44.229.43.241:42648 and node id:tls:f46f..35a4
2022-04-04 23:30:13.602524+0300 xctest[56153:547369] Peer number 381 address:65.21.238.224:35000 and node id:tls:f4e1..df7e
2022-04-04 23:30:13.602640+0300 xctest[56153:547369] Peer number 382 address:65.21.227.180:35000 and node id:tls:f56c..5c15
2022-04-04 23:30:13.602858+0300 xctest[56153:547369] Peer number 383 address:65.21.234.60:35000 and node id:tls:f581..6ada
2022-04-04 23:30:13.603073+0300 xctest[56153:547369] Peer number 384 address:210.245.49.112:60702 and node id:tls:f6bf..dde4
2022-04-04 23:30:13.603186+0300 xctest[56153:547369] Peer number 385 address:195.201.105.244:35000 and node id:tls:f7de..c8af
2022-04-04 23:30:13.603282+0300 xctest[56153:547369] Peer number 386 address:118.200.90.72:33972 and node id:tls:f83f..c005
2022-04-04 23:30:13.603478+0300 xctest[56153:547369] Peer number 387 address:65.108.4.79:35000 and node id:tls:f8f9..cde2
2022-04-04 23:30:13.603679+0300 xctest[56153:547369] Peer number 388 address:135.181.199.62:35820 and node id:tls:f99f..bf0c
2022-04-04 23:30:13.603834+0300 xctest[56153:547369] Peer number 389 address:114.143.165.174:65082 and node id:tls:f9aa..751d
2022-04-04 23:30:13.603931+0300 xctest[56153:547369] Peer number 390 address:172.93.100.3:35000 and node id:tls:fa31..4c34
2022-04-04 23:30:13.604022+0300 xctest[56153:547369] Peer number 391 address:138.201.122.209:35000 and node id:tls:fad4..b04c
2022-04-04 23:30:13.604115+0300 xctest[56153:547369] Peer number 392 address:162.55.239.44:35000 and node id:tls:fd42..1070
2022-04-04 23:30:13.604203+0300 xctest[56153:547369] Peer number 393 address:65.21.237.43:48262 and node id:tls:fdea..e001
2022-04-04 23:30:13.604306+0300 xctest[56153:547369] Peer number 394 address:144.76.238.62:35000 and node id:tls:fe51..211c
2022-04-04 23:30:13.604507+0300 xctest[56153:547369] Peer number 395 address:118.200.90.72:33996 and node id:tls:fea7..52e8
2022-04-04 23:30:13.604756+0300 xctest[56153:547369] Peer number 396 address:116.202.115.195:35000 and node id:tls:ff67..e943
2022-04-04 23:30:13.604867+0300 xctest[56153:547369] Peer number 397 address:44.232.7.112:35498 and node id:tls:ff7c..3d2d
Test Case '-[GetPeerResultTest testGetPeerList]' passed (0.849 seconds).
Test Suite 'GetPeerResultTest' passed at 2022-04-04 23:30:13.607.
	 Executed 1 test, with 0 failures (0 unexpected) in 0.849 (0.850) seconds
Test Suite 'GetStateRootHashTest' started at 2022-04-04 23:30:13.607
Test Case '-[GetStateRootHashTest testGetStateRootHash]' started.
2022-04-04 23:30:13.609176+0300 xctest[56153:547369] M1: chain_get_state_root_hash test cases
2022-04-04 23:30:16.282928+0300 xctest[56153:547369] Error get state root hash with error message:block not known and error code:-32001
2022-04-04 23:30:16.980678+0300 xctest[56153:547369] Error get state root hash with error message:block not known and error code:-32001
Test Case '-[GetStateRootHashTest testGetStateRootHash]' passed (3.374 seconds).
Test Suite 'GetStateRootHashTest' passed at 2022-04-04 23:30:16.982.
	 Executed 1 test, with 0 failures (0 unexpected) in 3.374 (3.375) seconds
Test Suite 'GetStatusTest' started at 2022-04-04 23:30:16.983
Test Case '-[GetStatusTest testGetStatus]' started.
2022-04-04 23:30:17.760566+0300 xctest[56153:547369] Get status result, starting_state_root_hash:9de97ed44c9d925a3bdd4c6a55afb6b9e6cfdd9ca358505f3099c888c10224d4
2022-04-04 23:30:17.760921+0300 xctest[56153:547369] Get status result, our_public_signing_key:017d96b9a63abcb61c870a4f55187a0a7ac24096bdb5fc585c12a686a4d892009e
2022-04-04 23:30:17.761230+0300 xctest[56153:547369] Get status result, total peer:397
2022-04-04 23:30:17.761305+0300 xctest[56153:547369] Get status result, last_added_block_info hash:7c4d9214cdd9544a15bf2fd26dd1c44c4b81a1cfa984bbb5739c71a6ec6e3235
2022-04-04 23:30:17.761360+0300 xctest[56153:547369] Get status result, last_added_block_info creator:01a03c687285634a0115c0af1015ab0a53809f4826ee863c94e32ce48bcfdf447d
Test Case '-[GetStatusTest testGetStatus]' passed (0.780 seconds).
Test Suite 'GetStatusTest' passed at 2022-04-04 23:30:17.763.
	 Executed 1 test, with 0 failures (0 unexpected) in 0.780 (0.781) seconds
Test Suite 'Serialization_CLTypeTest' started at 2022-04-04 23:30:17.764
Test Case '-[Serialization_CLTypeTest testCLTypeSerialization]' started.
Test Case '-[Serialization_CLTypeTest testCLTypeSerialization]' passed (0.002 seconds).
Test Suite 'Serialization_CLTypeTest' passed at 2022-04-04 23:30:17.767.
	 Executed 1 test, with 0 failures (0 unexpected) in 0.002 (0.003) seconds
Test Suite 'Serialization_CLValueTest' started at 2022-04-04 23:30:17.770
Test Case '-[Serialization_CLValueTest testCLValueSerialization]' started.
Test Case '-[Serialization_CLValueTest testCLValueSerialization]' passed (0.022 seconds).
Test Suite 'Serialization_CLValueTest' passed at 2022-04-04 23:30:17.793.
	 Executed 1 test, with 0 failures (0 unexpected) in 0.022 (0.023) seconds
Test Suite 'Serialization_DeployTest' started at 2022-04-04 23:30:17.794
Test Case '-[Serialization_DeployTest testDeployHeaderSerialization]' started.
Test Case '-[Serialization_DeployTest testDeployHeaderSerialization]' passed (0.002 seconds).
Test Case '-[Serialization_DeployTest testDeploySerialization]' started.
Test Case '-[Serialization_DeployTest testDeploySerialization]' passed (0.002 seconds).
Test Suite 'Serialization_DeployTest' passed at 2022-04-04 23:30:17.799.
	 Executed 2 tests, with 0 failures (0 unexpected) in 0.003 (0.005) seconds
Test Suite 'Serialization_ExecutableDeployItemTest' started at 2022-04-04 23:30:17.800
Test Case '-[Serialization_ExecutableDeployItemTest testExecutableDeployItemSerialization]' started.
Test Case '-[Serialization_ExecutableDeployItemTest testExecutableDeployItemSerialization]' passed (0.014 seconds).
Test Suite 'Serialization_ExecutableDeployItemTest' passed at 2022-04-04 23:30:17.815.
	 Executed 1 test, with 0 failures (0 unexpected) in 0.014 (0.015) seconds
Test Suite 'CasperSDKObjectiveCTests.xctest' passed at 2022-04-04 23:30:17.816.
	 Executed 16 tests, with 0 failures (0 unexpected) in 51.790 (51.824) seconds
Test Suite 'All tests' passed at 2022-04-04 23:30:17.817.
	 Executed 16 tests, with 0 failures (0 unexpected) in 51.790 (51.827) seconds
/Users/yusuf/Library/Developer/Xcode/DerivedData/CasperSDKObjectiveC-ekvkbpegifxwaiclohcnzpapsuco/Logs/Test/Test-CasperSDKObjectiveC-2022.04.04_23-29-23-+0300.xcresult/Staging/1_Test/Diagnostics/CasperSDKObjectiveCTests-76CB3894-5F8C-4C8F-BDC5-C894D1B710C2-Configuration-Test Scheme Action-Iteration-1/CasperSDKObjectiveCTests-BCFC9EDB-BC80-4020-9010-9946241A3DC0/Session-CasperSDKObjectiveCTests-2022-04-04_232924-qji24E.log

Test Suite 'All tests' started at 2022-04-04 23:29:25.990
Test Suite 'CasperSDKObjectiveCTests.xctest' started at 2022-04-04 23:29:25.992
Test Suite 'GetAuctionInfoTest' started at 2022-04-04 23:29:25.993
Test Case '-[GetAuctionInfoTest testGetAuctionInfo]' started.
2022-04-04 23:29:35.539311+0300 xctest[56153:547788] [logging] volume does not support data protection, stripping SQLITE_OPEN_FILEPROTECTION_* flags
2022-04-04 23:29:35.540141+0300 xctest[56153:547788] [logging] volume does not support data protection, stripping SQLITE_OPEN_FILEPROTECTION_* flags
2022-04-04 23:29:40.118448+0300 xctest[56153:547369] GetAuctionInfoResult, api_version:1.4.5
2022-04-04 23:29:40.118569+0300 xctest[56153:547369] AuctionState, state_root_hash :88ebcefd9db130269408ff164ac3c27bf87549e624535fbe7a50dcb9ca938a3d
2022-04-04 23:29:40.118632+0300 xctest[56153:547369] AuctionState, block_height :667053
2022-04-04 23:29:40.118708+0300 xctest[56153:547369] AuctionState, total era_validators:2
2022-04-04 23:29:40.118753+0300 xctest[56153:547369] AuctionState, era_validators item 0 information
2022-04-04 23:29:40.118796+0300 xctest[56153:547369] JsonEraValidators, era_id:4321
2022-04-04 23:29:40.118837+0300 xctest[56153:547369] JsonEraValidators, total JsonValidatorWeights:100
2022-04-04 23:29:40.118879+0300 xctest[56153:547369] Information for the first JsonValidatorWeight:
2022-04-04 23:29:40.118942+0300 xctest[56153:547369] JsonValidatorWeights, public_key:0101f5170c996cc02b581d8200f0d95a737840234f31bf1fa21cca35137f8507b0
2022-04-04 23:29:40.119023+0300 xctest[56153:547369] JsonValidatorWeights, weight:1280809914467
2022-04-04 23:29:40.119166+0300 xctest[56153:547369] AuctionState, era_validators item 1 information
2022-04-04 23:29:40.119213+0300 xctest[56153:547369] JsonEraValidators, era_id:4322
2022-04-04 23:29:40.119257+0300 xctest[56153:547369] JsonEraValidators, total JsonValidatorWeights:100
2022-04-04 23:29:40.119299+0300 xctest[56153:547369] Information for the first JsonValidatorWeight:
2022-04-04 23:29:40.119341+0300 xctest[56153:547369] JsonValidatorWeights, public_key:0101f5170c996cc02b581d8200f0d95a737840234f31bf1fa21cca35137f8507b0
2022-04-04 23:29:40.119386+0300 xctest[56153:547369] JsonValidatorWeights, weight:1280996973181
2022-04-04 23:29:50.078618+0300 xctest[56153:547369] GetAuctionInfoResult, api_version:1.4.5
2022-04-04 23:29:50.078719+0300 xctest[56153:547369] AuctionState, state_root_hash :6da6cb8ff1e35656fba9a71868af803abef40dd6fce6161d2a18fe339a0525cb
2022-04-04 23:29:50.078775+0300 xctest[56153:547369] AuctionState, block_height :602343
2022-04-04 23:29:50.078858+0300 xctest[56153:547369] AuctionState, total era_validators:2
2022-04-04 23:29:50.078912+0300 xctest[56153:547369] AuctionState, era_validators item 0 information
2022-04-04 23:29:50.078958+0300 xctest[56153:547369] JsonEraValidators, era_id:4026
2022-04-04 23:29:50.079003+0300 xctest[56153:547369] JsonEraValidators, total JsonValidatorWeights:100
2022-04-04 23:29:50.079047+0300 xctest[56153:547369] Information for the first JsonValidatorWeight:
2022-04-04 23:29:50.079094+0300 xctest[56153:547369] JsonValidatorWeights, public_key:0101f5170c996cc02b581d8200f0d95a737840234f31bf1fa21cca35137f8507b0
2022-04-04 23:29:50.079148+0300 xctest[56153:547369] JsonValidatorWeights, weight:1226198285443
2022-04-04 23:29:50.079195+0300 xctest[56153:547369] AuctionState, era_validators item 1 information
2022-04-04 23:29:50.079238+0300 xctest[56153:547369] JsonEraValidators, era_id:4027
2022-04-04 23:29:50.079282+0300 xctest[56153:547369] JsonEraValidators, total JsonValidatorWeights:100
2022-04-04 23:29:50.079326+0300 xctest[56153:547369] Information for the first JsonValidatorWeight:
2022-04-04 23:29:50.079394+0300 xctest[56153:547369] JsonValidatorWeights, public_key:0101f5170c996cc02b581d8200f0d95a737840234f31bf1fa21cca35137f8507b0
2022-04-04 23:29:50.079471+0300 xctest[56153:547369] JsonValidatorWeights, weight:1226373797637
2022-04-04 23:29:51.292059+0300 xctest[56153:547369] GetAuctionInfoResult, api_version:1.4.5
2022-04-04 23:29:51.292156+0300 xctest[56153:547369] AuctionState, state_root_hash :a42c238d2d850b4d9c3efac6104bbfad6b91ce1ca38733c332e35a3459166a58
2022-04-04 23:29:51.292216+0300 xctest[56153:547369] AuctionState, block_height :12345
2022-04-04 23:29:51.292305+0300 xctest[56153:547369] AuctionState, total era_validators:2
2022-04-04 23:29:51.292380+0300 xctest[56153:547369] AuctionState, era_validators item 0 information
2022-04-04 23:29:51.292435+0300 xctest[56153:547369] JsonEraValidators, era_id:177
2022-04-04 23:29:51.292485+0300 xctest[56153:547369] JsonEraValidators, total JsonValidatorWeights:100
2022-04-04 23:29:51.292534+0300 xctest[56153:547369] Information for the first JsonValidatorWeight:
2022-04-04 23:29:51.292618+0300 xctest[56153:547369] JsonValidatorWeights, public_key:0105220d6629f6ef4484e2da5f58b6222832af8cabba4fbd7f1ad55e84a06ab319
2022-04-04 23:29:51.292727+0300 xctest[56153:547369] JsonValidatorWeights, weight:21250662917014
2022-04-04 23:29:51.292787+0300 xctest[56153:547369] AuctionState, era_validators item 1 information
2022-04-04 23:29:51.292839+0300 xctest[56153:547369] JsonEraValidators, era_id:178
2022-04-04 23:29:51.292889+0300 xctest[56153:547369] JsonEraValidators, total JsonValidatorWeights:100
2022-04-04 23:29:51.292940+0300 xctest[56153:547369] Information for the first JsonValidatorWeight:
2022-04-04 23:29:51.292997+0300 xctest[56153:547369] JsonValidatorWeights, public_key:0105220d6629f6ef4484e2da5f58b6222832af8cabba4fbd7f1ad55e84a06ab319
2022-04-04 23:29:51.293075+0300 xctest[56153:547369] JsonValidatorWeights, weight:21399698759675
2022-04-04 23:29:51.987108+0300 xctest[56153:547369] Error get block with error message:get-auction-info failed to get specified block and error code:-32001
2022-04-04 23:29:52.599772+0300 xctest[56153:547369] Error get block with error message:get-auction-info failed to get specified block and error code:-32001
Test Case '-[GetAuctionInfoTest testGetAuctionInfo]' passed (26.607 seconds).
Test Suite 'GetAuctionInfoTest' passed at 2022-04-04 23:29:52.602.
	 Executed 1 test, with 0 failures (0 unexpected) in 26.607 (26.609) seconds
Test Suite 'GetBalanceTest' started at 2022-04-04 23:29:52.603
Test Case '-[GetBalanceTest testGetBalance]' started.
2022-04-04 23:29:53.382967+0300 xctest[56153:547369] GetBalanceResult, api_version:1.4.5
2022-04-04 23:29:53.383047+0300 xctest[56153:547369] GetBalanceResult, balance_value:522693296224
2022-04-04 23:29:53.383140+0300 xctest[56153:547369] GetBalanceResult, merkle_proof length:31766
Test Case '-[GetBalanceTest testGetBalance]' passed (0.780 seconds).
Test Suite 'GetBalanceTest' passed at 2022-04-04 23:29:53.384.
	 Executed 1 test, with 0 failures (0 unexpected) in 0.780 (0.781) seconds
Test Suite 'GetBlockTest' started at 2022-04-04 23:29:53.385
Test Case '-[GetBlockTest testGetBlock]' started.
2022-04-04 23:29:54.136211+0300 xctest[56153:547369] GetBlockResult, api_version:1.4.5
2022-04-04 23:29:54.136291+0300 xctest[56153:547369] GetBlockResult, block info:
2022-04-04 23:29:54.136347+0300 xctest[56153:547369] JsonBlock, block_hash:480c0f3d072d6b278e2f6fc3672912740405a486fe9af59665bc1f5f2b8ba669
2022-04-04 23:29:54.136458+0300 xctest[56153:547369] JsonBlockHeader, parent_hash:6ea007965743242de51ed75e7f66e8f3fb9b8ef80890aedb451827b9bda755e3
2022-04-04 23:29:54.136523+0300 xctest[56153:547369] JsonBlockHeader, state_root_hash:88ebcefd9db130269408ff164ac3c27bf87549e624535fbe7a50dcb9ca938a3d
2022-04-04 23:29:54.136822+0300 xctest[56153:547369] JsonBlockHeader,body_hash:51fce4a5f583a63b30fc25199fe8a573e5e82779f996caec01894d92e8cf0f3b
2022-04-04 23:29:54.136898+0300 xctest[56153:547369] JsonBlockHeader, random_bit:0
2022-04-04 23:29:54.136958+0300 xctest[56153:547369] JsonBlockHeader,accumulated_seed:bcd78180597aa98eda3b5c81f68a77d92f080ca1a2a3139fa3cf3a7378c86c38
2022-04-04 23:29:54.137028+0300 xctest[56153:547369] JsonBlockHeader,timestamp:2022-04-04T20:29:18.720Z
2022-04-04 23:29:54.137084+0300 xctest[56153:547369] JsonBlockHeader,era_id:4321
2022-04-04 23:29:54.137135+0300 xctest[56153:547369] JsonBlockHeader,height:667054
2022-04-04 23:29:54.137189+0300 xctest[56153:547369] JsonBlockHeader,protocol_version:1.4.5
2022-04-04 23:29:54.137240+0300 xctest[56153:547369] JsonBlockHeader,era_end: <null>
2022-04-04 23:29:54.137292+0300 xctest[56153:547369] JsonBlockBody, proposer:0106ca7c39cd272dbf21a86eeb3b36b7c26e2e9b94af64292419f7862936bca2ca
2022-04-04 23:29:54.137346+0300 xctest[56153:547369] JsonBlockBody, total deploy_hashes:0
2022-04-04 23:29:54.141573+0300 xctest[56153:547369] JsonBlockBody, total transfer_hashes:0
2022-04-04 23:29:54.142001+0300 xctest[56153:547369] JsonBlock,Total proof:100
2022-04-04 23:29:54.142105+0300 xctest[56153:547369] JsonBlock, firstJsonProof public_key:0101f5170c996cc02b581d8200f0d95a737840234f31bf1fa21cca35137f8507b0
2022-04-04 23:29:54.143016+0300 xctest[56153:547369] JsonBlock, firstJsonProof signature:01a690088255a6a70a06a59962426125aeb52f1d400cee6e802c60dd5679870699c8a40e03a1cf3fefa170ede90aab0d4c6079a93f1d904ae9902dfb3906f0d309
2022-04-04 23:29:55.006417+0300 xctest[56153:547369] GetBlockResult, api_version:1.4.5
2022-04-04 23:29:55.006507+0300 xctest[56153:547369] GetBlockResult, block info:
2022-04-04 23:29:55.006567+0300 xctest[56153:547369] JsonBlock, block_hash:d16cb633eea197fec519aee2cfe050fe9a3b7e390642ccae8366455cc91c822e
2022-04-04 23:29:55.006623+0300 xctest[56153:547369] JsonBlockHeader, parent_hash:ec18afdd3df5c1b0f3caf7f564105f3329cd7b2ef59391c4ce13f1e9173b39b4
2022-04-04 23:29:55.006674+0300 xctest[56153:547369] JsonBlockHeader, state_root_hash:6da6cb8ff1e35656fba9a71868af803abef40dd6fce6161d2a18fe339a0525cb
2022-04-04 23:29:55.006724+0300 xctest[56153:547369] JsonBlockHeader,body_hash:cde00a26358a0ac039b730e4ee8f70d95fba48ee4be0690142b32fa5e898f2e3
2022-04-04 23:29:55.006770+0300 xctest[56153:547369] JsonBlockHeader, random_bit:1
2022-04-04 23:29:55.006815+0300 xctest[56153:547369] JsonBlockHeader,accumulated_seed:8186dd2710cb3eaa5554bf7a6f6cad789877cfad3a9d151b6769e8a0feaba5bd
2022-04-04 23:29:55.006864+0300 xctest[56153:547369] JsonBlockHeader,timestamp:2022-03-11T04:57:11.936Z
2022-04-04 23:29:55.006991+0300 xctest[56153:547369] JsonBlockHeader,era_id:4026
2022-04-04 23:29:55.007124+0300 xctest[56153:547369] JsonBlockHeader,height:602343
2022-04-04 23:29:55.007196+0300 xctest[56153:547369] JsonBlockHeader,protocol_version:1.4.4
2022-04-04 23:29:55.007248+0300 xctest[56153:547369] JsonBlockHeader,era_end: <null>
2022-04-04 23:29:55.007413+0300 xctest[56153:547369] JsonBlockBody, proposer:01ace6578907bfe6eba3a618e863bbe7274284c88e405e2857be80dd094726a223
2022-04-04 23:29:55.007489+0300 xctest[56153:547369] JsonBlockBody, total deploy_hashes:0
2022-04-04 23:29:55.007539+0300 xctest[56153:547369] JsonBlockBody, total transfer_hashes:0
2022-04-04 23:29:55.007600+0300 xctest[56153:547369] JsonBlock,Total proof:97
2022-04-04 23:29:55.007670+0300 xctest[56153:547369] JsonBlock, firstJsonProof public_key:0101f5170c996cc02b581d8200f0d95a737840234f31bf1fa21cca35137f8507b0
2022-04-04 23:29:55.007725+0300 xctest[56153:547369] JsonBlock, firstJsonProof signature:0193f060cfb9e6bb7f6d26d3f525e74ea4015ea21b1398891193e6d1d4c1c8e2f6832a7131d1847fc57045151e211ff34f7b4f4657c29d336bc6cdaf114333c201
2022-04-04 23:29:55.864221+0300 xctest[56153:547369] GetBlockResult, api_version:1.4.5
2022-04-04 23:29:55.864388+0300 xctest[56153:547369] GetBlockResult, block info:
2022-04-04 23:29:55.864595+0300 xctest[56153:547369] JsonBlock, block_hash:bbf21fe52a97c64e6b95098b1f2e098337efc9f9b63ae2ba0de37ef5a0da4b6f
2022-04-04 23:29:55.864712+0300 xctest[56153:547369] JsonBlockHeader, parent_hash:3a9e5db55a8c5a2e07fb1526d80fbf4c64745ab5303e56a684334e08a6ade2e0
2022-04-04 23:29:55.864808+0300 xctest[56153:547369] JsonBlockHeader, state_root_hash:a42c238d2d850b4d9c3efac6104bbfad6b91ce1ca38733c332e35a3459166a58
2022-04-04 23:29:55.864898+0300 xctest[56153:547369] JsonBlockHeader,body_hash:1086c5c5f3d04e3729fd9832e646a053d81b207ae9202af57a4f1d6a55c9303a
2022-04-04 23:29:55.864986+0300 xctest[56153:547369] JsonBlockHeader, random_bit:1
2022-04-04 23:29:55.865074+0300 xctest[56153:547369] JsonBlockHeader,accumulated_seed:ddff74b667ff1337aba501dde16f9a98e014dbb3daca89829852db7ddfc91f2b
2022-04-04 23:29:55.865162+0300 xctest[56153:547369] JsonBlockHeader,timestamp:2021-04-23T23:15:09.952Z
2022-04-04 23:29:55.865249+0300 xctest[56153:547369] JsonBlockHeader,era_id:177
2022-04-04 23:29:55.865800+0300 xctest[56153:547369] JsonBlockHeader,height:12345
2022-04-04 23:29:55.865892+0300 xctest[56153:547369] JsonBlockHeader,protocol_version:1.1.0
2022-04-04 23:29:55.866018+0300 xctest[56153:547369] JsonBlockHeader,era_end: <null>
2022-04-04 23:29:55.866310+0300 xctest[56153:547369] JsonBlockBody, proposer:0152b2b3cc1de020e0cfb5887d0fda5d99da5decaf98af90f13144e97d0e35eeaa
2022-04-04 23:29:55.866376+0300 xctest[56153:547369] JsonBlockBody, total deploy_hashes:0
2022-04-04 23:29:55.866430+0300 xctest[56153:547369] JsonBlockBody, total transfer_hashes:0
2022-04-04 23:29:55.866481+0300 xctest[56153:547369] JsonBlock,Total proof:100
2022-04-04 23:29:55.866533+0300 xctest[56153:547369] JsonBlock, firstJsonProof public_key:0105220d6629f6ef4484e2da5f58b6222832af8cabba4fbd7f1ad55e84a06ab319
2022-04-04 23:29:55.873300+0300 xctest[56153:547369] JsonBlock, firstJsonProof signature:015a6da1fcf0284d91ef79920d9c820e2fe98147c0f2ec72d9c9ab14b82a514de1c38a08c2341e95dd1858be95e6c3f8ee5d635cae8fb36d37191d918fa049c006
2022-04-04 23:29:56.487951+0300 xctest[56153:547369] Error get block with error message:block not known and error code:-32001
2022-04-04 23:29:57.104902+0300 xctest[56153:547369] Error get block with error message:block not known and error code:-32001
Test Case '-[GetBlockTest testGetBlock]' passed (3.721 seconds).
Test Suite 'GetBlockTest' passed at 2022-04-04 23:29:57.107.
	 Executed 1 test, with 0 failures (0 unexpected) in 3.721 (3.722) seconds
Test Suite 'GetBlockTransfersResultTest' started at 2022-04-04 23:29:57.108
Test Case '-[GetBlockTransfersResultTest testGetBlockTransfersResult]' started.
2022-04-04 23:29:57.809820+0300 xctest[56153:547369] api_version:1.4.5
2022-04-04 23:29:57.809967+0300 xctest[56153:547369] block hash:480c0f3d072d6b278e2f6fc3672912740405a486fe9af59665bc1f5f2b8ba669
2022-04-04 23:29:57.810113+0300 xctest[56153:547369] total transfer:0
2022-04-04 23:29:58.524564+0300 xctest[56153:547369] api_version:1.4.5
2022-04-04 23:29:58.524708+0300 xctest[56153:547369] block hash:d16cb633eea197fec519aee2cfe050fe9a3b7e390642ccae8366455cc91c822e
2022-04-04 23:29:58.524810+0300 xctest[56153:547369] total transfer:0
2022-04-04 23:29:59.135289+0300 xctest[56153:547369] api_version:1.4.5
2022-04-04 23:29:59.135366+0300 xctest[56153:547369] block hash:04c4328b7fa536b71adff3837560384eee44e157791d042f0dba252d6fa8b097
2022-04-04 23:29:59.135429+0300 xctest[56153:547369] total transfer:1
2022-04-04 23:29:59.135481+0300 xctest[56153:547369] Transfer amount: 9000000000000
2022-04-04 23:29:59.135526+0300 xctest[56153:547369] Transfer deploy hash: 84783d9dd336e541628dfe09e63e9cc2ed376e42c71d25ceaf19b6d3ac8e0560
2022-04-04 23:29:59.135609+0300 xctest[56153:547369] Transfer from: account-hash-e70b850efb68c64e2443da2386452b0d8e4e799362edef0ff56eea8efb114815
2022-04-04 23:29:59.135859+0300 xctest[56153:547369] Transfer gas: 0
2022-04-04 23:29:59.135914+0300 xctest[56153:547369] Transfer id: <null>
2022-04-04 23:29:59.135957+0300 xctest[56153:547369] Transfer source: uref-0a24ef56971d46bfefbd5590afe20e5f3482299aba74e1a0fc33a55008cf9453-007
2022-04-04 23:29:59.136005+0300 xctest[56153:547369] Transfer target: uref-a9a82dd4ee57802a38ccb7f8600940101d7cd9bbf1fd6665d9f7317b5c0e3a15-007
2022-04-04 23:29:59.136051+0300 xctest[56153:547369] Transfer to: <null>
2022-04-04 23:29:59.794746+0300 xctest[56153:547369] Error get block transfer with error message:block not known and error code:-32001
2022-04-04 23:30:00.647095+0300 xctest[56153:547369] Error get block transfer with error message:block not known and error code:-32001
Test Case '-[GetBlockTransfersResultTest testGetBlockTransfersResult]' passed (3.540 seconds).
Test Suite 'GetBlockTransfersResultTest' passed at 2022-04-04 23:30:00.650.
	 Executed 1 test, with 0 failures (0 unexpected) in 3.540 (3.541) seconds
Test Suite 'GetDeployTest' started at 2022-04-04 23:30:00.650
Test Case '-[GetDeployTest testGetDeploy]' started.
2022-04-04 23:30:01.393445+0300 xctest[56153:547369] GetDeployResult, api_version:1.4.5
2022-04-04 23:30:01.393635+0300 xctest[56153:547369] Deploy, hash:a91d468e2ddc8936f7866bc594794b322f747508c2192fd4eca90ef8a121d45e
2022-04-04 23:30:01.393799+0300 xctest[56153:547369] Deploy header log:
2022-04-04 23:30:01.393920+0300 xctest[56153:547369] Deploy header, account:014caf1ce908f9ef3d427dceac17e5c47950becf15d1def0810c235e0d58a9efad
2022-04-04 23:30:01.394024+0300 xctest[56153:547369] Deploy header, body_hash:d7ffe9fa44f5958d18923630576302903f12ebee3e7516834d93b44ebf0454f9
2022-04-04 23:30:01.394477+0300 xctest[56153:547369] Deploy header, chain_name:casper-test
2022-04-04 23:30:01.394582+0300 xctest[56153:547369] Deploy header, dependencies size:0
2022-04-04 23:30:01.394676+0300 xctest[56153:547369] Deploy header, gas_price:1
2022-04-04 23:30:01.394765+0300 xctest[56153:547369] Deploy header, timestamp:2022-01-17T11:11:08.508Z
2022-04-04 23:30:01.394860+0300 xctest[56153:547369] Deploy header, ttl:30m
2022-04-04 23:30:01.394911+0300 xctest[56153:547369] Deploy payment log:
2022-04-04 23:30:01.394963+0300 xctest[56153:547369] ExecutableDeployItem, type:ModuleBytes
2022-04-04 23:30:01.395020+0300 xctest[56153:547369] RuntimeArgs, total args:1
2022-04-04 23:30:01.395069+0300 xctest[56153:547369] RuntimeArgs, Args item index 0 detail
2022-04-04 23:30:01.395296+0300 xctest[56153:547369] NamedArg, name:amount
2022-04-04 23:30:01.395597+0300 xctest[56153:547369] NamedArg, CLValue:
2022-04-04 23:30:01.395753+0300 xctest[56153:547369] CLValue bytes:0400ca9a3b
2022-04-04 23:30:01.395828+0300 xctest[56153:547369] -----CLType info-------
2022-04-04 23:30:01.400908+0300 xctest[56153:547369] CLType:U512
2022-04-04 23:30:01.400973+0300 xctest[56153:547369] -----CLParsed info-------
2022-04-04 23:30:01.401269+0300 xctest[56153:547369] Value of parsed:1000000000
2022-04-04 23:30:01.401331+0300 xctest[56153:547369] Deploy session log:
2022-04-04 23:30:01.401398+0300 xctest[56153:547369] ExecutableDeployItem, type:StoredContractByHash
2022-04-04 23:30:01.401455+0300 xctest[56153:547369] ExecutableDeployItem_StoredContractByHash, hash:07eaeb63bc4b406cd83351a1217ebfa4a89f13ae55dd309811e99a042fb3919a
2022-04-04 23:30:01.401511+0300 xctest[56153:547369] ExecutableDeployItem_StoredContractByHash, entry_point:mint
2022-04-04 23:30:01.401563+0300 xctest[56153:547369] RuntimeArgs, total args:4
2022-04-04 23:30:01.401612+0300 xctest[56153:547369] RuntimeArgs, Args item index 0 detail
2022-04-04 23:30:01.401664+0300 xctest[56153:547369] NamedArg, name:recipient
2022-04-04 23:30:01.401712+0300 xctest[56153:547369] NamedArg, CLValue:
2022-04-04 23:30:01.401759+0300 xctest[56153:547369] CLValue bytes:00c6d93dd827202f3b37297382b1cb9269c07d71a79a49824bb1a008c650a04473
2022-04-04 23:30:01.401877+0300 xctest[56153:547369] -----CLType info-------
2022-04-04 23:30:01.402067+0300 xctest[56153:547369] CLType:Key
2022-04-04 23:30:01.402133+0300 xctest[56153:547369] -----CLParsed info-------
2022-04-04 23:30:01.402414+0300 xctest[56153:547369] Value of parsed:{
    Account = "account-hash-c6d93dd827202f3b37297382b1cb9269c07d71a79a49824bb1a008c650a04473";
}
2022-04-04 23:30:01.403150+0300 xctest[56153:547369] RuntimeArgs, Args item index 1 detail
2022-04-04 23:30:01.403273+0300 xctest[56153:547369] NamedArg, name:token_ids
2022-04-04 23:30:01.403332+0300 xctest[56153:547369] NamedArg, CLValue:
2022-04-04 23:30:01.403384+0300 xctest[56153:547369] CLValue bytes:010100000018000000363165353465636231656366653538376561663963636530
2022-04-04 23:30:01.403438+0300 xctest[56153:547369] -----CLType info-------
2022-04-04 23:30:01.403506+0300 xctest[56153:547369] CLType:Option{List{String}}
2022-04-04 23:30:01.403570+0300 xctest[56153:547369] -----CLParsed info-------
2022-04-04 23:30:01.403630+0300 xctest[56153:547369] Total element in list:1
2022-04-04 23:30:01.403682+0300 xctest[56153:547369] Value of parsed:61e54ecb1ecfe587eaf9cce0
2022-04-04 23:30:01.403732+0300 xctest[56153:547369] RuntimeArgs, Args item index 2 detail
2022-04-04 23:30:01.403781+0300 xctest[56153:547369] NamedArg, name:token_metas
2022-04-04 23:30:01.403831+0300 xctest[56153:547369] NamedArg, CLValue:
2022-04-04 23:30:01.403877+0300 xctest[56153:547369] CLValue bytes:0100000004000000040000006e616d650f000000546573742050726f642041646d696e0b0000006465736372697074696f6e0700000054657374696e6708000000697066735f75726c5000000068747470733a2f2f676174657761792e70696e6174612e636c6f75642f697066732f516d6175505535726338676868795a465178423952356a43626161664777324d6e65514a524d44574c567a6a615511000000697066735f6d657461646174615f75726c5000000068747470733a2f2f676174657761792e70696e6174612e636c6f75642f697066732f516d627279797641795664426d355a346e774133613738316d6d717563366e476165754541504b393661334c506e
2022-04-04 23:30:01.404536+0300 xctest[56153:547369] -----CLType info-------
2022-04-04 23:30:01.404633+0300 xctest[56153:547369] CLType:List{Map{key:String,value:String}}
2022-04-04 23:30:01.404714+0300 xctest[56153:547369] -----CLParsed info-------
2022-04-04 23:30:01.404956+0300 xctest[56153:547369] Total element in list:1
2022-04-04 23:30:01.405139+0300 xctest[56153:547369] CLParsed Map, Key information:
2022-04-04 23:30:01.406299+0300 xctest[56153:547369] Total element in list:4
2022-04-04 23:30:01.406379+0300 xctest[56153:547369] Value of parsed:name
2022-04-04 23:30:01.406431+0300 xctest[56153:547369] Value of parsed:description
2022-04-04 23:30:01.406481+0300 xctest[56153:547369] Value of parsed:ipfs_url
2022-04-04 23:30:01.406662+0300 xctest[56153:547369] Value of parsed:ipfs_metadata_url
2022-04-04 23:30:01.406726+0300 xctest[56153:547369] CLParsed Map, Value information:
2022-04-04 23:30:01.407091+0300 xctest[56153:547369] Total element in list:4
2022-04-04 23:30:01.407158+0300 xctest[56153:547369] Value of parsed:Test Prod Admin
2022-04-04 23:30:01.407213+0300 xctest[56153:547369] Value of parsed:Testing
2022-04-04 23:30:01.407260+0300 xctest[56153:547369] Value of parsed:https://gateway.pinata.cloud/ipfs/QmauPU5rc8ghhyZFQxB9R5jCbaafGw2MneQJRMDWLVzjaU
2022-04-04 23:30:01.407311+0300 xctest[56153:547369] Value of parsed:https://gateway.pinata.cloud/ipfs/QmbryyvAyVdBm5Z4nwA3a781mmquc6nGaeuEAPK96a3LPn
2022-04-04 23:30:01.407377+0300 xctest[56153:547369] RuntimeArgs, Args item index 3 detail
2022-04-04 23:30:01.407425+0300 xctest[56153:547369] NamedArg, name:token_commissions
2022-04-04 23:30:01.407472+0300 xctest[56153:547369] NamedArg, CLValue:
2022-04-04 23:30:01.408019+0300 xctest[56153:547369] CLValue bytes:0100000000000000
2022-04-04 23:30:01.408086+0300 xctest[56153:547369] -----CLType info-------
2022-04-04 23:30:01.408236+0300 xctest[56153:547369] CLType:List{Map{key:String,value:String}}
2022-04-04 23:30:01.408305+0300 xctest[56153:547369] -----CLParsed info-------
2022-04-04 23:30:01.408463+0300 xctest[56153:547369] Total element in list:1
2022-04-04 23:30:01.408543+0300 xctest[56153:547369] CLParsed Map, Key information:
2022-04-04 23:30:01.408594+0300 xctest[56153:547369] Total element in list:0
2022-04-04 23:30:01.408638+0300 xctest[56153:547369] CLParsed Map, Value information:
2022-04-04 23:30:01.408682+0300 xctest[56153:547369] Total element in list:0
2022-04-04 23:30:01.408847+0300 xctest[56153:547369] EXECUTION_RESULT, Total execution_results:1
2022-04-04 23:30:01.408903+0300 xctest[56153:547369] JsonExecutionResult item 1, information
2022-04-04 23:30:01.409152+0300 xctest[56153:547369] JsonExecutionResult, block_hash:74e01e51fea725dd6d8fc9442629f15b2691c1d6dcf9044fe0c39f0e49c49a4a
2022-04-04 23:30:01.409213+0300 xctest[56153:547369] JsonExecutionResult of type Success
2022-04-04 23:30:01.409454+0300 xctest[56153:547369] JsonExecutionResult cost:874779170
2022-04-04 23:30:01.409513+0300 xctest[56153:547369] JsonExecutionResult effect information
2022-04-04 23:30:01.409562+0300 xctest[56153:547369] Operation:[]
2022-04-04 23:30:01.409605+0300 xctest[56153:547369] Total transform:29
2022-04-04 23:30:01.409651+0300 xctest[56153:547369] First transform information
2022-04-04 23:30:01.409699+0300 xctest[56153:547369] TransformEntry, key:hash-8cf5e4acf51f54eb59291599187838dc3bc234089c46fc6ca8ad17e762ae4401
2022-04-04 23:30:01.409748+0300 xctest[56153:547369] TransformEntry,type:Identity
2022-04-04 23:30:01.409796+0300 xctest[56153:547369] JsonExecutionResult,Total transfer:0
Test Case '-[GetDeployTest testGetDeploy]' passed (0.760 seconds).
Test Suite 'GetDeployTest' passed at 2022-04-04 23:30:01.412.
	 Executed 1 test, with 0 failures (0 unexpected) in 0.760 (0.761) seconds
Test Suite 'GetDictionaryItemTest' started at 2022-04-04 23:30:01.412
Test Case '-[GetDictionaryItemTest testGetDictionaryItem]' started.
2022-04-04 23:30:02.297740+0300 xctest[56153:547369] GetDictionaryItemResult, api_version:1.4.5
2022-04-04 23:30:02.297839+0300 xctest[56153:547369] GetDictionaryItemResult, dictionary_key:dictionary-5d3e90f064798d54e5e53643c4fce0cbb1024aadcad1586cc4b7c1358a530373
2022-04-04 23:30:02.297934+0300 xctest[56153:547369] GetDictionaryItemResult, merkle_proof length:30330
2022-04-04 23:30:02.297988+0300 xctest[56153:547369] GetDictionaryItemResult,StoredValue information
2022-04-04 23:30:02.298040+0300 xctest[56153:547369] StoredValue log info, type:CLValue
2022-04-04 23:30:02.298092+0300 xctest[56153:547369] CLValue bytes:090000006162635f76616c7565
2022-04-04 23:30:02.298141+0300 xctest[56153:547369] -----CLType info-------
2022-04-04 23:30:02.298394+0300 xctest[56153:547369] CLType:String
2022-04-04 23:30:02.298476+0300 xctest[56153:547369] -----CLParsed info-------
2022-04-04 23:30:02.298535+0300 xctest[56153:547369] Value of parsed:abc_value
2022-04-04 23:30:03.187025+0300 xctest[56153:547369] GetDictionaryItemResult, api_version:1.4.5
2022-04-04 23:30:03.187165+0300 xctest[56153:547369] GetDictionaryItemResult, dictionary_key:dictionary-ac34673fa957fa8083306892815496b8fdee0aa1509f0080823979d869176060
2022-04-04 23:30:03.187274+0300 xctest[56153:547369] GetDictionaryItemResult, merkle_proof length:30178
2022-04-04 23:30:03.187365+0300 xctest[56153:547369] GetDictionaryItemResult,StoredValue information
2022-04-04 23:30:03.187453+0300 xctest[56153:547369] StoredValue log info, type:CLValue
2022-04-04 23:30:03.187545+0300 xctest[56153:547369] CLValue bytes:0800000061626376616c7565
2022-04-04 23:30:03.187631+0300 xctest[56153:547369] -----CLType info-------
2022-04-04 23:30:03.187961+0300 xctest[56153:547369] CLType:String
2022-04-04 23:30:03.188074+0300 xctest[56153:547369] -----CLParsed info-------
2022-04-04 23:30:03.188171+0300 xctest[56153:547369] Value of parsed:abcvalue
2022-04-04 23:30:04.040696+0300 xctest[56153:547369] GetDictionaryItemResult, api_version:1.4.5
2022-04-04 23:30:04.040821+0300 xctest[56153:547369] GetDictionaryItemResult, dictionary_key:dictionary-5d3e90f064798d54e5e53643c4fce0cbb1024aadcad1586cc4b7c1358a530373
2022-04-04 23:30:04.041234+0300 xctest[56153:547369] GetDictionaryItemResult, merkle_proof length:30330
2022-04-04 23:30:04.041380+0300 xctest[56153:547369] GetDictionaryItemResult,StoredValue information
2022-04-04 23:30:04.041676+0300 xctest[56153:547369] StoredValue log info, type:CLValue
2022-04-04 23:30:04.041796+0300 xctest[56153:547369] CLValue bytes:090000006162635f76616c7565
2022-04-04 23:30:04.041894+0300 xctest[56153:547369] -----CLType info-------
2022-04-04 23:30:04.041995+0300 xctest[56153:547369] CLType:String
2022-04-04 23:30:04.042083+0300 xctest[56153:547369] -----CLParsed info-------
2022-04-04 23:30:04.042178+0300 xctest[56153:547369] Value of parsed:abc_value
2022-04-04 23:30:04.962533+0300 xctest[56153:547369] GetDictionaryItemResult, api_version:1.4.5
2022-04-04 23:30:04.962627+0300 xctest[56153:547369] GetDictionaryItemResult, dictionary_key:dictionary-5d3e90f064798d54e5e53643c4fce0cbb1024aadcad1586cc4b7c1358a530373
2022-04-04 23:30:04.962692+0300 xctest[56153:547369] GetDictionaryItemResult, merkle_proof length:30330
2022-04-04 23:30:04.962745+0300 xctest[56153:547369] GetDictionaryItemResult,StoredValue information
2022-04-04 23:30:04.962795+0300 xctest[56153:547369] StoredValue log info, type:CLValue
2022-04-04 23:30:04.962848+0300 xctest[56153:547369] CLValue bytes:090000006162635f76616c7565
2022-04-04 23:30:04.962898+0300 xctest[56153:547369] -----CLType info-------
2022-04-04 23:30:04.962953+0300 xctest[56153:547369] CLType:String
2022-04-04 23:30:04.963004+0300 xctest[56153:547369] -----CLParsed info-------
2022-04-04 23:30:04.963097+0300 xctest[56153:547369] Value of parsed:abc_value
2022-04-04 23:30:05.565868+0300 xctest[56153:547369] Error get dictionary item with error message:Invalid params and error code:-32602
2022-04-04 23:30:06.204785+0300 xctest[56153:547369] Error get dictionary item with error message:Failed to parse Dictionary key and error code:-32010
Test Case '-[GetDictionaryItemTest testGetDictionaryItem]' passed (4.794 seconds).
Test Suite 'GetDictionaryItemTest' passed at 2022-04-04 23:30:06.207.
	 Executed 1 test, with 0 failures (0 unexpected) in 4.794 (4.795) seconds
Test Suite 'GetEraInfoBySwitchBlockTest' started at 2022-04-04 23:30:06.208
Test Case '-[GetEraInfoBySwitchBlockTest testGetEraInfoBySwitchBlock]' started.
2022-04-04 23:30:07.150002+0300 xctest[56153:547369] GetEraInfoResult, api_version:1.4.5
2022-04-04 23:30:07.150091+0300 xctest[56153:547369] GetEraInfoResult, era_summary does not exists
2022-04-04 23:30:07.761076+0300 xctest[56153:547369] Error get era info with error message:block not known and error code:-32001
2022-04-04 23:30:08.795282+0300 xctest[56153:547369] GetEraInfoResult, api_version:1.4.5
2022-04-04 23:30:08.795522+0300 xctest[56153:547369] EraSummary, block_hash:f028506fb8add2edd3f9f3713e5acd7441a5d0cd433b863c627ff6542e8c0860
2022-04-04 23:30:08.795625+0300 xctest[56153:547369] EraSummary, era_id:2
2022-04-04 23:30:08.795701+0300 xctest[56153:547369] EraSummary, state_root_hash:112bc563aae7ed8a55ff0e7cfc95929ab5b48d69bf11be124542eec40085ae16
2022-04-04 23:30:08.795757+0300 xctest[56153:547369] EraSummary, merkle_proof length:26336
2022-04-04 23:30:08.795808+0300 xctest[56153:547369] StoredValue log info, type:EraInfo
2022-04-04 23:30:08.795893+0300 xctest[56153:547369] EraInfo, total SeigniorageAllocation:199
2022-04-04 23:30:08.795993+0300 xctest[56153:547369] EraInfo, information for first SeigniorageAllocation item
2022-04-04 23:30:08.796065+0300 xctest[56153:547369] -----SeigniorageAllocation of type Delegator
2022-04-04 23:30:08.796448+0300 xctest[56153:547369] SeigniorageAllocation Delegator, validator_public_key:01026ca707c348ed8012ac6a1f28db031fadd6eb67203501a353b867a08c8b9a80
2022-04-04 23:30:08.796551+0300 xctest[56153:547369] SeigniorageAllocation Delegator, delegator_public_key:01128ddb51119f1df535cf3a763996344ab0cc79038faaee0aaaf098a078031ce6
2022-04-04 23:30:08.796611+0300 xctest[56153:547369] SeigniorageAllocation Delegator, amount:87735183835
2022-04-04 23:30:09.413599+0300 xctest[56153:547369] Error get era info with error message:block not known and error code:-32001
2022-04-04 23:30:10.026567+0300 xctest[56153:547369] Error get era info with error message:block not known and error code:-32001
Test Case '-[GetEraInfoBySwitchBlockTest testGetEraInfoBySwitchBlock]' passed (3.819 seconds).
Test Suite 'GetEraInfoBySwitchBlockTest' passed at 2022-04-04 23:30:10.029.
	 Executed 1 test, with 0 failures (0 unexpected) in 3.819 (3.820) seconds
Test Suite 'GetItemTest' started at 2022-04-04 23:30:10.030
Test Case '-[GetItemTest testGetItem]' started.
2022-04-04 23:30:10.685325+0300 xctest[56153:547369] GetItemResult, api_version:1.4.5
2022-04-04 23:30:10.685451+0300 xctest[56153:547369] GetItemResult, merkle_proof length:6876
2022-04-04 23:30:10.685549+0300 xctest[56153:547369] GetItemResult, stored_value information
2022-04-04 23:30:10.685734+0300 xctest[56153:547369] StoredValue log info, type:Withdraw
2022-04-04 23:30:10.685849+0300 xctest[56153:547369] Transform_WriteWithdraw,total UnbondingPurse 1
2022-04-04 23:30:10.686275+0300 xctest[56153:547369] Transform_WriteWithdraw, item number 1 information
2022-04-04 23:30:10.686398+0300 xctest[56153:547369] UnbondingPurse, bounding_purse:uref-5fcc3031ea2572f9929e0cfcfc84c6c3131bfe1e78bce8cb61f99f59eace7795-007
2022-04-04 23:30:10.686504+0300 xctest[56153:547369] UnbondingPurse, validator_public_key:01d949a3a1963db686607a00862f79b76ceb185fc134d0aeedb686f1c151f4ae54
2022-04-04 23:30:10.686599+0300 xctest[56153:547369] UnbondingPurse, unbonder_public_key:01d949a3a1963db686607a00862f79b76ceb185fc134d0aeedb686f1c151f4ae54
2022-04-04 23:30:10.686689+0300 xctest[56153:547369] UnbondingPurse, era_of_creation:3319
2022-04-04 23:30:10.686764+0300 xctest[56153:547369] UnbondingPurse, amount:500
2022-04-04 23:30:11.295160+0300 xctest[56153:547369] Error get item with error message:Invalid params and error code:-32602
2022-04-04 23:30:12.000876+0300 xctest[56153:547369] Error get item with error message:failed to parse key: withdraw-key from string error: Invalid byte `b'f'`, at index 1. and error code:-32002
2022-04-04 23:30:12.753776+0300 xctest[56153:547369] Error get item with error message:state query failed: RootNotFound and error code:-32003
Test Case '-[GetItemTest testGetItem]' passed (2.725 seconds).
Test Suite 'GetItemTest' passed at 2022-04-04 23:30:12.756.
	 Executed 1 test, with 0 failures (0 unexpected) in 2.725 (2.727) seconds
Test Suite 'GetPeerResultTest' started at 2022-04-04 23:30:12.757
Test Case '-[GetPeerResultTest testGetPeerList]' started.
2022-04-04 23:30:13.541869+0300 xctest[56153:547369] M1: info_get_peers test cases
2022-04-04 23:30:13.542041+0300 xctest[56153:547369] Get peer result api_version:1.4.5
2022-04-04 23:30:13.542158+0300 xctest[56153:547369] Get peer result, total peer entry:397
2022-04-04 23:30:13.542253+0300 xctest[56153:547369] List of peer printed out:
2022-04-04 23:30:13.542354+0300 xctest[56153:547369] Peer number 1 address:18.163.249.168:35000 and node id:tls:0097..b253
2022-04-04 23:30:13.542621+0300 xctest[56153:547369] Peer number 2 address:162.55.63.245:35000 and node id:tls:00ae..d6e1
2022-04-04 23:30:13.542741+0300 xctest[56153:547369] Peer number 3 address:44.238.152.37:50740 and node id:tls:00ba..ca37
2022-04-04 23:30:13.542842+0300 xctest[56153:547369] Peer number 4 address:95.216.67.162:35000 and node id:tls:00e5..6748
2022-04-04 23:30:13.542947+0300 xctest[56153:547369] Peer number 5 address:65.108.4.126:48848 and node id:tls:01ae..7b8a
2022-04-04 23:30:13.543050+0300 xctest[56153:547369] Peer number 6 address:89.58.25.11:35000 and node id:tls:029f..74fd
2022-04-04 23:30:13.543213+0300 xctest[56153:547369] Peer number 7 address:65.21.235.219:35000 and node id:tls:0309..59c7
2022-04-04 23:30:13.543428+0300 xctest[56153:547369] Peer number 8 address:88.99.69.157:49168 and node id:tls:0371..0dba
2022-04-04 23:30:13.543544+0300 xctest[56153:547369] Peer number 9 address:65.21.227.181:35000 and node id:tls:03e4..1caa
2022-04-04 23:30:13.543662+0300 xctest[56153:547369] Peer number 10 address:162.55.6.177:35000 and node id:tls:03ed..0609
2022-04-04 23:30:13.548130+0300 xctest[56153:547369] Peer number 11 address:88.99.89.209:35000 and node id:tls:03f5..21ff
2022-04-04 23:30:13.548324+0300 xctest[56153:547369] Peer number 12 address:54.72.219.182:36488 and node id:tls:0508..940c
2022-04-04 23:30:13.548435+0300 xctest[56153:547369] Peer number 13 address:164.68.98.13:35000 and node id:tls:054f..adbe
2022-04-04 23:30:13.548532+0300 xctest[56153:547369] Peer number 14 address:118.200.90.72:51362 and node id:tls:05a0..b1cb
2022-04-04 23:30:13.548629+0300 xctest[56153:547369] Peer number 15 address:103.114.224.150:52192 and node id:tls:0663..5ff7
2022-04-04 23:30:13.548717+0300 xctest[56153:547369] Peer number 16 address:65.108.7.50:35000 and node id:tls:0706..8353
2022-04-04 23:30:13.548793+0300 xctest[56153:547369] Peer number 17 address:65.108.42.61:35000 and node id:tls:0718..0f50
2022-04-04 23:30:13.548884+0300 xctest[56153:547369] Peer number 18 address:94.130.33.181:35000 and node id:tls:07f5..9eb0
2022-04-04 23:30:13.548977+0300 xctest[56153:547369] Peer number 19 address:65.21.75.94:35000 and node id:tls:0845..5786
2022-04-04 23:30:13.549067+0300 xctest[56153:547369] Peer number 20 address:142.4.208.204:35000 and node id:tls:084f..3e45
2022-04-04 23:30:13.549156+0300 xctest[56153:547369] Peer number 21 address:138.201.133.150:35000 and node id:tls:089a..d19a
2022-04-04 23:30:13.549250+0300 xctest[56153:547369] Peer number 22 address:23.88.71.231:59330 and node id:tls:08b9..0139
2022-04-04 23:30:13.549341+0300 xctest[56153:547369] Peer number 23 address:93.186.201.14:35000 and node id:tls:097c..e44f
2022-04-04 23:30:13.549480+0300 xctest[56153:547369] Peer number 24 address:118.200.90.72:33966 and node id:tls:0bda..bfa2
2022-04-04 23:30:13.549579+0300 xctest[56153:547369] Peer number 25 address:118.200.90.72:33984 and node id:tls:0be5..6aab
2022-04-04 23:30:13.549725+0300 xctest[56153:547369] Peer number 26 address:65.21.231.23:35000 and node id:tls:0c48..06b3
2022-04-04 23:30:13.549819+0300 xctest[56153:547369] Peer number 27 address:207.180.199.157:35000 and node id:tls:0d48..b1f0
2022-04-04 23:30:13.549985+0300 xctest[56153:547369] Peer number 28 address:88.99.146.74:35000 and node id:tls:0fb7..a22b
2022-04-04 23:30:13.550271+0300 xctest[56153:547369] Peer number 29 address:54.72.219.182:54956 and node id:tls:108a..ae4f
2022-04-04 23:30:13.550481+0300 xctest[56153:547369] Peer number 30 address:65.21.231.29:35000 and node id:tls:10ca..f6d1
2022-04-04 23:30:13.550646+0300 xctest[56153:547369] Peer number 31 address:94.130.10.55:35000 and node id:tls:1265..3319
2022-04-04 23:30:13.550796+0300 xctest[56153:547369] Peer number 32 address:198.245.51.193:35000 and node id:tls:12ae..75d5
2022-04-04 23:30:13.551100+0300 xctest[56153:547369] Peer number 33 address:95.216.38.174:35000 and node id:tls:1318..70f9
2022-04-04 23:30:13.551371+0300 xctest[56153:547369] Peer number 34 address:65.108.0.107:35000 and node id:tls:1346..d363
2022-04-04 23:30:13.551464+0300 xctest[56153:547369] Peer number 35 address:5.9.2.171:35000 and node id:tls:13ef..48cf
2022-04-04 23:30:13.551561+0300 xctest[56153:547369] Peer number 36 address:136.243.137.238:35000 and node id:tls:14ae..3720
2022-04-04 23:30:13.551655+0300 xctest[56153:547369] Peer number 37 address:88.99.57.74:35000 and node id:tls:14af..8c69
2022-04-04 23:30:13.551746+0300 xctest[56153:547369] Peer number 38 address:144.91.68.55:35000 and node id:tls:14d4..f459
2022-04-04 23:30:13.551839+0300 xctest[56153:547369] Peer number 39 address:139.180.189.141:35000 and node id:tls:1509..7e85
2022-04-04 23:30:13.551934+0300 xctest[56153:547369] Peer number 40 address:65.108.73.148:35000 and node id:tls:155e..f5eb
2022-04-04 23:30:13.552026+0300 xctest[56153:547369] Peer number 41 address:65.108.41.39:35000 and node id:tls:1600..ca7a
2022-04-04 23:30:13.552128+0300 xctest[56153:547369] Peer number 42 address:88.99.0.42:35000 and node id:tls:172b..ac8e
2022-04-04 23:30:13.552214+0300 xctest[56153:547369] Peer number 43 address:135.181.214.157:35000 and node id:tls:17d1..5b8e
2022-04-04 23:30:13.552300+0300 xctest[56153:547369] Peer number 44 address:176.9.70.102:35000 and node id:tls:1929..caa0
2022-04-04 23:30:13.552360+0300 xctest[56153:547369] Peer number 45 address:118.200.90.72:33982 and node id:tls:19b3..75aa
2022-04-04 23:30:13.552422+0300 xctest[56153:547369] Peer number 46 address:103.146.240.245:35200 and node id:tls:19b3..a1a5
2022-04-04 23:30:13.552516+0300 xctest[56153:547369] Peer number 47 address:5.9.21.115:35000 and node id:tls:1a86..1c5a
2022-04-04 23:30:13.552608+0300 xctest[56153:547369] Peer number 48 address:167.99.210.123:35000 and node id:tls:1b59..b60b
2022-04-04 23:30:13.552718+0300 xctest[56153:547369] Peer number 49 address:185.215.165.34:35000 and node id:tls:1c82..37a3
2022-04-04 23:30:13.552819+0300 xctest[56153:547369] Peer number 50 address:172.114.130.252:32898 and node id:tls:1cd2..961c
2022-04-04 23:30:13.552955+0300 xctest[56153:547369] Peer number 51 address:138.201.54.44:35000 and node id:tls:1cdc..d81b
2022-04-04 23:30:13.553063+0300 xctest[56153:547369] Peer number 52 address:65.108.12.160:35000 and node id:tls:1ce7..7381
2022-04-04 23:30:13.553336+0300 xctest[56153:547369] Peer number 53 address:103.146.240.245:58880 and node id:tls:1d8c..4817
2022-04-04 23:30:13.553762+0300 xctest[56153:547369] Peer number 54 address:46.4.32.165:35000 and node id:tls:1e4e..fb9b
2022-04-04 23:30:13.553893+0300 xctest[56153:547369] Peer number 55 address:54.186.192.89:56160 and node id:tls:1ec8..15a9
2022-04-04 23:30:13.554024+0300 xctest[56153:547369] Peer number 56 address:65.108.0.22:35000 and node id:tls:1eea..80d1
2022-04-04 23:30:13.554263+0300 xctest[56153:547369] Peer number 57 address:65.108.43.219:35000 and node id:tls:1fb7..837c
2022-04-04 23:30:13.554413+0300 xctest[56153:547369] Peer number 58 address:65.108.10.126:35000 and node id:tls:205b..f5b2
2022-04-04 23:30:13.554631+0300 xctest[56153:547369] Peer number 59 address:35.169.205.205:35000 and node id:tls:20de..79ee
2022-04-04 23:30:13.554754+0300 xctest[56153:547369] Peer number 60 address:65.21.237.153:35000 and node id:tls:21b4..076b
2022-04-04 23:30:13.554859+0300 xctest[56153:547369] Peer number 61 address:65.108.2.45:35000 and node id:tls:23f0..e235
2022-04-04 23:30:13.554952+0300 xctest[56153:547369] Peer number 62 address:155.138.175.136:35000 and node id:tls:2427..1e52
2022-04-04 23:30:13.555041+0300 xctest[56153:547369] Peer number 63 address:23.88.0.163:35000 and node id:tls:258a..1819
2022-04-04 23:30:13.555313+0300 xctest[56153:547369] Peer number 64 address:138.201.48.72:35000 and node id:tls:25c3..4c4a
2022-04-04 23:30:13.555507+0300 xctest[56153:547369] Peer number 65 address:118.200.90.72:33978 and node id:tls:2602..c802
2022-04-04 23:30:13.555606+0300 xctest[56153:547369] Peer number 66 address:103.146.240.245:59186 and node id:tls:276c..e0c8
2022-04-04 23:30:13.555712+0300 xctest[56153:547369] Peer number 67 address:135.181.20.91:35000 and node id:tls:27cf..bb5a
2022-04-04 23:30:13.555856+0300 xctest[56153:547369] Peer number 68 address:148.251.195.32:35000 and node id:tls:289b..83d5
2022-04-04 23:30:13.556049+0300 xctest[56153:547369] Peer number 69 address:3.23.146.54:35000 and node id:tls:289d..2628
2022-04-04 23:30:13.556202+0300 xctest[56153:547369] Peer number 70 address:35.83.75.217:45456 and node id:tls:292a..5d54
2022-04-04 23:30:13.556333+0300 xctest[56153:547369] Peer number 71 address:65.21.239.31:35000 and node id:tls:2b04..ba7c
2022-04-04 23:30:13.556436+0300 xctest[56153:547369] Peer number 72 address:5.9.20.162:35000 and node id:tls:2b70..92da
2022-04-04 23:30:13.556530+0300 xctest[56153:547369] Peer number 73 address:118.200.90.72:33988 and node id:tls:2bc0..c0a4
2022-04-04 23:30:13.556619+0300 xctest[56153:547369] Peer number 74 address:47.106.100.25:45922 and node id:tls:2cb0..81cc
2022-04-04 23:30:13.556709+0300 xctest[56153:547369] Peer number 75 address:54.72.219.182:49620 and node id:tls:2ce3..84ae
2022-04-04 23:30:13.556796+0300 xctest[56153:547369] Peer number 76 address:198.100.148.19:35000 and node id:tls:2d48..4546
2022-04-04 23:30:13.556885+0300 xctest[56153:547369] Peer number 77 address:87.233.77.35:35000 and node id:tls:2d5a..d6dc
2022-04-04 23:30:13.556973+0300 xctest[56153:547369] Peer number 78 address:88.99.100.240:51302 and node id:tls:2e69..7715
2022-04-04 23:30:13.557059+0300 xctest[56153:547369] Peer number 79 address:103.146.240.245:43164 and node id:tls:2eb8..f6ed
2022-04-04 23:30:13.557145+0300 xctest[56153:547369] Peer number 80 address:65.21.237.113:35000 and node id:tls:2ef8..b63d
2022-04-04 23:30:13.557232+0300 xctest[56153:547369] Peer number 81 address:142.132.192.37:35000 and node id:tls:2fff..3809
2022-04-04 23:30:13.557351+0300 xctest[56153:547369] Peer number 82 address:54.72.219.182:59462 and node id:tls:30e3..2638
2022-04-04 23:30:13.557453+0300 xctest[56153:547369] Peer number 83 address:148.251.81.170:35000 and node id:tls:30ea..1ec4
2022-04-04 23:30:13.557561+0300 xctest[56153:547369] Peer number 84 address:135.181.140.236:35000 and node id:tls:3209..fc3b
2022-04-04 23:30:13.557745+0300 xctest[56153:547369] Peer number 85 address:95.216.247.164:35000 and node id:tls:3388..eda2
2022-04-04 23:30:13.557850+0300 xctest[56153:547369] Peer number 86 address:65.108.2.50:38354 and node id:tls:34e1..b0e0
2022-04-04 23:30:13.558043+0300 xctest[56153:547369] Peer number 87 address:65.21.239.114:35000 and node id:tls:34fd..ad70
2022-04-04 23:30:13.558143+0300 xctest[56153:547369] Peer number 88 address:54.203.120.71:59100 and node id:tls:353e..5594
2022-04-04 23:30:13.558297+0300 xctest[56153:547369] Peer number 89 address:88.99.141.148:35000 and node id:tls:360f..c243
2022-04-04 23:30:13.558741+0300 xctest[56153:547369] Peer number 90 address:103.114.224.150:46326 and node id:tls:36db..37ba
2022-04-04 23:30:13.559296+0300 xctest[56153:547369] Peer number 91 address:46.4.119.228:35000 and node id:tls:370a..a441
2022-04-04 23:30:13.559424+0300 xctest[56153:547369] Peer number 92 address:13.36.48.32:35000 and node id:tls:37a0..5dfa
2022-04-04 23:30:13.559528+0300 xctest[56153:547369] Peer number 93 address:65.21.201.245:35000 and node id:tls:3800..ea23
2022-04-04 23:30:13.559622+0300 xctest[56153:547369] Peer number 94 address:65.21.229.213:35000 and node id:tls:3899..2d9c
2022-04-04 23:30:13.559720+0300 xctest[56153:547369] Peer number 95 address:35.81.75.47:42308 and node id:tls:38bb..58c8
2022-04-04 23:30:13.559814+0300 xctest[56153:547369] Peer number 96 address:65.21.235.239:35000 and node id:tls:3943..673c
2022-04-04 23:30:13.559907+0300 xctest[56153:547369] Peer number 97 address:95.216.72.156:35000 and node id:tls:39d9..c68b
2022-04-04 23:30:13.559997+0300 xctest[56153:547369] Peer number 98 address:65.21.132.206:35000 and node id:tls:3a24..cb01
2022-04-04 23:30:13.560089+0300 xctest[56153:547369] Peer number 99 address:65.108.4.121:54654 and node id:tls:3a8a..58d1
2022-04-04 23:30:13.560173+0300 xctest[56153:547369] Peer number 100 address:138.201.17.176:35000 and node id:tls:3ac4..74d2
2022-04-04 23:30:13.561777+0300 xctest[56153:547369] Peer number 101 address:118.189.191.191:35000 and node id:tls:3ac6..0023
2022-04-04 23:30:13.562012+0300 xctest[56153:547369] Peer number 102 address:54.72.219.182:38950 and node id:tls:3b2f..5fb1
2022-04-04 23:30:13.562123+0300 xctest[56153:547369] Peer number 103 address:18.141.10.216:35000 and node id:tls:3b34..d985
2022-04-04 23:30:13.562294+0300 xctest[56153:547369] Peer number 104 address:89.58.30.220:35000 and node id:tls:3e43..cfaa
2022-04-04 23:30:13.562450+0300 xctest[56153:547369] Peer number 105 address:54.193.230.87:35000 and node id:tls:3e94..a4b1
2022-04-04 23:30:13.562553+0300 xctest[56153:547369] Peer number 106 address:135.181.113.209:35000 and node id:tls:3ebb..42eb
2022-04-04 23:30:13.562644+0300 xctest[56153:547369] Peer number 107 address:23.88.71.227:41488 and node id:tls:408c..74fa
2022-04-04 23:30:13.562731+0300 xctest[56153:547369] Peer number 108 address:5.9.23.55:35000 and node id:tls:4154..9855
2022-04-04 23:30:13.562821+0300 xctest[56153:547369] Peer number 109 address:210.245.49.112:49784 and node id:tls:41dd..e41e
2022-04-04 23:30:13.562905+0300 xctest[56153:547369] Peer number 110 address:54.190.157.127:58756 and node id:tls:41de..f32c
2022-04-04 23:30:13.563351+0300 xctest[56153:547369] Peer number 111 address:195.201.107.240:35000 and node id:tls:4231..d5b3
2022-04-04 23:30:13.563453+0300 xctest[56153:547369] Peer number 112 address:85.114.132.129:35000 and node id:tls:429e..a475
2022-04-04 23:30:13.563704+0300 xctest[56153:547369] Peer number 113 address:135.181.74.237:35000 and node id:tls:432a..6952
2022-04-04 23:30:13.563781+0300 xctest[56153:547369] Peer number 114 address:65.108.5.253:35000 and node id:tls:436d..313a
2022-04-04 23:30:13.563930+0300 xctest[56153:547369] Peer number 115 address:65.108.4.27:35000 and node id:tls:43ad..0ed4
2022-04-04 23:30:13.564029+0300 xctest[56153:547369] Peer number 116 address:178.170.42.149:35000 and node id:tls:43c5..72ab
2022-04-04 23:30:13.564119+0300 xctest[56153:547369] Peer number 117 address:194.163.159.72:35000 and node id:tls:43dc..36e0
2022-04-04 23:30:13.564211+0300 xctest[56153:547369] Peer number 118 address:103.114.224.150:54194 and node id:tls:46d5..b617
2022-04-04 23:30:13.564299+0300 xctest[56153:547369] Peer number 119 address:142.132.155.188:35000 and node id:tls:471f..7bef
2022-04-04 23:30:13.564387+0300 xctest[56153:547369] Peer number 120 address:135.181.216.142:35000 and node id:tls:480c..d92c
2022-04-04 23:30:13.564598+0300 xctest[56153:547369] Peer number 121 address:65.108.1.61:35000 and node id:tls:488f..52c3
2022-04-04 23:30:13.564699+0300 xctest[56153:547369] Peer number 122 address:89.163.224.120:35000 and node id:tls:49a5..5cc7
2022-04-04 23:30:13.564872+0300 xctest[56153:547369] Peer number 123 address:210.245.49.112:53830 and node id:tls:49d5..0142
2022-04-04 23:30:13.564994+0300 xctest[56153:547369] Peer number 124 address:167.71.14.48:52468 and node id:tls:4b1c..f9df
2022-04-04 23:30:13.565089+0300 xctest[56153:547369] Peer number 125 address:148.251.22.148:35000 and node id:tls:4b67..acb2
2022-04-04 23:30:13.565179+0300 xctest[56153:547369] Peer number 126 address:109.238.14.37:35000 and node id:tls:4d2f..36ef
2022-04-04 23:30:13.565267+0300 xctest[56153:547369] Peer number 127 address:3.208.91.63:35000 and node id:tls:4d4c..dca4
2022-04-04 23:30:13.565356+0300 xctest[56153:547369] Peer number 128 address:116.202.221.216:35480 and node id:tls:4d98..f698
2022-04-04 23:30:13.565446+0300 xctest[56153:547369] Peer number 129 address:65.108.10.150:35000 and node id:tls:4ed4..1783
2022-04-04 23:30:13.565536+0300 xctest[56153:547369] Peer number 130 address:5.9.154.76:35000 and node id:tls:502f..9d46
2022-04-04 23:30:13.565622+0300 xctest[56153:547369] Peer number 131 address:207.180.214.56:35000 and node id:tls:5122..f476
2022-04-04 23:30:13.565711+0300 xctest[56153:547369] Peer number 132 address:157.90.130.143:35000 and node id:tls:515b..5465
2022-04-04 23:30:13.565797+0300 xctest[56153:547369] Peer number 133 address:95.216.45.210:35000 and node id:tls:5189..24d9
2022-04-04 23:30:13.565885+0300 xctest[56153:547369] Peer number 134 address:65.21.125.235:35000 and node id:tls:5276..a216
2022-04-04 23:30:13.565970+0300 xctest[56153:547369] Peer number 135 address:103.146.240.245:40962 and node id:tls:52bd..b737
2022-04-04 23:30:13.566053+0300 xctest[56153:547369] Peer number 136 address:135.181.116.109:35000 and node id:tls:5320..1a63
2022-04-04 23:30:13.566142+0300 xctest[56153:547369] Peer number 137 address:185.237.252.128:35000 and node id:tls:5331..33ec
2022-04-04 23:30:13.566327+0300 xctest[56153:547369] Peer number 138 address:65.21.227.86:35000 and node id:tls:541d..f920
2022-04-04 23:30:13.566547+0300 xctest[56153:547369] Peer number 139 address:65.21.194.138:35000 and node id:tls:5422..921a
2022-04-04 23:30:13.566851+0300 xctest[56153:547369] Peer number 140 address:65.21.132.234:35000 and node id:tls:54d0..c10b
2022-04-04 23:30:13.567038+0300 xctest[56153:547369] Peer number 141 address:118.200.90.72:33990 and node id:tls:5523..f8c1
2022-04-04 23:30:13.567149+0300 xctest[56153:547369] Peer number 142 address:128.199.188.182:35000 and node id:tls:5601..4385
2022-04-04 23:30:13.567294+0300 xctest[56153:547369] Peer number 143 address:94.130.14.186:35000 and node id:tls:5720..b8a5
2022-04-04 23:30:13.567437+0300 xctest[56153:547369] Peer number 144 address:3.136.154.249:35000 and node id:tls:5804..9e3f
2022-04-04 23:30:13.567579+0300 xctest[56153:547369] Peer number 145 address:136.243.48.239:54002 and node id:tls:581e..c97d
2022-04-04 23:30:13.567726+0300 xctest[56153:547369] Peer number 146 address:135.181.165.233:35000 and node id:tls:5a22..742d
2022-04-04 23:30:13.567823+0300 xctest[56153:547369] Peer number 147 address:85.114.132.133:35000 and node id:tls:5b61..2b16
2022-04-04 23:30:13.568009+0300 xctest[56153:547369] Peer number 148 address:95.216.42.190:35000 and node id:tls:5bb8..bed0
2022-04-04 23:30:13.568143+0300 xctest[56153:547369] Peer number 149 address:138.201.206.195:35000 and node id:tls:5d39..22d2
2022-04-04 23:30:13.568344+0300 xctest[56153:547369] Peer number 150 address:35.166.244.188:51568 and node id:tls:5d7b..4890
2022-04-04 23:30:13.568452+0300 xctest[56153:547369] Peer number 151 address:65.21.236.44:35000 and node id:tls:5e71..756b
2022-04-04 23:30:13.568682+0300 xctest[56153:547369] Peer number 152 address:138.201.53.13:35000 and node id:tls:5e82..3c6b
2022-04-04 23:30:13.568965+0300 xctest[56153:547369] Peer number 153 address:65.108.101.71:35000 and node id:tls:5eb3..4dc3
2022-04-04 23:30:13.569079+0300 xctest[56153:547369] Peer number 154 address:65.21.194.140:35000 and node id:tls:5ec9..4463
2022-04-04 23:30:13.569193+0300 xctest[56153:547369] Peer number 155 address:103.146.240.245:43262 and node id:tls:600b..e67a
2022-04-04 23:30:13.569288+0300 xctest[56153:547369] Peer number 156 address:157.90.34.213:35000 and node id:tls:614e..8d60
2022-04-04 23:30:13.569546+0300 xctest[56153:547369] Peer number 157 address:167.99.217.85:35000 and node id:tls:61c5..2859
2022-04-04 23:30:13.569666+0300 xctest[56153:547369] Peer number 158 address:135.181.207.1:35000 and node id:tls:6218..4baa
2022-04-04 23:30:13.569869+0300 xctest[56153:547369] Peer number 159 address:65.21.231.40:35000 and node id:tls:629a..32ff
2022-04-04 23:30:13.569976+0300 xctest[56153:547369] Peer number 160 address:103.114.224.150:51274 and node id:tls:62e2..271f
2022-04-04 23:30:13.570131+0300 xctest[56153:547369] Peer number 161 address:65.108.8.30:35000 and node id:tls:66c1..8c01
2022-04-04 23:30:13.570252+0300 xctest[56153:547369] Peer number 162 address:81.30.157.85:35000 and node id:tls:66cf..f454
2022-04-04 23:30:13.570563+0300 xctest[56153:547369] Peer number 163 address:103.114.224.150:47918 and node id:tls:6726..0db1
2022-04-04 23:30:13.570792+0300 xctest[56153:547369] Peer number 164 address:144.76.110.71:35000 and node id:tls:67cd..2a2a
2022-04-04 23:30:13.570899+0300 xctest[56153:547369] Peer number 165 address:3.129.252.116:35000 and node id:tls:6804..6d09
2022-04-04 23:30:13.571065+0300 xctest[56153:547369] Peer number 166 address:103.114.224.150:53718 and node id:tls:6938..c578
2022-04-04 23:30:13.571170+0300 xctest[56153:547369] Peer number 167 address:88.198.2.214:35000 and node id:tls:69a4..6e7b
2022-04-04 23:30:13.571390+0300 xctest[56153:547369] Peer number 168 address:65.108.46.187:35000 and node id:tls:6cb9..cbb4
2022-04-04 23:30:13.571487+0300 xctest[56153:547369] Peer number 169 address:65.21.227.35:35000 and node id:tls:6ea7..59c9
2022-04-04 23:30:13.571597+0300 xctest[56153:547369] Peer number 170 address:5.9.21.141:35000 and node id:tls:6f87..d639
2022-04-04 23:30:13.571709+0300 xctest[56153:547369] Peer number 171 address:148.251.78.90:45454 and node id:tls:7062..d255
2022-04-04 23:30:13.571805+0300 xctest[56153:547369] Peer number 172 address:18.167.47.162:35000 and node id:tls:70cf..b957
2022-04-04 23:30:13.571974+0300 xctest[56153:547369] Peer number 173 address:162.55.242.24:35000 and node id:tls:7171..c648
2022-04-04 23:30:13.572070+0300 xctest[56153:547369] Peer number 174 address:65.108.41.164:35000 and node id:tls:7288..2ee7
2022-04-04 23:30:13.572254+0300 xctest[56153:547369] Peer number 175 address:195.201.167.179:35000 and node id:tls:72fc..7444
2022-04-04 23:30:13.572394+0300 xctest[56153:547369] Peer number 176 address:103.114.224.150:45130 and node id:tls:7337..5fa5
2022-04-04 23:30:13.572593+0300 xctest[56153:547369] Peer number 177 address:65.108.11.103:35000 and node id:tls:738d..fa71
2022-04-04 23:30:13.572780+0300 xctest[56153:547369] Peer number 178 address:65.108.3.108:35000 and node id:tls:73ee..af58
2022-04-04 23:30:13.572892+0300 xctest[56153:547369] Peer number 179 address:195.88.87.26:35000 and node id:tls:7450..3f14
2022-04-04 23:30:13.572993+0300 xctest[56153:547369] Peer number 180 address:136.243.147.249:35000 and node id:tls:74e2..f300
2022-04-04 23:30:13.573086+0300 xctest[56153:547369] Peer number 181 address:103.146.240.245:35012 and node id:tls:7523..cd93
2022-04-04 23:30:13.573177+0300 xctest[56153:547369] Peer number 182 address:13.52.2.182:35000 and node id:tls:76c5..8553
2022-04-04 23:30:13.573315+0300 xctest[56153:547369] Peer number 183 address:54.72.219.182:37846 and node id:tls:76cf..7e20
2022-04-04 23:30:13.573505+0300 xctest[56153:547369] Peer number 184 address:188.40.47.161:35000 and node id:tls:7731..d2eb
2022-04-04 23:30:13.573679+0300 xctest[56153:547369] Peer number 185 address:178.170.46.167:35000 and node id:tls:780a..6ca2
2022-04-04 23:30:13.573799+0300 xctest[56153:547369] Peer number 186 address:95.216.71.88:35000 and node id:tls:78ee..ee62
2022-04-04 23:30:13.574046+0300 xctest[56153:547369] Peer number 187 address:65.21.95.180:35000 and node id:tls:7957..7cea
2022-04-04 23:30:13.574279+0300 xctest[56153:547369] Peer number 188 address:65.108.11.90:35000 and node id:tls:7a2f..fdec
2022-04-04 23:30:13.574392+0300 xctest[56153:547369] Peer number 189 address:118.200.90.72:33980 and node id:tls:7a8e..8409
2022-04-04 23:30:13.574516+0300 xctest[56153:547369] Peer number 190 address:148.251.90.119:35000 and node id:tls:7b05..68ad
2022-04-04 23:30:13.574615+0300 xctest[56153:547369] Peer number 191 address:54.72.219.182:44294 and node id:tls:7b56..125d
2022-04-04 23:30:13.574924+0300 xctest[56153:547369] Peer number 192 address:95.217.206.250:35000 and node id:tls:7c60..f9a5
2022-04-04 23:30:13.575205+0300 xctest[56153:547369] Peer number 193 address:95.216.246.31:35000 and node id:tls:7c62..e3d2
2022-04-04 23:30:13.575312+0300 xctest[56153:547369] Peer number 194 address:65.21.92.145:35000 and node id:tls:7cab..a75f
2022-04-04 23:30:13.575401+0300 xctest[56153:547369] Peer number 195 address:94.130.140.91:35000 and node id:tls:7cad..a1d0
2022-04-04 23:30:13.575494+0300 xctest[56153:547369] Peer number 196 address:195.201.174.222:35000 and node id:tls:7d63..3426
2022-04-04 23:30:13.575588+0300 xctest[56153:547369] Peer number 197 address:162.55.245.143:35000 and node id:tls:7e90..9a4d
2022-04-04 23:30:13.575692+0300 xctest[56153:547369] Peer number 198 address:149.28.148.172:35000 and node id:tls:7f3d..3e23
2022-04-04 23:30:13.575786+0300 xctest[56153:547369] Peer number 199 address:103.146.240.245:58888 and node id:tls:805e..2fea
2022-04-04 23:30:13.575870+0300 xctest[56153:547369] Peer number 200 address:116.202.158.93:35000 and node id:tls:8098..01c3
2022-04-04 23:30:13.575950+0300 xctest[56153:547369] Peer number 201 address:45.76.150.22:35000 and node id:tls:80c6..8a6b
2022-04-04 23:30:13.576321+0300 xctest[56153:547369] Peer number 202 address:148.251.10.212:35000 and node id:tls:80ff..ce19
2022-04-04 23:30:13.576433+0300 xctest[56153:547369] Peer number 203 address:103.114.224.150:43610 and node id:tls:825f..154b
2022-04-04 23:30:13.576521+0300 xctest[56153:547369] Peer number 204 address:142.4.208.184:35000 and node id:tls:8316..a39e
2022-04-04 23:30:13.576608+0300 xctest[56153:547369] Peer number 205 address:5.9.21.244:35000 and node id:tls:8320..b3a9
2022-04-04 23:30:13.576781+0300 xctest[56153:547369] Peer number 206 address:49.12.51.214:35000 and node id:tls:8321..7a95
2022-04-04 23:30:13.576881+0300 xctest[56153:547369] Peer number 207 address:167.99.209.179:35000 and node id:tls:8343..3b4f
2022-04-04 23:30:13.576965+0300 xctest[56153:547369] Peer number 208 address:52.70.214.247:35000 and node id:tls:83cb..53da
2022-04-04 23:30:13.577050+0300 xctest[56153:547369] Peer number 209 address:207.148.121.215:35000 and node id:tls:853f..1e2d
2022-04-04 23:30:13.577325+0300 xctest[56153:547369] Peer number 210 address:35.163.152.22:43660 and node id:tls:8568..1422
2022-04-04 23:30:13.577429+0300 xctest[56153:547369] Peer number 211 address:65.108.8.45:35000 and node id:tls:85ba..9376
2022-04-04 23:30:13.577523+0300 xctest[56153:547369] Peer number 212 address:65.21.88.221:35000 and node id:tls:85c9..a9e1
2022-04-04 23:30:13.577650+0300 xctest[56153:547369] Peer number 213 address:45.83.106.29:35000 and node id:tls:8688..59e0
2022-04-04 23:30:13.577743+0300 xctest[56153:547369] Peer number 214 address:65.108.0.79:35000 and node id:tls:86ca..2231
2022-04-04 23:30:13.577834+0300 xctest[56153:547369] Peer number 215 address:65.108.101.20:35000 and node id:tls:86f6..2f07
2022-04-04 23:30:13.577924+0300 xctest[56153:547369] Peer number 216 address:138.201.224.174:35000 and node id:tls:8799..b911
2022-04-04 23:30:13.578011+0300 xctest[56153:547369] Peer number 217 address:159.65.118.250:35000 and node id:tls:8a1d..292e
2022-04-04 23:30:13.578100+0300 xctest[56153:547369] Peer number 218 address:142.132.208.215:35000 and node id:tls:8a20..d4e0
2022-04-04 23:30:13.578187+0300 xctest[56153:547369] Peer number 219 address:65.108.5.248:35000 and node id:tls:8bec..00ac
2022-04-04 23:30:13.578276+0300 xctest[56153:547369] Peer number 220 address:103.114.224.150:47874 and node id:tls:8c1a..e0bf
2022-04-04 23:30:13.578365+0300 xctest[56153:547369] Peer number 221 address:54.72.219.182:55390 and node id:tls:8c43..e03f
2022-04-04 23:30:13.578453+0300 xctest[56153:547369] Peer number 222 address:103.114.224.150:53748 and node id:tls:8d6b..7ea3
2022-04-04 23:30:13.578540+0300 xctest[56153:547369] Peer number 223 address:135.181.114.196:35000 and node id:tls:8e1b..85af
2022-04-04 23:30:13.578628+0300 xctest[56153:547369] Peer number 224 address:65.21.133.2:35000 and node id:tls:9027..56a6
2022-04-04 23:30:13.578713+0300 xctest[56153:547369] Peer number 225 address:88.99.60.204:35000 and node id:tls:90ac..6529
2022-04-04 23:30:13.578799+0300 xctest[56153:547369] Peer number 226 address:141.94.194.38:35000 and node id:tls:9150..cd50
2022-04-04 23:30:13.578884+0300 xctest[56153:547369] Peer number 227 address:65.108.2.46:35000 and node id:tls:91a5..704a
2022-04-04 23:30:13.579071+0300 xctest[56153:547369] Peer number 228 address:172.114.130.252:35000 and node id:tls:92dc..8c74
2022-04-04 23:30:13.579310+0300 xctest[56153:547369] Peer number 229 address:65.108.2.223:35000 and node id:tls:9486..103a
2022-04-04 23:30:13.579568+0300 xctest[56153:547369] Peer number 230 address:95.216.10.102:35000 and node id:tls:949a..f88a
2022-04-04 23:30:13.579680+0300 xctest[56153:547369] Peer number 231 address:35.238.105.248:35000 and node id:tls:94b3..90a8
2022-04-04 23:30:13.579931+0300 xctest[56153:547369] Peer number 232 address:65.108.42.60:35000 and node id:tls:9521..1f97
2022-04-04 23:30:13.580051+0300 xctest[56153:547369] Peer number 233 address:65.108.140.73:35000 and node id:tls:95a3..8525
2022-04-04 23:30:13.580228+0300 xctest[56153:547369] Peer number 234 address:5.9.50.59:35000 and node id:tls:95a5..ea3a
2022-04-04 23:30:13.580338+0300 xctest[56153:547369] Peer number 235 address:121.6.33.237:32090 and node id:tls:96ce..3b57
2022-04-04 23:30:13.580527+0300 xctest[56153:547369] Peer number 236 address:103.146.240.245:35054 and node id:tls:9707..3d2a
2022-04-04 23:30:13.580634+0300 xctest[56153:547369] Peer number 237 address:3.128.192.255:35000 and node id:tls:9781..9580
2022-04-04 23:30:13.580741+0300 xctest[56153:547369] Peer number 238 address:128.199.53.68:35000 and node id:tls:9859..c629
2022-04-04 23:30:13.580854+0300 xctest[56153:547369] Peer number 239 address:207.180.199.157:49158 and node id:tls:98b5..c830
2022-04-04 23:30:13.580949+0300 xctest[56153:547369] Peer number 240 address:16.162.124.124:35000 and node id:tls:9a65..3f65
2022-04-04 23:30:13.581220+0300 xctest[56153:547369] Peer number 241 address:157.90.7.48:35000 and node id:tls:9b34..6cac
2022-04-04 23:30:13.581335+0300 xctest[56153:547369] Peer number 242 address:103.146.240.245:58864 and node id:tls:9bb7..bb09
2022-04-04 23:30:13.581550+0300 xctest[56153:547369] Peer number 243 address:5.9.77.72:35000 and node id:tls:9c08..1d2f
2022-04-04 23:30:13.581859+0300 xctest[56153:547369] Peer number 244 address:193.48.40.70:1742 and node id:tls:9c20..9fa9
2022-04-04 23:30:13.582214+0300 xctest[56153:547369] Peer number 245 address:65.21.77.17:35000 and node id:tls:9f03..2f74
2022-04-04 23:30:13.582431+0300 xctest[56153:547369] Peer number 246 address:18.221.200.21:39412 and node id:tls:a0f7..c5e0
2022-04-04 23:30:13.582553+0300 xctest[56153:547369] Peer number 247 address:65.108.2.43:35000 and node id:tls:a35d..3eb6
2022-04-04 23:30:13.582745+0300 xctest[56153:547369] Peer number 248 address:118.200.90.72:33964 and node id:tls:a396..6730
2022-04-04 23:30:13.582876+0300 xctest[56153:547369] Peer number 249 address:213.202.212.222:35000 and node id:tls:a3bb..7817
2022-04-04 23:30:13.583035+0300 xctest[56153:547369] Peer number 250 address:93.91.131.124:35000 and node id:tls:a477..37e8
2022-04-04 23:30:13.583140+0300 xctest[56153:547369] Peer number 251 address:136.243.167.62:35000 and node id:tls:a4d1..5413
2022-04-04 23:30:13.583265+0300 xctest[56153:547369] Peer number 252 address:95.217.115.123:35000 and node id:tls:a55a..4ab0
2022-04-04 23:30:13.583394+0300 xctest[56153:547369] Peer number 253 address:207.180.198.31:47762 and node id:tls:a5c2..a4dc
2022-04-04 23:30:13.583497+0300 xctest[56153:547369] Peer number 254 address:178.63.75.44:35000 and node id:tls:a672..6a36
2022-04-04 23:30:13.583682+0300 xctest[56153:547369] Peer number 255 address:194.163.159.62:35000 and node id:tls:a707..b7bf
2022-04-04 23:30:13.583783+0300 xctest[56153:547369] Peer number 256 address:54.146.85.72:35000 and node id:tls:a79e..b217
2022-04-04 23:30:13.583889+0300 xctest[56153:547369] Peer number 257 address:95.216.45.4:35000 and node id:tls:a83b..ad67
2022-04-04 23:30:13.584035+0300 xctest[56153:547369] Peer number 258 address:136.243.187.84:35000 and node id:tls:a887..64e0
2022-04-04 23:30:13.584225+0300 xctest[56153:547369] Peer number 259 address:65.21.194.174:35000 and node id:tls:a92c..93a4
2022-04-04 23:30:13.584372+0300 xctest[56153:547369] Peer number 260 address:135.181.4.34:35000 and node id:tls:a974..460c
2022-04-04 23:30:13.584529+0300 xctest[56153:547369] Peer number 261 address:138.201.36.95:35000 and node id:tls:a97f..ccf3
2022-04-04 23:30:13.584669+0300 xctest[56153:547369] Peer number 262 address:118.200.90.72:33992 and node id:tls:a99a..3544
2022-04-04 23:30:13.584900+0300 xctest[56153:547369] Peer number 263 address:54.185.243.161:48590 and node id:tls:aa36..e2b4
2022-04-04 23:30:13.585013+0300 xctest[56153:547369] Peer number 264 address:65.108.69.56:35000 and node id:tls:aa67..e91d
2022-04-04 23:30:13.585200+0300 xctest[56153:547369] Peer number 265 address:65.21.235.145:35000 and node id:tls:aabe..f526
2022-04-04 23:30:13.585324+0300 xctest[56153:547369] Peer number 266 address:118.200.90.72:33994 and node id:tls:aaed..c534
2022-04-04 23:30:13.585589+0300 xctest[56153:547369] Peer number 267 address:65.108.3.230:35000 and node id:tls:ab3a..9675
2022-04-04 23:30:13.585794+0300 xctest[56153:547369] Peer number 268 address:65.108.0.43:35000 and node id:tls:ab63..db69
2022-04-04 23:30:13.585898+0300 xctest[56153:547369] Peer number 269 address:144.126.152.28:58792 and node id:tls:acd6..47f3
2022-04-04 23:30:13.585993+0300 xctest[56153:547369] Peer number 270 address:95.216.1.154:35000 and node id:tls:ad90..efd3
2022-04-04 23:30:13.586086+0300 xctest[56153:547369] Peer number 271 address:3.35.9.254:35000 and node id:tls:ada3..3472
2022-04-04 23:30:13.586175+0300 xctest[56153:547369] Peer number 272 address:65.108.0.105:35000 and node id:tls:ae27..6988
2022-04-04 23:30:13.586261+0300 xctest[56153:547369] Peer number 273 address:168.119.138.106:35000 and node id:tls:ae53..9e05
2022-04-04 23:30:13.586437+0300 xctest[56153:547369] Peer number 274 address:178.170.48.54:35000 and node id:tls:ae5d..79e5
2022-04-04 23:30:13.586724+0300 xctest[56153:547369] Peer number 275 address:146.59.68.3:35000 and node id:tls:ae62..9eb3
2022-04-04 23:30:13.586840+0300 xctest[56153:547369] Peer number 276 address:121.6.33.237:37736 and node id:tls:aed3..f8e7
2022-04-04 23:30:13.587031+0300 xctest[56153:547369] Peer number 277 address:95.216.246.20:35000 and node id:tls:af71..dd82
2022-04-04 23:30:13.587164+0300 xctest[56153:547369] Peer number 278 address:195.201.13.135:35000 and node id:tls:af82..a952
2022-04-04 23:30:13.587360+0300 xctest[56153:547369] Peer number 279 address:178.216.202.150:35000 and node id:tls:b0ad..293b
2022-04-04 23:30:13.587469+0300 xctest[56153:547369] Peer number 280 address:65.108.9.249:35000 and node id:tls:b114..5fc9
2022-04-04 23:30:13.587708+0300 xctest[56153:547369] Peer number 281 address:103.114.224.150:46452 and node id:tls:b131..9d02
2022-04-04 23:30:13.587818+0300 xctest[56153:547369] Peer number 282 address:65.108.41.42:35000 and node id:tls:b1c3..1fa6
2022-04-04 23:30:13.587913+0300 xctest[56153:547369] Peer number 283 address:65.21.88.62:35000 and node id:tls:b214..b061
2022-04-04 23:30:13.588096+0300 xctest[56153:547369] Peer number 284 address:95.216.37.50:35000 and node id:tls:b2db..9927
2022-04-04 23:30:13.588312+0300 xctest[56153:547369] Peer number 285 address:103.146.240.245:59962 and node id:tls:b304..874a
2022-04-04 23:30:13.588428+0300 xctest[56153:547369] Peer number 286 address:94.130.143.151:35000 and node id:tls:b345..ede4
2022-04-04 23:30:13.588524+0300 xctest[56153:547369] Peer number 287 address:95.216.36.177:35000 and node id:tls:b3e4..5f4e
2022-04-04 23:30:13.588645+0300 xctest[56153:547369] Peer number 288 address:89.58.31.92:35000 and node id:tls:b494..f623
2022-04-04 23:30:13.588880+0300 xctest[56153:547369] Peer number 289 address:95.216.96.62:35000 and node id:tls:b50c..56ba
2022-04-04 23:30:13.588989+0300 xctest[56153:547369] Peer number 290 address:88.198.2.214:34966 and node id:tls:b524..4c93
2022-04-04 23:30:13.589085+0300 xctest[56153:547369] Peer number 291 address:65.21.120.160:35000 and node id:tls:b5f3..4e00
2022-04-04 23:30:13.589178+0300 xctest[56153:547369] Peer number 292 address:95.216.116.53:35000 and node id:tls:b928..5335
2022-04-04 23:30:13.589268+0300 xctest[56153:547369] Peer number 293 address:162.55.132.188:48986 and node id:tls:ba6b..06d3
2022-04-04 23:30:13.589357+0300 xctest[56153:547369] Peer number 294 address:135.181.60.145:35000 and node id:tls:ba8a..72ba
2022-04-04 23:30:13.589447+0300 xctest[56153:547369] Peer number 295 address:94.130.236.189:35000 and node id:tls:bb39..3588
2022-04-04 23:30:13.589536+0300 xctest[56153:547369] Peer number 296 address:65.21.238.180:35000 and node id:tls:bb77..bde4
2022-04-04 23:30:13.589623+0300 xctest[56153:547369] Peer number 297 address:65.108.2.35:35000 and node id:tls:bb9b..71e5
2022-04-04 23:30:13.589710+0300 xctest[56153:547369] Peer number 298 address:65.21.231.103:35000 and node id:tls:bc49..a24a
2022-04-04 23:30:13.589898+0300 xctest[56153:547369] Peer number 299 address:65.108.67.104:35000 and node id:tls:be7b..84e3
2022-04-04 23:30:13.590206+0300 xctest[56153:547369] Peer number 300 address:118.200.90.72:33976 and node id:tls:bece..3b3c
2022-04-04 23:30:13.590324+0300 xctest[56153:547369] Peer number 301 address:195.201.198.188:35000 and node id:tls:bf3d..81a9
2022-04-04 23:30:13.590548+0300 xctest[56153:547369] Peer number 302 address:103.114.224.150:53670 and node id:tls:c17f..df1f
2022-04-04 23:30:13.590659+0300 xctest[56153:547369] Peer number 303 address:103.146.240.245:46724 and node id:tls:c29b..2447
2022-04-04 23:30:13.590971+0300 xctest[56153:547369] Peer number 304 address:95.216.11.106:35000 and node id:tls:c3e8..a564
2022-04-04 23:30:13.591143+0300 xctest[56153:547369] Peer number 305 address:103.114.224.150:52256 and node id:tls:c509..0c25
2022-04-04 23:30:13.591280+0300 xctest[56153:547369] Peer number 306 address:65.108.73.113:35000 and node id:tls:c5eb..b506
2022-04-04 23:30:13.591434+0300 xctest[56153:547369] Peer number 307 address:118.200.90.72:33986 and node id:tls:c643..2d42
2022-04-04 23:30:13.591541+0300 xctest[56153:547369] Peer number 308 address:172.114.130.252:59012 and node id:tls:c6cb..9986
2022-04-04 23:30:13.591651+0300 xctest[56153:547369] Peer number 309 address:172.114.130.252:35688 and node id:tls:c727..671e
2022-04-04 23:30:13.591854+0300 xctest[56153:547369] Peer number 310 address:65.21.140.57:35000 and node id:tls:c7f6..d96f
2022-04-04 23:30:13.591963+0300 xctest[56153:547369] Peer number 311 address:65.108.11.104:35000 and node id:tls:c988..efe7
2022-04-04 23:30:13.592197+0300 xctest[56153:547369] Peer number 312 address:162.55.83.183:35000 and node id:tls:c9d2..4df0
2022-04-04 23:30:13.592492+0300 xctest[56153:547369] Peer number 313 address:65.21.134.245:35000 and node id:tls:ca0e..0537
2022-04-04 23:30:13.592712+0300 xctest[56153:547369] Peer number 314 address:78.46.32.13:35000 and node id:tls:ca14..5362
2022-04-04 23:30:13.592834+0300 xctest[56153:547369] Peer number 315 address:13.36.53.201:35000 and node id:tls:cb92..5ab7
2022-04-04 23:30:13.592942+0300 xctest[56153:547369] Peer number 316 address:65.21.227.101:35000 and node id:tls:cbbb..6bef
2022-04-04 23:30:13.593181+0300 xctest[56153:547369] Peer number 317 address:65.108.0.59:35000 and node id:tls:cc74..173c
2022-04-04 23:30:13.593370+0300 xctest[56153:547369] Peer number 318 address:3.21.55.59:35000 and node id:tls:ce02..e761
2022-04-04 23:30:13.593480+0300 xctest[56153:547369] Peer number 319 address:138.201.199.100:35000 and node id:tls:d043..8a7a
2022-04-04 23:30:13.593575+0300 xctest[56153:547369] Peer number 320 address:54.72.219.182:58536 and node id:tls:d0e3..b2ae
2022-04-04 23:30:13.593665+0300 xctest[56153:547369] Peer number 321 address:51.124.238.59:35000 and node id:tls:d110..fb55
2022-04-04 23:30:13.593756+0300 xctest[56153:547369] Peer number 322 address:104.243.40.167:35000 and node id:tls:d12c..9612
2022-04-04 23:30:13.593845+0300 xctest[56153:547369] Peer number 323 address:62.171.156.235:35000 and node id:tls:d157..cd15
2022-04-04 23:30:13.593932+0300 xctest[56153:547369] Peer number 324 address:135.181.57.13:35000 and node id:tls:d16e..3b35
2022-04-04 23:30:13.594086+0300 xctest[56153:547369] Peer number 325 address:65.21.197.27:35000 and node id:tls:d1ca..7838
2022-04-04 23:30:13.594227+0300 xctest[56153:547369] Peer number 326 address:88.99.94.214:35000 and node id:tls:d241..7422
2022-04-04 23:30:13.594539+0300 xctest[56153:547369] Peer number 327 address:168.119.147.38:35000 and node id:tls:d3d9..2eae
2022-04-04 23:30:13.594742+0300 xctest[56153:547369] Peer number 328 address:135.181.114.117:35000 and node id:tls:d3e7..3110
2022-04-04 23:30:13.594855+0300 xctest[56153:547369] Peer number 329 address:5.9.93.122:35000 and node id:tls:d466..de8e
2022-04-04 23:30:13.595090+0300 xctest[56153:547369] Peer number 330 address:95.216.112.17:35000 and node id:tls:d4e0..67fe
2022-04-04 23:30:13.595196+0300 xctest[56153:547369] Peer number 331 address:88.99.4.9:35000 and node id:tls:d4e3..b50a
2022-04-04 23:30:13.595481+0300 xctest[56153:547369] Peer number 332 address:95.217.62.236:35000 and node id:tls:d563..b5c2
2022-04-04 23:30:13.595670+0300 xctest[56153:547369] Peer number 333 address:65.21.233.95:35000 and node id:tls:d678..172c
2022-04-04 23:30:13.595800+0300 xctest[56153:547369] Peer number 334 address:65.21.204.190:35000 and node id:tls:d6cb..2482
2022-04-04 23:30:13.595958+0300 xctest[56153:547369] Peer number 335 address:207.231.104.186:35000 and node id:tls:d6ec..f002
2022-04-04 23:30:13.596129+0300 xctest[56153:547369] Peer number 336 address:65.108.10.187:35000 and node id:tls:d719..4284
2022-04-04 23:30:13.596230+0300 xctest[56153:547369] Peer number 337 address:159.69.77.28:35000 and node id:tls:d71c..5323
2022-04-04 23:30:13.596324+0300 xctest[56153:547369] Peer number 338 address:103.146.240.245:58882 and node id:tls:d74c..c499
2022-04-04 23:30:13.596429+0300 xctest[56153:547369] Peer number 339 address:162.55.245.219:35000 and node id:tls:d75d..0dbc
2022-04-04 23:30:13.596529+0300 xctest[56153:547369] Peer number 340 address:95.217.34.115:35000 and node id:tls:d795..6648
2022-04-04 23:30:13.596616+0300 xctest[56153:547369] Peer number 341 address:95.216.44.9:35000 and node id:tls:d977..3243
2022-04-04 23:30:13.596695+0300 xctest[56153:547369] Peer number 342 address:159.148.35.182:35000 and node id:tls:da06..3fcb
2022-04-04 23:30:13.596775+0300 xctest[56153:547369] Peer number 343 address:103.146.240.245:40276 and node id:tls:da9c..0337
2022-04-04 23:30:13.596859+0300 xctest[56153:547369] Peer number 344 address:3.137.206.147:35000 and node id:tls:dad0..6d3f
2022-04-04 23:30:13.597156+0300 xctest[56153:547369] Peer number 345 address:3.136.227.9:35000 and node id:tls:db17..2777
2022-04-04 23:30:13.597266+0300 xctest[56153:547369] Peer number 346 address:65.108.72.159:35000 and node id:tls:dbd4..dff4
2022-04-04 23:30:13.597383+0300 xctest[56153:547369] Peer number 347 address:65.21.237.160:35000 and node id:tls:dc97..bdab
2022-04-04 23:30:13.597484+0300 xctest[56153:547369] Peer number 348 address:46.4.115.20:35000 and node id:tls:de30..e879
2022-04-04 23:30:13.597573+0300 xctest[56153:547369] Peer number 349 address:65.108.1.10:35000 and node id:tls:de87..d140
2022-04-04 23:30:13.597670+0300 xctest[56153:547369] Peer number 350 address:5.9.21.244:52312 and node id:tls:df09..790b
2022-04-04 23:30:13.597823+0300 xctest[56153:547369] Peer number 351 address:118.200.90.72:33968 and node id:tls:df4c..bc20
2022-04-04 23:30:13.598018+0300 xctest[56153:547369] Peer number 352 address:52.32.198.136:46326 and node id:tls:df81..d0bf
2022-04-04 23:30:13.598309+0300 xctest[56153:547369] Peer number 353 address:65.21.79.236:35000 and node id:tls:dfb8..4361
2022-04-04 23:30:13.598424+0300 xctest[56153:547369] Peer number 354 address:5.9.6.115:35000 and node id:tls:e1c8..197e
2022-04-04 23:30:13.598609+0300 xctest[56153:547369] Peer number 355 address:95.216.20.4:35000 and node id:tls:e26e..7ea1
2022-04-04 23:30:13.598722+0300 xctest[56153:547369] Peer number 356 address:135.181.208.231:35000 and node id:tls:e2b1..ca8a
2022-04-04 23:30:13.598858+0300 xctest[56153:547369] Peer number 357 address:109.238.11.77:35000 and node id:tls:e302..4345
2022-04-04 23:30:13.598961+0300 xctest[56153:547369] Peer number 358 address:161.97.160.138:57438 and node id:tls:e303..c094
2022-04-04 23:30:13.599053+0300 xctest[56153:547369] Peer number 359 address:54.72.219.182:57892 and node id:tls:e358..6b24
2022-04-04 23:30:13.599248+0300 xctest[56153:547369] Peer number 360 address:35.160.147.124:36234 and node id:tls:e3cd..2855
2022-04-04 23:30:13.599353+0300 xctest[56153:547369] Peer number 361 address:65.21.132.171:49352 and node id:tls:e497..424a
2022-04-04 23:30:13.599616+0300 xctest[56153:547369] Peer number 362 address:89.58.31.153:35000 and node id:tls:e49c..dd4c
2022-04-04 23:30:13.599734+0300 xctest[56153:547369] Peer number 363 address:66.42.55.195:35000 and node id:tls:e553..a844
2022-04-04 23:30:13.599948+0300 xctest[56153:547369] Peer number 364 address:65.108.77.45:35000 and node id:tls:e5b8..e525
2022-04-04 23:30:13.600230+0300 xctest[56153:547369] Peer number 365 address:89.58.2.198:35000 and node id:tls:e610..33d4
2022-04-04 23:30:13.600349+0300 xctest[56153:547369] Peer number 366 address:95.217.78.26:35000 and node id:tls:e6ad..335f
2022-04-04 23:30:13.600449+0300 xctest[56153:547369] Peer number 367 address:65.108.0.148:35000 and node id:tls:e8d1..c79b
2022-04-04 23:30:13.600631+0300 xctest[56153:547369] Peer number 368 address:65.21.236.40:35000 and node id:tls:ead7..0eaf
2022-04-04 23:30:13.600763+0300 xctest[56153:547369] Peer number 369 address:65.21.231.40:59752 and node id:tls:eade..ba57
2022-04-04 23:30:13.600918+0300 xctest[56153:547369] Peer number 370 address:89.58.30.252:35000 and node id:tls:ec1f..f89d
2022-04-04 23:30:13.601074+0300 xctest[56153:547369] Peer number 371 address:5.9.50.135:35000 and node id:tls:ec59..f568
2022-04-04 23:30:13.601198+0300 xctest[56153:547369] Peer number 372 address:23.88.74.82:35000 and node id:tls:ecde..65a6
2022-04-04 23:30:13.601295+0300 xctest[56153:547369] Peer number 373 address:65.21.79.189:35000 and node id:tls:ed98..da40
2022-04-04 23:30:13.601494+0300 xctest[56153:547369] Peer number 374 address:65.108.0.189:35000 and node id:tls:efad..3839
2022-04-04 23:30:13.601686+0300 xctest[56153:547369] Peer number 375 address:103.146.240.245:59212 and node id:tls:f021..f41a
2022-04-04 23:30:13.601812+0300 xctest[56153:547369] Peer number 376 address:88.99.100.42:35000 and node id:tls:f090..835b
2022-04-04 23:30:13.601917+0300 xctest[56153:547369] Peer number 377 address:176.9.119.49:35000 and node id:tls:f0f6..379e
2022-04-04 23:30:13.602107+0300 xctest[56153:547369] Peer number 378 address:65.21.204.180:35000 and node id:tls:f376..0a84
2022-04-04 23:30:13.602235+0300 xctest[56153:547369] Peer number 379 address:103.114.224.150:34678 and node id:tls:f432..c7f2
2022-04-04 23:30:13.602399+0300 xctest[56153:547369] Peer number 380 address:44.229.43.241:42648 and node id:tls:f46f..35a4
2022-04-04 23:30:13.602524+0300 xctest[56153:547369] Peer number 381 address:65.21.238.224:35000 and node id:tls:f4e1..df7e
2022-04-04 23:30:13.602640+0300 xctest[56153:547369] Peer number 382 address:65.21.227.180:35000 and node id:tls:f56c..5c15
2022-04-04 23:30:13.602858+0300 xctest[56153:547369] Peer number 383 address:65.21.234.60:35000 and node id:tls:f581..6ada
2022-04-04 23:30:13.603073+0300 xctest[56153:547369] Peer number 384 address:210.245.49.112:60702 and node id:tls:f6bf..dde4
2022-04-04 23:30:13.603186+0300 xctest[56153:547369] Peer number 385 address:195.201.105.244:35000 and node id:tls:f7de..c8af
2022-04-04 23:30:13.603282+0300 xctest[56153:547369] Peer number 386 address:118.200.90.72:33972 and node id:tls:f83f..c005
2022-04-04 23:30:13.603478+0300 xctest[56153:547369] Peer number 387 address:65.108.4.79:35000 and node id:tls:f8f9..cde2
2022-04-04 23:30:13.603679+0300 xctest[56153:547369] Peer number 388 address:135.181.199.62:35820 and node id:tls:f99f..bf0c
2022-04-04 23:30:13.603834+0300 xctest[56153:547369] Peer number 389 address:114.143.165.174:65082 and node id:tls:f9aa..751d
2022-04-04 23:30:13.603931+0300 xctest[56153:547369] Peer number 390 address:172.93.100.3:35000 and node id:tls:fa31..4c34
2022-04-04 23:30:13.604022+0300 xctest[56153:547369] Peer number 391 address:138.201.122.209:35000 and node id:tls:fad4..b04c
2022-04-04 23:30:13.604115+0300 xctest[56153:547369] Peer number 392 address:162.55.239.44:35000 and node id:tls:fd42..1070
2022-04-04 23:30:13.604203+0300 xctest[56153:547369] Peer number 393 address:65.21.237.43:48262 and node id:tls:fdea..e001
2022-04-04 23:30:13.604306+0300 xctest[56153:547369] Peer number 394 address:144.76.238.62:35000 and node id:tls:fe51..211c
2022-04-04 23:30:13.604507+0300 xctest[56153:547369] Peer number 395 address:118.200.90.72:33996 and node id:tls:fea7..52e8
2022-04-04 23:30:13.604756+0300 xctest[56153:547369] Peer number 396 address:116.202.115.195:35000 and node id:tls:ff67..e943
2022-04-04 23:30:13.604867+0300 xctest[56153:547369] Peer number 397 address:44.232.7.112:35498 and node id:tls:ff7c..3d2d
Test Case '-[GetPeerResultTest testGetPeerList]' passed (0.849 seconds).
Test Suite 'GetPeerResultTest' passed at 2022-04-04 23:30:13.607.
	 Executed 1 test, with 0 failures (0 unexpected) in 0.849 (0.850) seconds
Test Suite 'GetStateRootHashTest' started at 2022-04-04 23:30:13.607
Test Case '-[GetStateRootHashTest testGetStateRootHash]' started.
2022-04-04 23:30:13.609176+0300 xctest[56153:547369] M1: chain_get_state_root_hash test cases
2022-04-04 23:30:16.282928+0300 xctest[56153:547369] Error get state root hash with error message:block not known and error code:-32001
2022-04-04 23:30:16.980678+0300 xctest[56153:547369] Error get state root hash with error message:block not known and error code:-32001
Test Case '-[GetStateRootHashTest testGetStateRootHash]' passed (3.374 seconds).
Test Suite 'GetStateRootHashTest' passed at 2022-04-04 23:30:16.982.
	 Executed 1 test, with 0 failures (0 unexpected) in 3.374 (3.375) seconds
Test Suite 'GetStatusTest' started at 2022-04-04 23:30:16.983
Test Case '-[GetStatusTest testGetStatus]' started.
2022-04-04 23:30:17.760566+0300 xctest[56153:547369] Get status result, starting_state_root_hash:9de97ed44c9d925a3bdd4c6a55afb6b9e6cfdd9ca358505f3099c888c10224d4
2022-04-04 23:30:17.760921+0300 xctest[56153:547369] Get status result, our_public_signing_key:017d96b9a63abcb61c870a4f55187a0a7ac24096bdb5fc585c12a686a4d892009e
2022-04-04 23:30:17.761230+0300 xctest[56153:547369] Get status result, total peer:397
2022-04-04 23:30:17.761305+0300 xctest[56153:547369] Get status result, last_added_block_info hash:7c4d9214cdd9544a15bf2fd26dd1c44c4b81a1cfa984bbb5739c71a6ec6e3235
2022-04-04 23:30:17.761360+0300 xctest[56153:547369] Get status result, last_added_block_info creator:01a03c687285634a0115c0af1015ab0a53809f4826ee863c94e32ce48bcfdf447d
Test Case '-[GetStatusTest testGetStatus]' passed (0.780 seconds).
Test Suite 'GetStatusTest' passed at 2022-04-04 23:30:17.763.
	 Executed 1 test, with 0 failures (0 unexpected) in 0.780 (0.781) seconds
Test Suite 'Serialization_CLTypeTest' started at 2022-04-04 23:30:17.764
Test Case '-[Serialization_CLTypeTest testCLTypeSerialization]' started.
Test Case '-[Serialization_CLTypeTest testCLTypeSerialization]' passed (0.002 seconds).
Test Suite 'Serialization_CLTypeTest' passed at 2022-04-04 23:30:17.767.
	 Executed 1 test, with 0 failures (0 unexpected) in 0.002 (0.003) seconds
Test Suite 'Serialization_CLValueTest' started at 2022-04-04 23:30:17.770
Test Case '-[Serialization_CLValueTest testCLValueSerialization]' started.
Test Case '-[Serialization_CLValueTest testCLValueSerialization]' passed (0.022 seconds).
Test Suite 'Serialization_CLValueTest' passed at 2022-04-04 23:30:17.793.
	 Executed 1 test, with 0 failures (0 unexpected) in 0.022 (0.023) seconds
Test Suite 'Serialization_DeployTest' started at 2022-04-04 23:30:17.794
Test Case '-[Serialization_DeployTest testDeployHeaderSerialization]' started.
Test Case '-[Serialization_DeployTest testDeployHeaderSerialization]' passed (0.002 seconds).
Test Case '-[Serialization_DeployTest testDeploySerialization]' started.
Test Case '-[Serialization_DeployTest testDeploySerialization]' passed (0.002 seconds).
Test Suite 'Serialization_DeployTest' passed at 2022-04-04 23:30:17.799.
	 Executed 2 tests, with 0 failures (0 unexpected) in 0.003 (0.005) seconds
Test Suite 'Serialization_ExecutableDeployItemTest' started at 2022-04-04 23:30:17.800
Test Case '-[Serialization_ExecutableDeployItemTest testExecutableDeployItemSerialization]' started.
Test Case '-[Serialization_ExecutableDeployItemTest testExecutableDeployItemSerialization]' passed (0.014 seconds).
Test Suite 'Serialization_ExecutableDeployItemTest' passed at 2022-04-04 23:30:17.815.
	 Executed 1 test, with 0 failures (0 unexpected) in 0.014 (0.015) seconds
Test Suite 'CasperSDKObjectiveCTests.xctest' passed at 2022-04-04 23:30:17.816.
	 Executed 16 tests, with 0 failures (0 unexpected) in 51.790 (51.824) seconds
Test Suite 'All tests' passed at 2022-04-04 23:30:17.817.
	 Executed 16 tests, with 0 failures (0 unexpected) in 51.790 (51.827) seconds


Testing Complete    4.04.2022 23:30    54.9 seconds

```